@import ../utils/variables
@import ../utils/variables-special
@import ../utils/mixins
@import ../../libs/include-media/dist/include-media

.cecutient-version
	// base
	$font-size: 1.6rem
	$line-height: round-float(3.0rem/$font-size, 2)
	$font-size-small: 1.4rem !default
	$line-height-small: round-float(2.0rem/$font-size, 2) !default
	// ===============
	$font-size-h1: 3.6rem !default
	$line-height-h1: 1.2 !default
	$font-size-h1--sm: 2.6rem !default
	$line-height-h1--sm: 1.3 !default
	// ===============
	$font-size-h2: round-float($font-size-h1*0.78, 1) !default
	$line-height-h2: round-float(($line-height-h1*1.08),1) !default
	$font-size-h2--sm: round-float($font-size-h1--sm*0.85, 1) !default
	$line-height-h2--sm: round-float(($line-height-h1--sm*1.08),1) !default
	// ===============
	$font-size-h3: round-float($font-size-h1*0.56, 1) !default
	$line-height-h3: round-float(($line-height-h1*1.08),1) !default
	// ===============
	$font-size-h4: round-float($font-size-h1*0.44, 1) !default
	$line-height-h4: round-float(($line-height-h1*1.33),1) !default

	$news-item-height: auto

	$animation-speed: 0s

	//*
		&, &::before, &::after
			transition-duration: 0s !important
	&
		font-weight: 500

	hr
		border-width: #{$border-width}

	.special-hide
		display: none

	// ASIDE
	.aside
		width: 100% !important
		margin: $bottom-space-md 0 0

	.aside__holder
		width: auto !important
		position: relative!important
		top: auto !important
		bottom: auto !important

	.aside__holder + div
		display: none !important

	//.main-frame, .content-wrap
		float: none
		width: auto

	.content
		margin-right: 0
		padding-right: 0

	// buttons
	// all default
	.btn-default, .btn-map-site, .btn-default-alt, .btn-default-light, .btn-arrow
		font-size: 18px
		border: #{$border-width} solid
		transition-duration: $animation-speed

		&:disabled, .no-touchevents &:disabled:hover
			cursor: no-drop

		&:active
			transform: none

	// btn-arrow
	.btn-arrow

		& > span
			padding: 0

			&::before, &::after
				display: none
				transition-duration: $animation-speed

	// more button
	.more
		.btn-more
			border: #{$border-width} solid
			padding: 8px 12px
			transition-duration: $animation-speed

			&::before
				content: none

			i
				display: none

	// button map site
	.btn-map-site
		transition-duration: $animation-speed

		& > i
			display: none
			transition-duration: $animation-speed

	// social networks
	.social-networks__item

		&, .soc-media-share &
			a
				+size(40px)

				path
					transition-duration: $animation-speed

				.no-touchevents &:hover
					transform: none

				&:active, .no-touchevents &:active
					transform: none
					transition-duration: $animation-speed

	// tags
	.article-layout .tags
		border-width: #{$border-width}

	.tags__list, .#{$user-content} .tags__list
		a
			border-width: #{$border-width} #{$border-width} #{$border-width*2}

			&::after, &::before
				content: none

	// form styles default
	.label-holder, label
		+font(18px, 30px)

	input[type="text"], input[type="password"], input[type="email"], input[type="search"], textarea
		border: #{$border-width} solid
		padding: 11px 17px
		+font(20px, 24px)

	.error-note
		padding: 0 5px
		+size(100%, 1.7em)
		+font(16px, 1.7)

	.success-text
		font-weight: bold

	input[type="checkbox"] + label,
	input[type="radio"] + label,
	.check-label,
	.radio-label
		+font(16px, 22px)

	input[type="checkbox"],
	input[type="radio"]
		& + label,
		& + span i
			&::before
				border: #{$border-width} solid

	input[type="checkbox"]
		& + label span,
		& + span
			&::before,
			&::after
				transition-duration: $animation-speed
				transition-delay: 0s

		&:checked
			& + label,
			& + span i
				&::before
					transition-duration: $animation-speed

	input[type="radio"]
		& + label span,
		& + span i
			&::after
				animation-name: none
				+size(12px)
				top: 7px
				left: 7px
				display: none

		&:checked

			& + label span,
			& + span i

				&::after
					display: block

	// select
	.select
		select,
		.select2-container--default .select2-selection--single,
		.select2-container--default .select2-selection--multiple
			border: #{$border-width} solid
			padding: 12px 49px 12px 17px
			transition-duration: $animation-speed

		select,
		.select2-container--default .select2-selection--single .select2-selection__rendered,
		.select2-container--default .select2-selection--multiple .select2-selection__rendered
			color: $text-color

		select
			padding-right: 49px

		&::before,
		&::after,
		.select2-container--default .select2-selection--single .select2-selection__arrow b::before,
		.select2-container--default .select2-selection--single .select2-selection__arrow b::after
			content: none
			transform: none

		&::before,
		.select2-container--default .select2-selection--single .select2-selection__arrow b::before
			content: ''
			right: 13px
			top: 50%
			margin-top: -7px

		.select2-container--default .select2-selection--multiple
			padding: 8px 49px 8px 17px

			.select2-selection__rendered
				li
					padding: 0 4px
					margin: 4px 8px 4px 0
					border-radius: 0

					&::before
						content: none

			.select2-selection__choice__remove
				position: relative
				+font(24px, 20px)
				margin-right: 10px
				top: 2px

	.select2-dropdown
		border: #{$border-width} solid

	.select2-container--default
		.select2-search--dropdown
			.select2-search__field
				padding: 8px 8px
				border: #{$border-width} solid

				&:focus
					border-color: $text-color
					box-shadow: inset 0 0 0 1px $text-color

		.select2-results>.select2-results__options
			max-height: 210px

	.select2-container--default .select2-results__option[aria-selected=true]

		&::before
			+pseudo($display: inline-block, $pos: relative)
			+size(15px, 4px)
			vertical-align: top
			margin-right: 10px
			margin-top: 13px

	// LAYOUT
	.wrapper
		&::before
			border-right: #{$border-width} solid

	&.home-page .aside
		padding-top: calc(2rem * 1.3 + #{$bottom-space})

	// user form
	.user-form
		border: #{$border-width} solid

		.form-note__item
			+font(18px, 24px)

	// jFiler
	.jFiler-input-dragDrop
		border: #{$border-width} dashed
		transition-duration: $animation-speed

	.jFiler-input-icon
		display: none

	.jFiler-input-text strong
		+font(20px, 1.3)

	ul .jFiler-item
		&, .#{$user-content} &
			&:first-child, &:last-child
				+font(18px, 1.3)
				margin: 0
				padding: 10px 0

	.jFiler-item-others

		&::after
			border-bottom: #{$border-width} dotted

	.jFiler-item-trash-action
		border: #{$border-width} solid
		padding: 2px 5px
		+size(70px, auto)
		text-decoration: none
		text-align: center

		&::before
			content: 'Delete'
			position: relative
			left: auto
			top: auto
			transition-duration: $animation-speed
			margin: 0
			transform: none
			background: none
			+size(auto)

		&::after
			content: none

		.no-touchevents &:hover::before
			background: none

	// grid
	.content [class*="grid-col-"]
		float: none
		width: auto
		margin-bottom: $bottom-space
		min-height: 0

		&:last-child
			margin-bottom: 0

	// section
	.section
		margin-bottom: $bottom-space-lg

	.section:last-child
		margin-bottom: 0

	* ~ .section
		margin-top: $bottom-space-lg

	.section > *:last-child
		margin-bottom: 0

	.section__title, .section__subtitle

		.v-separator

			& + a
				border: #{$border-width} solid

				+media('<tab-lg')
					font-size: 12px

	.section__title
		margin-bottom: $bottom-space
		+font($font-size-h2, $line-height-h2)

	.section__subtitle
		position: relative
		margin-bottom: $bottom-space
		+font($font-size-h4, $line-height-h4)
		padding-left: 2em

		&::before
			+pseudo()
			+top-left(50%, 0)
			+size(1em)
			margin-top: -0.5em

	.v-separator
		text-indent: -9999px
		overflow: hidden
		+size(2px, 12px)

		& + a
			padding: 5px
			font-weight: bold
			text-decoration: none

	.section__box
		padding: 0

		*
			font-size: 1em

	// breadcrumbs
	.breadcrumbs
		+font(18px, 21px)

	.breadcrumbs__item
		margin-right: 15px

		& > a
			padding-right: 25px
			transition-duration: $animation-speed

			& > span
				transition-duration: $animation-speed
				border-width: #{$border-width}

			& > i
				top: 4px
				+size(10px, 12px)

				&::before
					border-width: 6px 0 6px 10px
					margin-top: -6px

	.breadcrumbs-drop
		top: -15px
		transition-duration: $animation-speed

	.breadcrumbs-drop__item
		margin: 15px 0

		a

			& > span
				transition-duration: $animation-speed
				border-width: #{$border-width}

	// pagination
	.paging
		+font($font-size-h3, 1.7)

		a, path
			transition-duration: $animation-speed

	.paging-list
		display: block
		+margin-vertical(#{$bottom-space-sm})
		max-width: none

		a
			transition-duration: $animation-speed

	// files item
	.files__item
		+font($font-size, $line-height)

	.files__inner

		&, .no-touchevents &:hover
			transition-duration: $animation-speed

	// years
	.years, .sorting-select
		font-family: $font-alt
		+font($font-size-h4, $line-height-h4)
		font-weight: normal

		a
			font-size: 1em
			position: relative
			padding: 5px
			transition-duration: $animation-speed

		& > a
			border: #{$border-width} solid

			& > span
				border: none
				line-height: inherit
				transition-duration: $animation-speed

	.years-drop, .sorting-select-drop
		padding: 0
		left: auto
		right: 0
		margin: 2px 2px 0 0
		transition-duration: $animation-speed
		+font($font-size-h3, $line-height-h3)

		&::before
			content: none

		li
			border-top: #{$border-width} solid

			&:first-child
				border: none

		a
			padding: 8px 14px

	// sorting
	.sorting-options
		+font($font-size, $line-height)

	.news-date
		+font(0.8em, inherit)

		a
			& > span
				border-width: 2px

	// view print
	.view-print
		border: #{$border-width} solid
		transition-duration: $animation-speed

		path
			transition-duration: $animation-speed

		+media('<tab-lg')
			display: none

	// article meta
	=article-meta-text-size()
		+font($font-size, $line-height)
		font-weight: normal

	.article-meta
		+article-meta-text-size

	.datetime
		+article-meta-text-size

	.visit
		+article-meta-text-size

	.visit-view
		*
			font-weight: normal

		svg
			+size(24px)
			margin-right: 10px

			&.depict-visit-share
				+size(18px)

	// slider arrows
	.slick-arrow,
	.swiper-arrow
		+size(60px)
		border: #{$border-width} solid

		&::after
			+top-left(50%)
			right: auto
			bottom: auto
			transform: translate(-50%, -50%)

	.slick-prev,
	.slick-next,
	.swiper-button-prev,
	.swiper-button-next
		&::after
			border: none
			margin: 0

	.slick-prev-outside
		right: (60px + 20)

	// swiper slider
	.tape-slider .swiper-container
		&::before, &::after
			content: none

	// promo slider
	.promo
		display: none

	.promo-slider__img
		background: $bg-color !important
		border: #{$border-width} solid

	.promo-slider__text
		text-shadow: none

	// tape slider
	.tape-slider
		border: #{$border-width} solid

	.tape-slider__anchor
		transition-duration: $animation-speed

	// images slider
	.images-slider
		.slick-arrow
			top: 100%
			margin-top: -15px

		.slick-prev
			right: auto
			left: 0

		.slider-counter
			left: 50%
			transform: translate(-50%, 0)
			+font(round-float($font-size*1.2, 1), 1.2)

			.slide-curr
				+font-bold
				font-size: round-float($font-size*1.5, 1)

	// flashes
	.flashes
		padding: 50px 80px 0

	//news slider
	.news-grid-slider
		white-space: normal

		.slick-track
			transform: none
			width: auto

		&::after
			content: none

		.slick-dots, .slick-arrow
			display: none

	.news-grid-slider__slide
		display: block
		float: none
		height: auto
		width: auto

	// tape slider
	.tape-slider
		+padding-horizontal(calc(60px - #{$border-width}))
		margin-bottom: $bottom-space-md

		.swiper-button-prev
			left: -#{$border-width}

		.swiper-button-next
			right: -#{$border-width}

	.tape-slider__anchor
		padding: 13px 15px
		+font(16px, 30px)

		+media('<tab-lg')
			font-size: 12px

	// save info
	.save
		height: $news-item-height
		margin-bottom: $bottom-space-md
		border: solid
		border-width: #{$border-width} 1px

		&::after
			display: none

	.save__holder
		+clear-spacing

	.save__holder, .save__align
		padding: 0
		position: relative
		left: auto
		right: auto
		top: auto
		bottom: auto
		width: auto
		height: auto
		transform: none

	.save__box
		height: auto
		+display-inline-block-middle
		width: 50%

	.save__box:first-child
		border: none

	.save__align
		padding: 10px
		border: solid
		border-width: 0 1px

		& > strong, & > span
			+display-inline-block-middle
			margin-right: 10px
			margin-left: 10px

	// events summary
	.events-sum, .section__title.hide-tab-lg
		height: $news-item-height
		display: none

	.events-sum__nav
		display: none

	.events-sum__panels
		height: auto !important

	.events-sum__panel
		height: auto !important
		position: relative !important
		left: auto !important
		top: auto !important
		right: auto !important
		bottom: auto !important
		visibility: visible !important
		opacity: 1 !important
		z-index: auto !important
		padding: 0
		margin-bottom: $bottom-space

		&::after
			content: none

	.events-list__item
		+font($font-size, $line-height)
		border-bottom: none
		padding: 0
		margin-bottom: $bottom-space

	.events-sum__footer
		position: relative
		left: auto
		bottom: auto
		width: auto
		padding: 0

		a
			+display-inline-block-top
			padding: 10px 20px
			font-family: $font-alt
			+font(18px, 24px)
			text-decoration: none
			border: #{$border-width} solid

	// obzh
	.obzh__tab
		a
			border: solid
			transition-duration: $animation-speed
			border-width: #{$border-width} #{$border-width} #{$border-width} 0

			+media('<desk-hd')
				border-width: 0 0 #{$border-width} #{$border-width}

			+media('<tab-lg')
				border-width: #{$border-width}

			span
				color: inherit
				transition-duration: inherit

				&::after
					content: none

		&:first-child
			a
				border-left-width: #{$border-width}

				+media('<desk-hd')
					border-top-width: #{$border-width}

	.obzh__panel
		padding: 0

	.obzh-banner
		background-image: none !important
		border: #{$border-width} solid



	// NEWS ALL TYPE
	// стили для всех типов новостных блоков

	.news-grid--main
		max-width: none

	.news-previews__list,
	.news-grid__list,
	.news-group__list,
	.news-float__list
		+margin-horizontal(0)
		margin-bottom: $bottom-space

	.news-previews__item,
	.news-grid__item,
	.news-grid__item--large,
	.news-grid__item--wide,
	.news-group__item,
	.news-float__item
		display: block
		float: none
		+size(auto !important)
		+padding-horizontal(0)
		margin: 0 0 $bottom-space
		+font($font-size, $line-height)

		&:last-child
			margin-bottom: 0

		*
			transition-duration: $animation-speed !important

	.news-previews__title,
	.news-grid__title,
	.news-group__title,
	.news-float__title,
	.news-previews__text,
	.news-grid__text,
	.news-group__text,
	.news-float__text,
	.news-previews__meta,
	.news-grid__meta,
	.news-group__meta,
	.news-float__meta
		color: inherit !important // важно! не удалять

	.news-previews__inner,
	.news-grid__inner,
	.news-group__inner,
	.news-float__inner
		height: auto
		box-shadow: none
		padding: 0 !important // важно! перебивает псевдокласс первого элемента
		+font(inherit, inherit)

	.news__label
		display: none

	.news-previews__img,
	.news-grid__img,
	.news-group__img,
	.news-float__img
		display: none

	.news-previews__content,
	.news-grid__content,
	.news-group__content,
	.news-float__content
		height: auto !important // важно! перебивает псевдокласс первого элемента
		min-height: 0 !important // важно! перебивает псевдокласс первого элемента
		margin-top: 0 !important // важно! перебивает псевдокласс первого элемента
		padding: 5px 10px !important // важно! перебивает псевдокласс первого элемента

		&::before
			content: none

	.news-previews__title,
	.news-previews__text,
	.news-grid__title,
	.news-grid__text,
	.news-group__title,
	.news-group__text,
	.news-float__title,
	.news-float__text,
	.soc-media__text
		height: auto !important // важно! перебивает псевдокласс первого элемента
		max-height: none !important // важно! перебивает псевдокласс первого элемента
		margin-bottom: 1em
		font-family: $font-alt
		font-weight: 700
		+font($font-size-h3, $line-height-h3)

	.news-previews__title,
	.news-grid__title,
	.news-group__title,
	.news-float__title

		& ~ [class*="__text"]
			font-family: $font-norm
			font-weight: normal
			+font($font-size, $line-height)
			max-height: none !important // важно! перебивает псевдокласс первого элемента

	.news-previews__meta,
	.news-grid__meta,
	.news-group__meta,
	.news-float__meta
		+font($font-size-small, $line-height-small)
		position: relative
		left: auto
		top: auto
		bottom: auto
		right: auto
		width: auto
		+clear


	// news links
	.news-links__inner

		&::before
			+pseudo()
			top: -#{round($sidebar-inner-space-horizontal*0.5)}
			bottom: -#{round($sidebar-inner-space-horizontal*0.5)}
			left: -#{$sidebar-inner-space-horizontal}
			right: -#{$sidebar-inner-space-horizontal}
			z-index: -1

	.news-links__text, .news-links__meta
		transition-duration: $animation-speed
		color: inherit

	// news read
	.news-read__inner

		&::before
			transition-duration: $animation-speed


	// news previews
	.grid-row .news-group__item:last-child
		//margin-bottom: $bottom-space

	// news grid
	.news-grid__item, .news-grid__list > .news-grid__item--large
		float: none
		width: auto

	.news-grid__item--wide .news-grid__inner::before
		content: none

	.grid-row .news-grid__item--wide:last-child
		//margin-bottom: $bottom-space

	.others-news .news-grid__list:last-child
		margin-bottom: 0

	// news group
	.news-group::before
		content: none

	// social media
	.soc-media
		&::before
			content: none

	.soc-media__col
		float: none
		width: auto
		margin: 0 0 $bottom-space

		&:last-child
			margin-bottom: 0

		a
			padding: 5px

		*
			transition-duration: $animation-speed

		.no-touchevents & a:hover

			.soc-media-share__label, .soc-media__link
				color: inherit

		a, .soc-media-share__label, .soc-media__link
			color: inherit

	.soc-media__visual
		border-width: 2px

		.video
			background: none
			max-width: 640px
			margin: 0 auto

	.soc-media__img
		//display: none
		+size(200px)
		padding: 0
		margin-bottom: $bottom-space

	.soc-media__link
		+font-normal
		+font($font-size, $line-height)

	// side

	.side__depict
		border-bottom: 1px solid

	.side__text

		span
			transform: none
			transition-duration: $animation-speed
			opacity: 1
			visibility: visible

	// survey
	.survey
		border: #{$border-width} solid

		*
			font-weight: normal

		.survey__all
			padding: 5px 10px
			border: #{$border-width} solid
			text-decoration: none
			margin-top: -7px
			margin-bottom: -7px

		input[type="radio"]

			& + label span,
			& + span i

				&::after
					+size(12px)
					+top-left(4px)

		.survey__footer [class*="btn-default-"]
			border: #{$border-width} solid
			opacity: 1

	// expander
	.expander-item
		border: #{$border-width} solid

		+media('<mob-lg')
			border-width: 0 0 #{$border-width}

			&:first-child
				border-top-width: #{round($border-width*0.5)}

	.expander-header
		transition-duration: $animation-speed

	.expander-header__meta
		float: none
		width: auto
		font-weight: bold
		+font($font-size, $line-height)
		color: $text-color
		margin-bottom: $bottom-space

		+media('<mob-lg')
			+font($font-size, $line-height)

		time
			font-weight: normal

	.expander-header__text
		padding-right: 0
		padding-bottom: 70px
		+font($font-size, $line-height)

	.expander-angle
		right: auto
		top: 100%
		bottom: auto
		transform: translate(0, calc(-100% - #{$grid-inside-vertical-space}))
		+size(auto)

		+media('<tab-lg')
			transform: translate(0, calc(-100% - #{$article-layout-space-vertical--tab-lg}))

		+media('<mob-lg')
			transform: translate(0, calc(-100% - #{$article-layout-space-vertical--mob-lg}))

		& > i
			display: none

		& > span
			+display-inline-block-top
			+show-text
			+font(0, 0)
			margin: 0
			border: #{$border-width} solid

			&::before, &::after
				display: block
				font: normal 18px/24px #{$font-alt}
				border: none

		& > span, & > span::after
			padding: 11px 25px

	.expander-panel
		+font($font-size, $line-height)
		border-top: #{$border-width} solid

	.expander-header__text, .expander-panel__holder
		margin-left: 0

	.expander-panel__holder
		padding-top: 30px

	// search page
	.search-form__btn
		height: 100%
		top: 0
		margin: 0
		border: #{$border-width} solid

		&:active
			transform: none

		svg
			+size(32px)
			margin-top: -16px
			display: none

			+media('<mob-lg')
				display: inline-block

		path
			transition-duration: $animation-speed

		span
			font-size: 20px
			transition-duration: $animation-speed

		+media('<mob-lg')
			width: 60px

	input.search-form__input

		&, &:hover, &:focus
			padding-right: #{$search-form-popup-btn-width+10}

			+media('<mob-lg')
				padding-right: 60px

	.search-page-options
		+font($font-size, $line-height)

		+media('<tab-sm')
			+font($font-size, $line-height)

	.popup-label, .search-page-options
		+media('<desk-lg')
			display: block

			& > div
				margin-bottom: $bottom-space-sm

				&:last-child
					margin-bottom: 0

	.search-result__date, .search-result__path
		+font($font-size, $line-height)

	.search-result__title
		+font($font-size-h3, $line-height-h3)
		max-height: none

		a
			display: inline-block
			vertical-align: top
			padding: 5px
			transition-duration: $animation-speed
			max-height: calc(#{$font-size-h3} * #{$line-height-h3} * 3 + 5px*2)

	.search-result__text
		+font($font-size, $line-height)
		max-height: calc(#{$font-size} * #{$line-height} * 3)

	// HEADER
	// logo
	.logo-wrap
		border-bottom: none

	.header__content .logo
		+media('<tab-lg')
			border-bottom: #{$border-width} solid

	// header content
	.header__content

		.holder

			+media('<tab-lg')
				border-bottom: #{$border-width} solid

		.frame

			+media('<desk-sm')
				border-right: #{$border-width} solid

			+media('<tab-lg')
				border-right: none

	// header contacts
	.header__contacts
		ul

			li
				+media('<mob-lg')
					border-bottom: #{$border-width} solid

				&::before
					border: solid
					border-width: 0 0 0 #{$border-width}
					transition-duration: $animation-speed

					+media('<tab-lg')
						border-width: 0 0 0 #{$border-width}

				a
					transition-duration: $animation-speed

					& > div
						& > em
							color: $mark-color

						& > span
							+font(16px, 20px)
							font-weight: normal

							+media('<desk-lg')
								font-size: 12px

							+media('<tab-lg')
								font-size: 14px

	// header info
	.header__info
		font-weight: normal
		+font($font-size-small, $line-height-small)

		+media('<desk-lg')
			font-size: $font-size-small

		a
			& > span
				border-bottom: #{$border-width} solid

	// user options
	.user-options__item
		& > a
			font-weight: normal

			&, & > div, svg, path
				transition-duration: $animation-speed

		&.cecutient-link
			z-index: 2

	// lang
	.lang
		& > a
			transition-duration: $animation-speed

	// NAVIGATION
	.nav
		a
			font-weight: normal
			transition-duration: $animation-speed

	// nav item arrow
	.nav__angle
		+size(15px, 20px)
		margin-top: -10px
		right: 15px

		&::before, &::after
			content: none
			background: none
			border-radius: 0
			transition-duration: $animation-speed
			transform: none
			margin: 0

		&::after
			content: ''
			top: 0

	// общие стили для всех ПОДМЕНЮ
	.nav__drop
		border: #{$border-width} solid
		box-shadow: none
		transition-duration: $animation-speed

		a
			border-width: #{$border-width}

	// подменю первого уровня и подменю первого уровня для "priority-nav"
	.nav__list, .priority-nav__dropdown
		& > li
			& > .nav__drop
				min-width: 100%
				border-top: #{$border-width} solid

	// priority nav
	.nav
		.priority-nav__dropdown-toggle
			transition-duration: $animation-speed

	.priority-nav__dropdown

		&::after
			+pseudo()
			left: 0
			bottom: 0
			width: 100%
			height: 1px




	// SIDEBAR
	.sidebar
		border-right: #{$border-width} solid

	.sidebar-top__holder
		border-bottom: #{$border-width} solid

	.sidebar-bottom__heading, .popup-news__heading
		.btn-filters-open
			&::before
				+pseudo()
				width: 36px
				height: 36px
				left: 50%
				top: 50%
				margin: -18px 0 0 -18px
				z-index: -1

			path
				transition-duration: $animation-speed

	// sidebar menu
	.sidebar-menu
		a
			transition-duration: $animation-speed

			.no-touchevents &:hover
				transition-duration: $animation-speed

			.no-touchevents &.active-section, &.active-section
				transition-duration: $animation-speed

				&::before
					width: 8px

	.nav-menu-opener
		i
			$menu-opener-icon-height: 36px

			right: #{$grid-inside-horizontal-space - 6px}
			+size($menu-opener-icon-height)
			margin-top: -#{round($menu-opener-icon-height*0.5)}

			&::after
				left: 50%
				bottom: 50%
				margin: 0 0 -7px -10px
				transition-duration: $animation-speed

	// ASIDE
	.aside__widget
		h3
			+font(1.8rem, 1.3)
			font-weight: 700



	// FOOTER
	.footer,
	.footer-gov,
	.footer-common,
	.footer-bottom
		border-top: #{$border-width} solid

	.footer
		border: none

	// footer gov
	.gov__list
		.slick-dots
			li
				button
					+size(20px)

					&::before
						border: #{$border-width} solid

	.gov__link
		border: none
		+font-bold

	// footer common
	.footer-nav__col
		+font($font-size, $line-height)

	.footer-nav__title
		+font($font-size, $line-height)

	// developer
	.developer__logo
		&::before
			content: none

	.no-touchevents & a:hover .developer__logo
		&::after
			transform: translate(0, 0)

	// orphus
	.orphus
		background: none
		border: #{$border-width} solid



	// SUB SITES
	// MENU REGION and NAV MOBILE
	.region-menu-heading
		border-bottom: #{$border-width} solid
		transition-duration: $animation-speed

	.region-menu-btn
		&::before, &::after
			transition-duration: $animation-speed

		& > i
			&, &::before, &::after
				transition-duration: $animation-speed


	.sidebar-region-news__heading
		border: solid
		border-width: #{$border-width} 0
		transition-duration: $animation-speed

	// region menu
	.region-menu__list, .nav-mobile__list
		a
			border-bottom: #{$border-width} solid
			transition-duration: $animation-speed

	// СТРЕЛКИ навигации
	.region-menu__angle, .nav-mobile__angle
		border-width: 0 0 #{$border-width} #{$border-width}
		transition-duration: $animation-speed

		i
			transition-duration: $animation-speed

			&::before, &::after
				transition-duration: $animation-speed



	// region header
	.region-header
		border-bottom: 2px solid

		&::before
			display: none

	.region-header__caption
		text-shadow: none
		width: auto
		min-height: 0

		+media('<tab-lg')
			min-height: 0

		+media('<mob-lg')
			min-height: 0

	.region-header__holder
		width: auto

	.region-header__info
		li
			+font($font-size, $line-height)


	// lead
	.lead__description
		border-bottom: #{$border-width} solid

	.lead__list
		+margin($l: -#{$border-width}, $b: -#{$border-width}, $r: -#{$border-width})

	.lead__item
		padding: 0 0 #{$border-width} #{$border-width}

	.lead__layer, .lead__layer--front, .lead__layer--back
		transition-duration: $animation-speed

	.lead__layer--back
		left: #{$border-width}
		bottom: #{$border-width}
		min-height: calc(100% - #{$border-width})

	.lead__position
		+font($font-size-h3, $font-size-h3)

	.lead__name
		+font($font-size-h3, $line-height-h3)

	.lead__footer
		a
			font-family: $font-alt
			display: inline-block
			padding: 5px 12px
			border: #{$border-width} solid

			span
				border: none !important


	// history info
	.history-info__holder
		padding: 0


	// media block
	.media-block__nav
		border-bottom: #{$border-width} solid

	.media-block__tab
		margin-bottom: -#{$border-width}

		a
			border: #{$border-width} solid transparent

	.media-list__item
		font-family: $font-alt
		+font($font-size-h3, $line-height-h3)

	.media-list__inner
		transition-duration: $animation-speed

	.media-list__img
		display: none


	// banners
	.aside .banners-group
		display: none

	.banners__item
		+font($font-size, $line-height)

	// context banners
	.context-banner
		max-width: 320px


	// POPUPS
	.btn-popup-close
		$btn-lines-width: 40px
		$btn-lines-height: 6px

		=line-style()
			+size($btn-lines-width, $btn-lines-height)

		transition-duration: $animation-speed
		box-shadow: none

		& > i
			transition-duration: $animation-speed
			+line-style
			transform: none !important

			&::before, &::after
				+line-style

	.site-map__container
		a

			.no-touchevents &:hover, .no-touchevents .current > &, .current > &
				padding-top: 5px

	.site-map__box
		+font(20px, 24px)

	// lang list
	.lang__list
		a
			transition-duration: $animation-speed
			padding-top: 8px

			&.current
				&, .no-touchevents &:hover
					text-decoration: none

	.popup-label
		+font(18px, 24px)

	// share link list
	.share-link__list
		a

			&, path
				transition-duration: $animation-speed

	.popup-label__options

		a
			border: #{$border-width} solid
			padding: 5px 10px

		a, path
			transition-duration: $animation-speed

	// banner opener
	.banner-opener

		a

			svg
				transform: scale(1)

	// banner closer
	.btn-popup-banners-close

		.no-touchevents &:hover

			& > i
				transform: scale(1)

	// filters popup
	.filters-form
		.check-label, .radio-label, input[type="checkbox"], input[type="radio"]
			font-size: 16px
			font-weight: normal
			text-transform: none

	// flatpickr
	.numInputWrapper
		input[type="text"], input[type="password"], input[type="email"], input[type="search"], textarea
			border: none
			padding: 0 5px
			+font(20px, 24px)

			&:focus
				box-shadow: none