@import ../utils/variables
@import ../utils/variables-special
@import ../utils/mixins
@import ../../libs/include-media/dist/include-media

.color-scheme-bw
	// base
	$font-size: 1.6rem
	$line-height: round-float(3.0rem/$font-size, 2)
	
	// color
	$base-color: black
	//$bg-color: #c8e5ff
	$bg-color: white
	//$text-color: #002d56
	$text-color: black
	$text-color-light: black
	$text-color-alt: black
	$mark-color: black
	$mark-color-alt: black
	$title-color: black
	$link-color: black
	$link-color-inverse: white
	$link-color-disabled: #989898
	$link-color-visited: #989898
	$border-color: $text-color
	$footer-bg-color: white
	$footer-text-color: black

	background-color: $bg-color
	color: $text-color

	h1, h2, h3, h4, h5, h6
		color: $title-color

	table
		td, th
			color: $text-color
			border-color: $border-color

	img
		+gray()

	hr
		border-bottom-color: $border-color

	a
		color: $link-color

		//&:visited
			color: $link-color-visited

	.mark
		color: $bg-color
		background-color: $mark-color

	.dark-text
		color: $text-color

	.dark-text-light
		color: $text-color-light

	.text-color-alt
		color: $text-color-alt

	.#{$user-content}
		ul > li::before
			border-left-color: $mark-color

		ol > li::before
			color: $mark-color

		.tbl
			td, th, th, thead td, tfoot td
				color: $text-color
				background-color: $bg-color
				border: 1px solid $border-color

		blockquote q
			color: $text-color

			&::before, &::after
				background-image: url(../../img/quote-left--bw.svg)

	// view print
	.view-print
		color: $text-color-alt
		border: 2px solid $text-color-alt
		transition-duration: 0s

		.no-touchevents &:hover
			background-color: $text-color-alt

	// text warning
	.text-warning
		&::before
			background-color: $mark-color
			color: $bg-color
	
	// rss
	.rss
		&, .section__title &
			background-color: $text-color
			
	// buttons
	// btn-default
	.btn-default, .btn-map-site
		font-size: 18px
		color: $link-color-inverse
		background-color: $link-color
		border: 2px solid $link-color
		transition-duration: 0s

		.no-touchevents &:hover
			background-color: $link-color-inverse
			color: $link-color

		&:disabled
			background-color: $link-color-disabled

			.no-touchevents &
				background-color: $link-color-disabled

	// btn-default-alt
	.btn-default-alt
		font-size: 18px
		color: $link-color
		border: 2px solid $link-color
		background-color: $link-color-inverse
		transition-duration: 0s

		.no-touchevents &:hover
			background: $link-color
			color: $link-color-inverse

		&:disabled
			border-color: $link-color-disabled
			color: $link-color-disabled

			.no-touchevents &
				background-color: $bg-color

				&:hover
					color: $link-color-disabled

	// btn-default-light
	.btn-default-light
		font-size: 18px
		color: $text-color
		transition-duration: 0s

		&:disabled
			background-color: $bg-color
			border-color: $link-color-disabled
			color: $link-color-disabled

			.no-touchevents &
				background-color: $bg-color

				&:hover
					color: $link-color-disabled

	// btn-arrow
	.btn-arrow
		font-size: 18px
		color: $link-color-inverse
		background-color: $link-color
		border: 2px solid $link-color
		transition-duration: 0s

		& > span
			padding: 0
			&::before, &::after
				display: none
				transition-duration: 0s

		.no-touchevents &:hover
			background-color: $link-color-inverse
			color: $link-color

			& > span
				&::before, &::after
					background-color: $link-color

	// more button
	.more
		.btn-more
			color: $text-color-alt
			border: 2px solid $link-color
			background-color: $link-color-inverse
			padding: 8px 12px
			transition-duration: 0s

			.no-touchevents &:hover
				color: $link-color-inverse
				background-color: $link-color

			&::before
				content: none

			i
				display: none

	// button map site
	.btn-map-site
		transition-duration: 0s

		& > i
			display: none
			transition-duration: 0s

	// social networks
	.social-networks__item
		a
			background: transparent
			box-shadow: inset 0 0 0 2px $link-color

			path
				fill: $link-color
				transition-duration: 0s

			.no-touchevents &:hover
				box-shadow: inset 0 0 0 2px $link-color
				transform: none
				background: $link-color

				path
					fill: $link-color-inverse

			&:active, .no-touchevents &:active
				box-shadow: none
				transform: none
				transition-duration: 0s

	.tags__list, .#{$user-content} .tags__list
		a
			color: $link-color
			border-color: $link-color
			background: $link-color-inverse
			border-width: 2px 2px 5px

			&::after, &::before
				content: none

			.no-touchevents &:hover
				background-color: $link-color
				color: $link-color-inverse

	// form styles default
	.label-holder, label
		color: $text-color
		+font(18px, 30px)

	.form-mark
		color: $mark-color

	input[type="text"], input[type="password"], input[type="email"], input[type="search"], textarea
		color: $text-color
		background: $bg-color
		border: 2px solid $border-color
		padding: 11px 17px
		+font(20px, 24px)

		.no-touchevents &:hover
			border-color: $border-color

		&:focus,
		&.error, .error > &, .no-touchevents &.error, .no-touchevents .error > &
			color: $text-color
			border-color: $border-color
			box-shadow: inset 0 0 0 1px $border-color

	.error-note
		color: $bg-color
		background-color: $text-color
		padding: 0 5px
		+size(100%, 1.7em)
		+font(16px, 1.7)

	.success-text
		color: $text-color
		font-weight: bold

	input, textarea
		&::-webkit-input-placeholder
			color: $text-color

		&:-moz-placeholder
			color: $text-color

		&::-moz-placeholder
			color: $text-color

		&:-ms-input-placeholder
			color: $text-color

		&.placeholder
			color: $text-color

		&.error
			&::-webkit-input-placeholder
				color: $text-color

			&:-moz-placeholder
				color: $text-color

			&::-moz-placeholder
				color: $text-color

			&:-ms-input-placeholder
				color: $text-color

			&.placeholder
				color: $text-color

	input[type="checkbox"] + label,
	input[type="radio"] + label,
	.check-label,
	.radio-label
		+font(16px, 22px)

	input[type="checkbox"],
	input[type="radio"]
		& + label,
		& + span i
			&::before
				border: 2px solid $link-color

	input[type="checkbox"]
		& + label span,
		& + span
			&::before,
			&::after
				background: $link-color
				transition: none

		&:checked
			& + label,
			& + span i
				&::before
					border-color: $link-color
					background-color: $link-color

			& + label span,
			& + span
				&::before, &::after
					background-color: $link-color-inverse

		&:disabled
			& + label,
			& + span i
				&::before
					border-color: $link-color
					background-color: $link-color-inverse

			& + label span,
			& + span
				&::before, &::after
					background: lighten($link-color, 40%)

	input[type="radio"]
		& + label span,
		& + span i
			&::after
				animation-name: none
				+size(12px)
				top: 7px
				left: 7px
				background: $link-color-inverse
				display: none

		&:checked
			& + label span,
			& + span i
				&::after
					display: block

			& + label,
			& + span i
				&::before
					border-color: $link-color
					background-color: $link-color

		&:disabled
			& + label,
			& + span i
				&::before
					background-color: $link-color-inverse

			& + label,
			& + span
				color: $link-color

				&::before
					border-color: $link-color

			& + label span,
			& + span i
				&::after
					background-color: $link-color

			& + span i
				&::before
					border-color: $link-color
					background-color: $link-color-inverse

	// select
	.select
		select,
		.select2-container--default .select2-selection--single,
		.select2-container--default .select2-selection--multiple
			border: 2px solid $border-color
			padding: 12px 49px 12px 17px
			background: $bg-color
			transition: none

		select,
		.select2-container--default .select2-selection--single .select2-selection__rendered,
		.select2-container--default .select2-selection--multiple .select2-selection__rendered
			+font(18px, 22px)
			font-weight: normal
			color: $text-color

		select
			padding-right: 49px

		select:focus,
		.select2-container--default.select2-container--open .select2-selection--single,
		.select2-container--default.select2-container--open .select2-selection--multiple
			color: $text-color
			border-color: $text-color
			box-shadow: inset 0 0 0 1px $text-color

		.select2-container--default
			.select2-selection--single
				.select2-selection__rendered
					.select2-selection__arrow
						background-color: $bg-color

		&::before,
		&::after,
		.select2-container--default .select2-selection--single .select2-selection__arrow b::before,
		.select2-container--default .select2-selection--single .select2-selection__arrow b::after
			content: none
			background: none
			transform: none

		&::before,
		.select2-container--default .select2-selection--single .select2-selection__arrow b::before
			content: ''
			+triangle(bottom, $text-color, 10px, 1.5)
			right: 13px
			top: 50%
			margin-top: -7px

		.select2-container--default .select2-selection--multiple
			padding: 8px 49px 8px 17px

			.select2-selection__rendered
				li
					padding: 0 4px
					margin: 4px 8px 4px 0
					border-radius: 0
					border-color: transparent
					background-color: $text-color
					color: $bg-color

					&::before
						content: none

					&.select2-search--inline
						background-color: $bg-color
						color: $text-color

			.select2-selection__choice__remove
				position: relative
				font-size: 24px
				line-height: 20px
				margin-right: 10px
				top: 2px

				color: $bg-color

	.select2-dropdown
		border: solid $text-color
		border-width: 0 2px 2px

	.select2-container--default
		.select2-search--dropdown
			.select2-search__field
				border: 2px solid $text-color
				padding: 8px 8px

				&:focus
					border-color: $text-color
					box-shadow: inset 0 0 0 1px $text-color

		.select2-results>.select2-results__options
			max-height: 210px

	.select2-container--default .select2-results__option[aria-selected=true]
		background-color: $bg-color
		color: $text-color

		&::before
			+pseudo($display: inline-block, $pos: relative)
			+size(15px, 4px)
			vertical-align: top
			background-color: $text-color
			margin-right: 10px
			margin-top: 13px

	.select2-container--default .select2-results__option--highlighted[aria-selected]
		background-color: $text-color
		color: $bg-color

		&[aria-selected=true]
			&::before
				background-color: $bg-color

	// LAYOUT
	.wrapper
		&::before
			background-color: $bg-color
			border-right: 2px solid $border-color

		&::after
			background-color: $text-color

	// user form
	.user-form
		background-color: $bg-color
		border: 2px solid $border-color

		.form-note__item
			+font(18px, 24px)

	.form-title
		color: $text-color-alt

	// jFiler
	.jFiler-input-dragDrop
		border: 2px dashed $border-color
		transition: none

		.no-touchevents &:hover
			border-color: $link-color
			background-color: $link-color
			color: $link-color-inverse

			.jFiler-input-text strong
				color: $link-color-inverse

	.jFiler-input-icon
		display: none

	.jFiler-input-text strong
		+font(20px, 1.3)
		color: $text-color

	ul .jFiler-item
		&, .#{$user-content} &
			&:first-child, &:last-child
				+font(18px, 1.3)
				margin: 0
				padding: 10px 0

	.jFiler-item-others
		color: $text-color

		&::after
			border-bottom: 2px dotted $border-color

	.jFiler-item-assets ul,
	.#{$user-content} ul .jFiler-item-assets ul
		li
			background: $bg-color

	.jFiler-item-trash-action
		border: 2px solid $link-color
		padding: 2px 5px
		+size(70px, auto)
		text-decoration: none
		text-align: center
		background-color: $link-color-inverse
		color: $link-color

		.no-touchevents &:hover
			background-color: $link-color
			color: $link-color-inverse


		&::before
			content: 'Delete'
			position: relative
			left: auto
			top: auto
			transition: none
			margin: 0
			transform: none
			background: none
			+size(auto)

		&::after
			content: none

		.no-touchevents &:hover::before
			background: none


	// breadcrumbs
	.breadcrumbs
		color: $text-color
		+font(18px, 21px)

	.breadcrumbs__item
		margin-right: 15px

		& > a
			color: $link-color
			padding-right: 25px
			transition: none

			.no-touchevents &:hover > span
				border-bottom-color: $link-color

			& > span
				transition: none
				border-width: 2px

			& > i
				top: 4px
				+size(10px, 12px)

				&::before
					border-width: 6px 0 6px 10px
					margin-top: -6px
					border-left-color: $text-color

	.breadcrumbs-drop
		background: $bg-color
		box-shadow: 0 0 0 2px $border-color
		top: -15px
		transition: none

	.breadcrumbs-drop__item
		margin: 15px 0

		a
			color: $text-color

			& > span
				transition: none
				border-width: 2px

			.no-touchevents &:hover > span
				border-bottom-color: $text-color

	// article meta
	=article-meta-text-color()
		color: $text-color
		fill: $text-color

	.article-meta
		+article-meta-text-color

	.datetime
		+article-meta-text-color

	.visit
		+article-meta-text-color

	.visit-view
		+article-meta-text-color

		svg path
			+article-meta-text-color


	// news links
	.news-links__inner
		color: $text-color

		&::before
			+pseudo()
			top: -#{round($sidebar-inner-space-horizontal*0.5)}
			bottom: -#{round($sidebar-inner-space-horizontal*0.5)}
			left: -#{$sidebar-inner-space-horizontal}
			right: -#{$sidebar-inner-space-horizontal}
			z-index: -1

	.news-links__text, .news-links__meta
		transition: none
		color: inherit

	.no-touchevents & .news-links__inner:hover
		&::before
			background-color: $text-color

		.news-links__text, .news-links__meta
			color: $bg-color

	// side
	.side__link
		color: $text-color

	.side__inner
		background-color: $bg-color
		//transition: none
		box-shadow: inset 0 0 0 2px $text-color

	.side__depict
		background-color: $text-color
		border-bottom: 1px solid $bg-color






	// POPUPS
	.btn-popup-close
		$btn-bg: $text-color
		$btn-lines-color: $text-color

		background: $btn-bg
		color: #000
		transition: none

		//&::before
			content: none

		& > i
			//display: none

			&::before, &::after
				background-color: $link-color-inverse
				transition: none

		.no-touchevents &:hover
			background-color: $link-color-inverse
			box-shadow: inset 0 0 0 2px $link-color

			& > i
				&::before, &::after
					background-color: $link-color

	.extra-popup
		background-color: $bg-color

	.site-map__container
		a
			color: $link-color

			.no-touchevents &:hover, .no-touchevents .current > &, .current > &
				background-color: $link-color
				color: $link-color-inverse
				padding-top: 5px

				& > span
					box-shadow: 0 0 0 5px $link-color

	.site-map__box
		+font(20px, 24px)

	// HEADER
	.header__holder
		background-color: $bg-color

	.header__frame
		box-shadow: inset 0 -2px 0 $border-color

	// logo
	.logo-wrap
		border-bottom: none
		box-shadow: inset 0 -2px 0 $border-color, inset -2px 0 0 $border-color

	// header top
	.header__top
		background: $text-color

	// header content
	.header__content
		.holder
			+media('<tab-lg')
				border-bottom: 1px solid $border-color

		.frame
			+media('<desk-sm')
				border-bottom: 1px solid $border-color

	// header contacts
	.header__contacts
		ul
			li
				+media('<mob-lg')
					border-bottom: 1px solid $border-color

				&::before
					border: solid $border-color
					border-width: 0 0 0 1px
					transition: none

					+media('<tab-lg')
						border-width: 0 0 0 1px

				a
					color: $text-color
					transition: none

					.no-touchevents &:hover
						background-color: $bg-color
						box-shadow: inset 0 -2px 0 2px $border-color, inset 0 0 0 2px $border-color

					& > div
						& > em
							color: $mark-color

	// header hot line
	.header__hot-line
		li
			color: $text-color

	// header title
	.header__title
		color: $text-color

		a
			&::before
				+gray()

	// header info
	.header__info

		li
			color: $text-color

		a
			& > span
				border-bottom: 2px solid transparent

			.no-touchevents &:hover > span
				border-color: $text-color

		path
			fill: $text-color

	// user options
	.user-options__item
		& > a
			box-shadow: -1px 0 0 $bg-color
			color: $bg-color
			transition: none

			& > div
				color: $bg-color
				transition: none

			svg
				transition: none

			path
				fill: $bg-color
				transition: none

			.no-touchevents &:hover
				background-color: $bg-color
				color: $text-color

				path
					fill: $text-color

		&.cecutient-link
			z-index: 2

			& > a
				box-shadow: inset 0 0 0 2px $text-color
				background-color: $bg-color
				color: $text-color

				path
					fill: $text-color

	// lang
	.lang
		& > a
			transition: none
			color: $bg-color


	// NAVIGATION
	.nav
		a
			color: $bg-color
			transition: none

	// nav item arrow
	.nav__angle
		+size(15px, 20px)
		margin-top: -10px
		right: 15px

		&::before, &::after
			content: none
			background: none
			border-radius: 0
			transition: none
			transform: none
			margin: 0

		&::after
			content: ''
			top: 0
			+triangle(right, $text-color, 10px, 1.5)

	li
		&.hover, .no-js &:hover
			& > .nav__tab .nav__angle
				&::after
					border-left-color: $bg-color

	// общие стили для всех ПОДМЕНЮ
	.nav__drop
		background-color: $bg-color
		border: 2px solid $text-color
		box-shadow: none
		transition: none

		a
			color: $text-color
			border-width: 2px
			border-color: $text-color

		li
			&.hover, .no-js &:hover
				& > .nav__tab > a
					background: $text-color
					color: $bg-color

	// подменю первого уровня и подменю первого уровня для "priority-nav"
	.nav__list, .priority-nav__dropdown
		& > li
			& > .nav__drop
				min-width: 100%
				border-top: 2px solid $text-color

	// пункты меню ПЕРВОГО уровня
	.nav__list > li, .priority-nav__dropdown > li
		& > a, & > .nav__tab > a
			color: $bg-color
			box-shadow: inset -1px 0 0 $bg-color, 0 -1px 0 $bg-color

		&.hover, &.active, &.current, .no-js &:hover
			& > .nav__tab > a
				background: $bg-color
				color: $text-color
				box-shadow: -1px 0 0 $text-color, 1px 0 0 $text-color, inset 0 -2px 0 $text-color, inset 0 2px 0 $text-color, inset -1px 0 0 $text-color, inset 1px 0 0 $text-color
				//box-shadow: inset 0 -2px 0 $text-color, inset 0 2px 0 $text-color

	// priority nav
	.nav
		.priority-nav__dropdown-toggle
			box-shadow: inset -1px 0 0 $bg-color
			transition: none

			.no-touchevents &:hover, &.is-open
				background-color: $bg-color
				color: $text-color

	.priority-nav__dropdown
		background: $text-color
		box-shadow: 0 -1px 0 $bg-color

		&::after
			+pseudo()
			left: 0
			bottom: 0
			width: 100%
			height: 1px
			background-color: $text-color

		& > li
			box-shadow: inset -1px 0 0 $bg-color, 0 -1px 0 $bg-color, inset 0 -1px 0 $bg-color

	// SIDEBAR
	.sidebar
		background-color: $bg-color
		border-right: 2px solid $border-color

	.sidebar-top__holder
		border-bottom: 2px solid $border-color

	// sidebar bottom
	.sidebar-bottom__heading
		background-color: $bg-color

		&::after
			+linear-gradient(to bottom, $bg-color 0, transparentize($bg-color, 1) 100%)

	.sidebar-bottom__heading, .popup-news__heading
		.btn-filters-open
			&::before
				+pseudo()
				width: 36px
				height: 36px
				left: 50%
				top: 50%
				margin: -18px 0 0 -18px
				z-index: -1

			path
				fill: $text-color
				transition: none

			.no-touchevents &:hover
				&::before
					background-color: $text-color

				path
					fill: $bg-color

	// sidebar menu
	.sidebar-menu
		a
			color: $text-color
			transition: none

			.no-touchevents &:hover
				color: $bg-color
				background-color: $text-color
				transition: none

			.no-touchevents &.active-section, &.active-section
				color: $text-color
				transition: none

				&::before
					background-color: $text-color
					width: 8px

				&:hover
					color: $bg-color

	.nav-menu-opener
		i
			$menu-opener-icon-height: 36px

			right: #{$grid-inside-horizontal-space - 6px}
			+size($menu-opener-icon-height)
			margin-top: -#{round($menu-opener-icon-height*0.5)}

			&::after
				left: 50%
				bottom: 50%
				margin: 0 0 -7px -10px
				+triangle(top, $text-color, 10px, 1.5)
				transition: none

		.no-touchevents &:hover i
			box-shadow: inset 0 0 0 2px $text-color
			background-color: $text-color

			&::after
				border-bottom-color: $bg-color

	// FOOTER
	.footer,
	.footer-gov,
	.footer-common,
	.footer-bottom
		border-top: 2px solid black
		color: $footer-text-color

	.footer
		border: none

	.footer-common,
	.footer-bottom
		background-color: $footer-bg-color

	// footer gov
	.gov__list
		.slick-dots
			li
				button
					+size(20px)
					background-color: $bg-color

					&::before
						border: 2px solid $link-color

				&.slick-active button::before
					background: $link-color

	.gov__item
		//+font($font-size, $line-height)
		color: $text-color

		.no-touchevents &:hover
			background-color: $bg-color
			box-shadow: inset 0 0 0 2px $link-color

	.gov__link
		border: none
		color: $link-color
		+font-bold

	// footer common
	.footer-nav__col
		+font($font-size, $line-height)
		color: $text-color

	.footer-nav__title
		+font($font-size, $line-height)
		color: $text-color

		.no-touchevents &:hover > span
			border-bottom-color: $link-color

	.footer-nav__links
		a
			.no-touchevents &:hover > span
				border-bottom-color: $link-color

	// developer
	.developer__logo
		&::before
			content: none

		&::after
			background-color: $bg-color
			box-shadow: 0 0 0 2px black

	.no-touchevents & a:hover .developer__logo
		&::after
			transform: translate(0, 0)

	// orphus
	.orphus
		color: $text-color
		background: none
		border: 2px solid $link-color