@import ../utils/variables
@import ../utils/variables-special
@import ../utils/mixins
@import ../../libs/include-media/dist/include-media

.color-scheme-bw
	// base
	$font-size: 1.6rem
	$line-height: round-float(3.0rem/$font-size, 2)
	
	// color
	$base-color: black
	//$bg-color: #c8e5ff
	$bg-color: white
	//$text-color: #002d56
	$text-color: black
	$text-color-light: black
	$text-color-alt: black
	$mark-color: black
	$mark-color-alt: black
	$title-color: black
	$link-color: black
	$link-color-inverse: white
	$link-color-disabled: #989898
	$link-color-visited: #989898
	$footer-bg-color: white
	$footer-text-color: black

	$animation-speed: 0s

	background-color: $bg-color
	color: $text-color

	h1, h2, h3, h4, h5, h6
		color: $title-color

	table
		td, th
			color: $text-color
			border-color: $text-color

	hr
		border-bottom-color: $text-color

	a
		color: $link-color

		//&:visited
			color: $link-color-visited

	.mark
		color: $bg-color
		background-color: $mark-color

	.dark-text
		color: $text-color

	.dark-text-light
		color: $text-color-light

	.text-color-alt
		color: $text-color-alt

	.#{$user-content}
		ul > li::before
			border-left-color: $mark-color

		ol > li::before
			color: $mark-color

		.tbl
			td, th, th, thead td, tfoot td
				color: $text-color
				background-color: $bg-color
				border: 1px solid $text-color

		blockquote q
			color: $text-color

			&::before, &::after
				background-image: url(../../img/quote-left--bw.svg)

	// text warning
	.text-warning
		&::before
			background-color: $mark-color
			color: $bg-color
	
	// rss
	.rss
		&, .section__title &
			background-color: $text-color
			
	// buttons
	// btn-default
	.btn-default, .btn-map-site
		color: $link-color-inverse
		background-color: $link-color
		border-color: $link-color

		.no-touchevents &:hover
			background-color: $link-color-inverse
			color: $link-color

		&:disabled, .no-touchevents &:disabled:hover
			color: $link-color-inverse
			background-color: $link-color-disabled
			border-color: $link-color-disabled

			.no-touchevents &
				background-color: $link-color-disabled

	// btn-default-alt
	.btn-default-alt
		color: $link-color
		background-color: $link-color-inverse
		border-color: $link-color

		.no-touchevents &:hover
			background: $link-color
			color: $link-color-inverse

		&:disabled, .no-touchevents &:disabled:hover
			color: $link-color-disabled
			background-color: $link-color-inverse
			border-color: $link-color-disabled

			.no-touchevents &
				background-color: $bg-color

				&:hover
					color: $link-color-disabled

	// btn-default-light
	.btn-default-light
		color: $text-color

		&:disabled
			background-color: $bg-color
			border-color: $link-color-disabled
			color: $link-color-disabled

			.no-touchevents &
				background-color: $bg-color

				&:hover
					color: $link-color-disabled

	// btn-arrow
	.btn-arrow
		color: $link-color-inverse
		background-color: $link-color
		border-color: $link-color

		.no-touchevents &:hover
			background-color: $link-color-inverse
			color: $link-color

			& > span

				&::before, &::after
					background-color: $link-color

	// more button
	.more
		.btn-more
			color: $text-color-alt
			border-color: $link-color
			background-color: $link-color-inverse

			.no-touchevents &:hover
				color: $link-color-inverse
				background-color: $link-color

	// social networks
	.social-networks__item, .soc-media-share .social-networks__item

		a
			background: $link-color-inverse // НЕ background-color. Перебить градиент
			box-shadow: inset 0 0 0 #{$border-width} $link-color

			path
				fill: $link-color

			.no-touchevents &:hover
				box-shadow: inset 0 0 0 #{$border-width} $link-color
				background: $link-color // НЕ background-color. Перебить градиент

				path
					fill: $link-color-inverse

			&:active, .no-touchevents &:active
				box-shadow: none

	// tags
	.article-layout .tags
		border-top-color: $text-color

	.tags__list, .#{$user-content} .tags__list
		a
			color: $link-color
			border-color: $link-color
			background: $link-color-inverse

			.no-touchevents &:hover
				background-color: $link-color
				color: $link-color-inverse

	// form styles default
	.label-holder, label
		color: $text-color

	.form-mark
		color: $mark-color

	input[type="text"], input[type="password"], input[type="email"], input[type="search"], textarea
		color: $text-color
		background: $bg-color
		border-color: $text-color

		.no-touchevents &:hover
			border-color: $text-color

		&:focus,
		&.error, .error > &, .no-touchevents &.error, .no-touchevents .error > &
			color: $text-color
			border-color: $text-color
			box-shadow: inset 0 0 0 1px $text-color

	.error-note
		color: $bg-color
		background-color: $text-color

	.success-text
		color: $text-color

	input, textarea
		&::-webkit-input-placeholder
			color: $text-color

		&:-moz-placeholder
			color: $text-color

		&::-moz-placeholder
			color: $text-color

		&:-ms-input-placeholder
			color: $text-color

		&.placeholder
			color: $text-color

		&.error
			&::-webkit-input-placeholder
				color: $text-color

			&:-moz-placeholder
				color: $text-color

			&::-moz-placeholder
				color: $text-color

			&:-ms-input-placeholder
				color: $text-color

			&.placeholder
				color: $text-color

	input[type="checkbox"],
	input[type="radio"]
		& + label,
		& + span i
			&::before
				border-color: $link-color

	input[type="checkbox"]
		& + label span,
		& + span
			&::before,
			&::after
				background: $link-color

		&:checked
			& + label,
			& + span i
				&::before
					border-color: $link-color
					background-color: $link-color

			& + label span,
			& + span
				&::before, &::after
					background-color: $link-color-inverse

		&:disabled
			& + label,
			& + span i
				&::before
					border-color: $link-color
					background-color: $link-color-inverse

			& + label span,
			& + span
				&::before, &::after
					background: lighten($link-color, 40%)

	input[type="radio"]
		& + label span,
		& + span i
			&::after
				background: $link-color-inverse

		&:checked

			& + label,
			& + span i

				&::before
					border-color: $link-color
					background-color: $link-color

		&:disabled
			& + label,
			& + span i
				&::before
					background-color: $link-color-inverse

			& + label,
			& + span
				color: $link-color

				&::before
					border-color: $link-color

			& + label span,
			& + span i
				&::after
					background-color: $link-color

			& + span i
				&::before
					border-color: $link-color
					background-color: $link-color-inverse

	// select
	.select
		select,
		.select2-container--default .select2-selection--single,
		.select2-container--default .select2-selection--multiple
			border-color: $text-color
			background: $bg-color

		select,
		.select2-container--default .select2-selection--single .select2-selection__rendered,
		.select2-container--default .select2-selection--multiple .select2-selection__rendered
			color: $text-color

		select:focus,
		.select2-container--default.select2-container--open .select2-selection--single,
		.select2-container--default.select2-container--open .select2-selection--multiple
			color: $text-color
			border-color: $text-color
			box-shadow: inset 0 0 0 1px $text-color

		.select2-container--default
			.select2-selection--single
				.select2-selection__rendered
					.select2-selection__arrow
						background-color: $bg-color

		&::before,
		&::after,
		.select2-container--default .select2-selection--single .select2-selection__arrow b::before,
		.select2-container--default .select2-selection--single .select2-selection__arrow b::after
			background: none

		&::before,
		.select2-container--default .select2-selection--single .select2-selection__arrow b::before
			+triangle(bottom, $text-color, 10px, 1.5)

		.select2-container--default .select2-selection--multiple

			.select2-selection__rendered
				li
					border-color: transparent
					background-color: $text-color
					color: $bg-color

					&.select2-search--inline
						background-color: $bg-color
						color: $text-color

			.select2-selection__choice__remove
				color: $bg-color

	.select2-dropdown
		border-color: $text-color

	.select2-container--default
		.select2-search--dropdown
			.select2-search__field
				border-color: $text-color

				&:focus
					border-color: $text-color
					box-shadow: inset 0 0 0 1px $text-color

	.select2-container--default .select2-results__option[aria-selected=true]
		background-color: $bg-color
		color: $text-color

		&::before
			background-color: $text-color

	.select2-container--default .select2-results__option--highlighted[aria-selected]
		background-color: $text-color
		color: $bg-color

		&[aria-selected=true]
			&::before
				background-color: $bg-color

	// LAYOUT
	.wrapper
		&::before
			background-color: $bg-color
			border-right-color: $text-color

		&::after
			background-color: $text-color

	// user form
	.user-form
		background-color: $bg-color
		border-color: $text-color

	.form-title
		color: $text-color-alt

	// jFiler
	.jFiler-input-dragDrop
		border-color: $text-color

		.no-touchevents &:hover
			border-color: $link-color
			background-color: $link-color
			color: $link-color-inverse

			.jFiler-input-text strong
				color: $link-color-inverse

	.jFiler-input-text strong
		color: $text-color

	.jFiler-item-others
		color: $text-color

		&::after
			border-bottom-color: $text-color

	.jFiler-item-assets ul,
	.#{$user-content} ul .jFiler-item-assets ul
		li
			background: $bg-color

	.jFiler-item-trash-action
		border-color: $link-color
		background-color: $link-color-inverse
		color: $link-color

		.no-touchevents &:hover
			background-color: $link-color
			color: $link-color-inverse

	// section
	.section__title, .section__subtitle

		.v-separator

			& + a
				color: $link-color-inverse
				background-color: $link-color
				border-color: $link-color

				.no-touchevents &:hover
					color: $link-color
					background-color: $link-color-inverse

	.section__subtitle::before
		background-color: $text-color

	.v-separator
		background-color: $text-color

	.section__box
		background-color: $bg-color

	// breadcrumbs
	.breadcrumbs
		color: $text-color

	.breadcrumbs__item

		& > a
			color: $link-color

			.no-touchevents &:hover > span
				border-bottom-color: $link-color

			& > i

				&::before
					border-left-color: $text-color

	.breadcrumbs-drop
		background: $bg-color
		box-shadow: 0 0 0 #{$border-width} $text-color

	.breadcrumbs-drop__item

		a
			color: $text-color

			.no-touchevents &:hover > span
				border-bottom-color: $text-color

	// pagination
	.paging
		color: $link-color
		fill: $link-color
		
	.paging-start, .paging-prev, .paging-next, .paging-end
		.no-touchevents &:hover
			color: $link-color-inverse
			fill: $link-color-inverse

			a
				color: $link-color-inverse
				background-color: $link-color
				box-shadow: -3px 0 0 #{$border-width} $link-color, 3px 0 0 #{$border-width} $link-color

	.paging-list

		a
			color: $link-color

			.no-touchevents &:hover
				color: $link-color-inverse
				background-color: $link-color

		.paging-current > span
			background-color: $link-color-inverse
			box-shadow: inset 0 0 0 #{$border-width} $link-color
			color: $link-color

	// files item
	.files__inner
		color: $text-color
		background: $bg-color
		box-shadow: inset 0 0 0 #{$border-width} $text-color

		.no-touchevents &:hover
			box-shadow: inset 0 0 0 #{$border-width*3} $text-color

	.files__meta
		& > span
			color: $text-color

	.files__size
		background-image: url(../../img/save--bw.svg)

	.files__date
		background-image: url(../../img/date--bw.svg)

	// years
	.years, .sorting-select
		a
			color: $link-color
			background-color: $link-color-inverse

		& > a
			color: $link-color-inverse
			background-color: $link-color
			border-color: $link-color

			.no-touchevents &:hover
				color: $link-color
				background-color: $link-color-inverse

	.years-drop, .sorting-select-drop
		background: $bg-color
		box-shadow: 0 0 0 #{$border-width} $link-color

		li
			border-top-color: $link-color

		a

			.no-touchevents &:hover, &.active
				color: $link-color-inverse
				background-color: $link-color

	// sorting
	.sorting-options
		color: $text-color

	.news-date, &.home-page .section__title .news-date, &.home-page .section__subtitle .news-date
		color: $text-color
		border-color: $text-color

	// view print
	.view-print
		color: $link-color
		border-color: $link-color

		path
			fill: $link-color

		.no-touchevents &:hover
			background-color: $link-color

	// article meta
	=article-meta-text-color()
		color: $text-color
		fill: $text-color

	.article-meta
		+article-meta-text-color

	.datetime
		+article-meta-text-color

	.visit
		+article-meta-text-color

	.visit-view
		+article-meta-text-color

		svg path
			+article-meta-text-color

	// slider arrows
	.slick-arrow, .swiper-arrow
		transition-duration: $animation-speed
		background-color: $bg-color
		border-color: $text-color

		.no-touchevents &:hover
			background-color: $text-color

		&.slick-disabled, &.swiper-button-disabled, .no-touchevents &.slick-disabled, .no-touchevents &.swiper-button-disabled
			background-color: $bg-color

	.slick-prev, .swiper-button-prev
		&::after
			+triangle(left, $text-color, 10px, 1.5)

		.no-touchevents &:hover
			&::after
				border-right-color: $bg-color

		&.slick-disabled, &.swiper-button-disabled, .no-touchevents &.slick-disabled, .no-touchevents &.swiper-button-disabled
			&::after
				border-right-color: $text-color

	.slick-next, .swiper-button-next
		&::after
			+triangle(right, $text-color, 10px, 1.5)

		.no-touchevents &:hover
			&::after
				border-left-color: $bg-color

		&.slick-disabled, &.swiper-button-disabled, .no-touchevents &.slick-disabled, .no-touchevents &.swiper-button-disabled
			&::after
				border-left-color: $text-color

	// promo slider
	.promo-slider__img
		background: $bg-color !important
		border-color: $text-color

	// tape slider
	.tape-slider
		border-color: $text-color
		background-color: $bg-color

	.tape-slider__anchor
		color: $text-color
		background-color: $bg-color

		.no-touchevents &:hover
			color: $bg-color
			background-color: $text-color

	.current .tape-slider__anchor
		color: $bg-color
		background-color: $text-color

	// images slider
	.images-slider__item
		background-color: white

	.images-slider
		.slider-counter
			color: $text-color

		.slide-curr
			color: $text-color

	// save info
	.save
		background: $bg-color !important
		border-color: $text-color

	.save__align
		color: $text-color
		border-color: $text-color

	// events summary
	.events-sum__footer
		a
			color: $link-color
			background-color: $link-color-inverse
			border-color: $link-color

			.no-touchevents &:hover
				color: $link-color-inverse
				background-color: $link-color

	// obzh
	.obzh__tab
		a
			color: $text-color
			background-color: $bg-color
			border-color: $text-color

			&.active-tab
				background-color: $text-color
				color: $bg-color

	.obzh-banner
		background-color: $bg-color
		border-color: $text-color


	// NEWS ALL TYPE
	// стили для всех типов новостных блоков

	// news previews
	.news-previews__inner, .news-grid__inner, .news-group__inner, .news-float__inner
		color: $text-color
		background-color: $bg-color

		.no-touchevents &:hover
			color: $bg-color
			background-color: $text-color

			[class*="__meta"]
				color: $bg-color

				.visit-view
					color: $bg-color

				path
					fill: $bg-color


	// news links
	.news-links__inner
		color: $text-color

	.no-touchevents & .news-links__inner:hover
		&::before
			background-color: $text-color

		.news-links__text, .news-links__meta
			color: $bg-color

	// news read
	.news-read__inner
		color: $text-color

		.no-touchevents &:hover
			color: $bg-color

			&::before
				background-color: $text-color

			.news-read__meta
				color: $bg-color

	.news-read__meta
		color: $text-color

	// social media
	.soc-media__col
		color: $text-color

		.no-touchevents & a:hover
			color: $bg-color
			background-color: $text-color

	.soc-media__visual
		border-color: $text-color

	// side
	.side__link
		color: $text-color

	.side__inner
		background-color: $bg-color
		box-shadow: inset 0 0 0 #{$border-width} $text-color

	.side__depict
		background-color: $text-color
		border-bottom-color: $bg-color
		box-shadow: inset 0 1px 0 $bg-color

	.no-touchevents & a:hover .side__depict
		border-bottom-color: transparent
		box-shadow: none

	// survey
	.survey
		background-color: $bg-color
		border-color: $text-color

		*
			color: $text-color

		.survey__all, .survey__footer [class*="btn-default-"]
			border-color: $link-color
			color: $link-color
			background-color: $link-color-inverse

			.no-touchevents &:hover
				color: $link-color-inverse
				background-color: $link-color

	// expander
	.expander-item
		border-color: $text-color

	.expander-header__meta
		color: $text-color

	.expander-angle
		& > span
			color: $link-color-inverse
			background-color: $link-color
			border-color: $link-color

		.no-touchevents &:hover
			& > span
				color: $link-color
				background-color: $link-color-inverse

	.expander-panel
		border-top-color: $text-color

	// search page

	.search-form__btn
		background-color: $link-color
		border-color: $link-color
		transition-duration: $animation-speed

		.no-touchevents &:hover
			background-color: $link-color-inverse
			color: $link-color

			path
				fill: $link-color

	.search-page-options
		color: $text-color

	.search-result__date, .search-result__path
		color: $text-color

	.search-result__title
		color: $text-color
		background-color: $bg-color

		a

			.no-touchevents &:hover
				color: $bg-color
				background-color: $text-color


	// HEADER
	.header__holder
		background-color: $bg-color

	.header__frame
		box-shadow: inset 0 -#{$border-width} 0 $text-color

	// logo
	.logo-wrap
		box-shadow: inset 0 -#{$border-width} 0 $text-color, inset -#{$border-width} 0 0 $text-color
		background-color: $bg-color !important // !important нужен, чтобы перебить на всех подсайтах

	.header__content .logo
		+media('<tab-lg')
			border-bottom-color: $text-color

	// header top
	.header__top
		background: $text-color

	// header content
	.header__content

		.holder

			+media('<tab-lg')
				border-color: $text-color

	// header contacts
	.header__contacts
		ul

			li

				+media('<mob-lg')
					border-bottom-color: $text-color

				&::before
					border-color: $text-color

				a
					color: $text-color

					.no-touchevents &:hover
						background-color: $bg-color
						box-shadow: inset 0 0 0 #{$border-width} $text-color

						+media('<tab-lg')
							background-color: transparent
							box-shadow: none

					& > div
						& > em
							color: $mark-color

	// header hot line
	.header__hot-line
		li
			color: $text-color

	// header title
	.header__title
		color: $text-color

	// header info
	.header__info

		li
			color: $text-color

		a
			& > span
				border-bottom-color: transparent

			.no-touchevents &:hover > span
				border-color: $text-color

		path
			fill: $text-color

	// user options
	.user-options__item
		& > a
			box-shadow: -1px 0 0 $bg-color
			color: $bg-color

			& > div
				color: $bg-color

			& > i

				&, &::before, &::after
					background-color: $bg-color

			path
				fill: $bg-color

			.no-touchevents &:hover
				background-color: $bg-color
				color: $text-color
				box-shadow: inset 0 0 0 #{$border-width} $text-color

				path
					fill: $text-color

				& > i

					&, &::before, &::after
						background-color: $text-color
						transform: none

		&.cecutient-link

			& > a
				box-shadow: inset 0 0 0 #{$border-width} $text-color
				background-color: $bg-color
				color: $text-color

				path
					fill: $text-color

	// lang
	.lang
		& > a
			color: $bg-color


	// NAVIGATION
	.nav
		a
			color: $bg-color

	// nav item arrow
	.nav__angle

		&::after
			+triangle(right, $text-color, 10px, 1.5)

	li
		&.hover, .no-js &:hover
			& > .nav__tab .nav__angle
				&::after
					border-left-color: $bg-color

	// общие стили для всех ПОДМЕНЮ
	.nav__drop
		background-color: $bg-color
		border-color: $text-color

		a
			color: $text-color
			border-color: $text-color

		li
			&.hover, .no-js &:hover
				& > .nav__tab > a
					background: $text-color
					color: $bg-color

	// подменю первого уровня и подменю первого уровня для "priority-nav"
	.nav__list, .priority-nav__dropdown
		& > li
			& > .nav__drop
				border-top-color: $text-color

	// пункты меню ПЕРВОГО уровня
	.nav__list > li, .priority-nav__dropdown > li
		& > a, & > .nav__tab > a
			color: $bg-color
			box-shadow: inset -1px 0 0 $bg-color, 0 -1px 0 $bg-color

		&.hover, &.active, &.current, .no-js &:hover
			& > .nav__tab > a
				background: $bg-color
				color: $text-color
				box-shadow: -1px 0 0 $text-color, 1px 0 0 $text-color, inset 0 -#{$border-width} 0 $text-color, inset 0 #{$border-width} 0 $text-color, inset -1px 0 0 $text-color, inset 1px 0 0 $text-color

	// priority nav
	.nav
		.priority-nav__dropdown-toggle
			box-shadow: inset -1px 0 0 $bg-color

			.no-touchevents &:hover, &.is-open
				background-color: $bg-color
				color: $text-color

	.priority-nav__dropdown
		background: $text-color !important // !important нужен, чтобы перебить на всех подсайтах
		box-shadow: 0 -1px 0 $bg-color

		&::after
			background-color: $text-color

		& > li
			box-shadow: inset -1px 0 0 $bg-color, 0 -1px 0 $bg-color, inset 0 -1px 0 $bg-color

	.go-to-mchs, .go-to-mchs--mob
		background: $bg-color
		color: $text-color
		box-shadow: inset 0 0 0 #{$border-width} $text-color

	.header__hot-line
		li:first-child a
			&, .no-touchevents &:hover
				color: $text-color

	// SIDEBAR
	.sidebar
		background-color: $bg-color
		border-right-color: $text-color

	.sidebar-top__holder
		border-bottom-color: $text-color

	// sidebar bottom
	.sidebar-bottom__heading
		background-color: $bg-color

		&::after
			+linear-gradient(to bottom, $bg-color 0, transparentize($bg-color, 1) 100%)

	.sidebar-bottom__heading, .popup-news__heading
		.btn-filters-open

			path
				fill: $text-color

			.no-touchevents &:hover
				&::before
					background-color: $text-color

				path
					fill: $bg-color

	// sidebar menu
	.sidebar-menu
		a
			color: $text-color

			.no-touchevents &:hover
				color: $bg-color
				background-color: $text-color

			.no-touchevents &.active-section, &.active-section
				color: $text-color

				&::before
					background-color: $text-color

				&:hover
					color: $bg-color

	.nav-menu-opener
		i

			&::after
				+triangle(top, $text-color, 10px, 1.5)

		.no-touchevents &:hover i
			box-shadow: inset 0 0 0 #{$border-width} $text-color
			background-color: $text-color

			&::after
				border-bottom-color: $bg-color

	// FOOTER
	.footer,
	.footer-gov,
	.footer-common,
	.footer-bottom
		border-top-color: $text-color
		color: $footer-text-color

	.footer-common,
	.footer-bottom
		background-color: $footer-bg-color

	// footer gov
	.gov__list
		.slick-dots
			li
				button
					background-color: $bg-color

					&::before
						border-color: $link-color

				&.slick-active button::before
					background: $link-color

	.gov__item
		color: $text-color

		.no-touchevents &:hover
			background-color: $bg-color
			box-shadow: inset 0 0 0 #{$border-width} $link-color

	.gov__link
		color: $link-color

	// footer common
	.footer-nav__col
		color: $text-color

	.footer-nav__title
		color: $text-color

		.no-touchevents &:hover > span
			border-bottom-color: $link-color

	.footer-nav__links
		a
			.no-touchevents &:hover > span
				border-bottom-color: $link-color

	// developer
	.developer__logo

		&::after
			background-color: $bg-color
			box-shadow: 0 0 0 #{$border-width} $text-color

	// orphus
	.orphus
		color: $text-color
		border-color: $link-color



	// SUB SITES
	// MENU REGION
	.region-menu-heading
		color: $bg-color
		background-color: $text-color
		border-bottom-color: $text-color

		.no-touchevents &:hover
			color: $text-color
			background-color: $bg-color

			.region-menu-btn
				&::before, &::after
					background-color: $text-color

				& > i
					&, &:before, &:after
						background-color: $text-color

	.is-expanded
		.region-menu-btn
			& > i
				background: none

	.no-touchevents & .is-expanded .region-menu-heading:hover .region-menu-btn
		& > i
			background: none

	.region-menu-btn
		&::before, &::after
			background-color: $bg-color

		& > i
			&:before, &:after
				background-color: $bg-color

	.sidebar-region-news__heading
		background-color: $bg-color
		border-bottom-color: $text-color

		.no-touchevents &:hover
			background-color: $bg-color
			box-shadow: inset 0 0 0 #{$border-width*2} $text-color

	.sidebar-region-news__content
		background-color: $bg-color !important // !important нужен, чтобы перебить на всех подсайтах

	// region menu
	.region-menu__list, .region-menu__drop, .nav-mobile__list, .nav-mobile__drop
		background-color: $bg-color !important // !important нужен, чтобы перебить на всех подсайтах

	.region-menu__list, .region-menu__list > li, .nav-mobile__list, .nav-mobile__list > li
		a
			color: $text-color !important // !important нужен, чтобы перебить на всех подсайтах
			background-color: $bg-color !important // !important нужен, чтобы перебить на всех подсайтах
			border-bottom-color: $text-color !important // !important нужен, чтобы перебить на всех подсайтах

			.no-touchevents &:hover
				color: $bg-color !important // !important нужен, чтобы перебить на всех подсайтах
				background-color: $text-color !important // !important нужен, чтобы перебить на всех подсайтах

	.region-menu__list li.current > .region-menu__tab, .nav-mobile__list li.current > .nav-mobile__tab

		&, .no-touchevents &

			a, a:hover
				color: $bg-color !important // !important нужен, чтобы перебить на всех подсайтах
				box-shadow: inset 5px 0 0 $bg-color !important // !important нужен, чтобы перебить на всех подсайтах
				background-color: $text-color !important // !important нужен, чтобы перебить на всех подсайтах

	// СТРЕЛКИ навигации
	.region-menu__angle, .nav-mobile__angle
		background-color: $bg-color !important // !important нужен, чтобы перебить на всех подсайтах
		border-color: $text-color !important // !important нужен, чтобы перебить на всех подсайтах

		i

			&::before, &::after
				background-color: $text-color !important // !important нужен, чтобы перебить на всех подсайтах

		.no-touchevents &:hover
			background-color: $text-color !important // !important нужен, чтобы перебить на всех подсайтах

			i

				&::before, &::after
					background-color: $bg-color !important // !important нужен, чтобы перебить на всех подсайтах



	// region header
	.region-header
		border-bottom-color: $text-color

	.region-header__bg
		background: $bg-color !important // не background-color!

	.region-header__caption
		color: $text-color

	.region-header__info
		color: $text-color

		path
			fill: $text-color

	// lead
	.lead
		background-color: $bg-color

	.lead__description
		padding: 0 0 $bottom-space
		border-bottom-color: $text-color

	.lead__layer, .lead__layer--front, .lead__layer--back
		box-shadow: -#{$border-width} 0 0 $text-color, #{$border-width} 0 0 $text-color, 0 #{$border-width} 0 $text-color, 0 -#{$border-width} 0 $text-color, inset 0 -#{$border-width} 0 $text-color

	.lead__layer--back
		background-color: $bg-color

	.lead__position
		color: $text-color

	.lead__footer
		a
			color: $bg-color
			border-color: $text-color
			background-color: $text-color

			span
				border: none !important

			.no-touchevents &:hover
				color: $text-color
				background-color: $bg-color


	// history info
	.history-info__holder
		background-color: $bg-color

	.history-info__img
		border-color: $text-color


	// media block
	.media-block__nav
		border-bottom-color: $text-color

	.media-block__tab
		a
			color: $text-color
			border-bottom-color: $text-color
			background-color: $bg-color
			transition-duration: $animation-speed

			.no-touchevents &:hover
				color: $bg-color
				background-color: $text-color

			&.active-tab
				border-color: $text-color
				border-bottom-color: transparent
				color: $text-color

			.no-touchevents &:hover
				border-color: $text-color
				border-bottom-color: transparent
				color: $bg-color
				background-color: $text-color

	.media-list__inner
		color: $text-color
		background-color: $bg-color

		.no-touchevents &:hover
			color: $bg-color
			background-color: $text-color

	// banners
	.banners__item

		a
			color: $text-color

	// context banners
	.context-banner
		color: $text-color


	// POPUPS
	.btn-popup-close
		$btn-bg: $text-color
		$btn-lines-color: $text-color

		background: $btn-bg
		color: $text-color

		& > i

			&::before, &::after
				background-color: $link-color-inverse
				transition-duration: $animation-speed

		.no-touchevents &:hover
			background-color: $link-color-inverse
			box-shadow: inset 0 0 0 #{$border-width} $link-color

			& > i
				&::before, &::after
					background-color: $link-color

	.extra-popup
		background-color: $bg-color

	.popup-footer
		border-color: $text-color

	.site-map__container
		a
			color: $link-color

			.no-touchevents &:hover, .no-touchevents .current > &, .current > &
				background-color: $link-color
				color: $link-color-inverse

				& > span
					box-shadow: 0 0 0 5px $link-color

	// lang list
	.lang__list
		a
			color: $text-color

			.no-touchevents &:hover
				color: $bg-color

				& > span
					background-color: $text-color
					box-shadow: 0 0 0 5px $text-color

			&.current
				&, .no-touchevents &:hover
					color: $text-color

					& > span
						background-color: $bg-color
						box-shadow: 0 0 0 5px $bg-color, 0 0 0 8px $text-color

	.popup-label
		color: $text-color

	// share link list
	.share-link__list
		a
			color: $text-color

			path
				fill: $text-color

			.no-touchevents &:hover
				color: $bg-color
				background-color: $text-color
				box-shadow: 0 0 0 5px $text-color

				path
					fill: $bg-color

	.popup-label__options
		color: $link-color-inverse
		fill: $link-color-inverse

		a
			background-color: $link-color
			border-color: $link-color
			color: $link-color-inverse

		.no-touchevents & a:hover
			color: $link-color
			fill: $link-color
			background-color: $link-color-inverse

	// banner opener
	.banner-opener

		a
			background-color: $text-color

			path
				fill: $bg-color

			.no-touchevents &:hover
				background-color: $bg-color

				path
					fill: $text-color

	.numInputWrapper:hover
		input[type="text"], input[type="password"], input[type="email"], input[type="search"], textarea
			background: none

	.flatpickr-day.endRange, .flatpickr-day.endRange.nextMonthDay, .flatpickr-day.endRange.prevMonthDay, .flatpickr-day.endRange:focus, .flatpickr-day.endRange:hover, .flatpickr-day.selected, .flatpickr-day.selected.nextMonthDay, .flatpickr-day.selected.prevMonthDay, .flatpickr-day.selected:focus, .flatpickr-day.selected:hover, .flatpickr-day.startRange, .flatpickr-day.startRange.nextMonthDay, .flatpickr-day.startRange.prevMonthDay, .flatpickr-day.startRange:focus, .flatpickr-day.startRange:hover
		background-color: $text-color
		border-color: $text-color