@import ../utils/variables
@import ../utils/variables-special
@import ../utils/mixins
@import ../../libs/include-media/dist/include-media

.cecutient-version
	// base
	$font-size: 1.6rem
	$line-height: round-float(3.0rem/$font-size, 2)
	$font-size-small: 1.4rem !default
	$line-height-small: round-float(2.0rem/$font-size, 2) !default

	$news-item-height: auto

	//*
		&, &::before, &::after
			transition-duration: 0s !important
	&
		font-weight: 500

	.special-hide
		display: none

	// layout
	&.home-page .aside
		padding-top: calc(2rem * 1.3 + #{$bottom-space})

	// grid
	.content [class*="grid-col-"]
		float: none
		width: auto

	// section
	.section__title
		margin-bottom: $bottom-space
		+font(round($font-size * 2), 1.3)

	.v-separator
		text-indent: -9999px
		overflow: hidden
		+size(2px, 12px)

		& + a
			padding: 5px
			font-weight: bold
			text-decoration: none

	// years
	.years
		a
			position: relative
			padding: 4px

		& > a > span
			border: none
			line-height: inherit

	.years-drop
		padding: 0
		margin-top: -2px

	// view print
	.view-print
		svg
			display: none

		+media('<tab-lg')
			display: none

	// article meta
	=article-meta-text-size()
		+font($font-size, $line-height)
		font-weight: normal

	.article-meta
		+article-meta-text-size

	.datetime
		+article-meta-text-size

	.visit
		+article-meta-text-size

	.visit-view
		*
			font-weight: normal

		svg
			+size(24px)
			margin-right: 10px

			&.depict-visit-share
				+size(18px)

	// slider arrows
	.slick-arrow, .swiper-arrow
		+size(60px)

	// promo slider
	.promo
		display: none

	//news slider
	.news-grid-slider
		white-space: normal

		.slick-track
			transform: none
			width: auto

		&::after
			content: none

		.slick-dots, .slick-arrow
			display: none

	.news-grid-slider__slide
		display: block
		float: none
		height: auto
		width: auto

	// tape slider
	.tape-slider
		+padding-horizontal(60px)

		.swiper-button-prev
			left: -2px

		.swiper-button-next
			right: -2px

	.tape-slider__anchor
		padding: 13px 15px
		+font($font-size, 30px)

	// save info
	.save
		height: $news-item-height
		margin-bottom: $bottom-space-md

		&::after
			display: none

	.save__holder
		+clear-spacing

	.save__holder, .save__align
		padding: 0
		position: relative
		left: auto
		right: auto
		top: auto
		bottom: auto
		width: auto
		height: auto
		transform: none

	.save__box
		height: auto
		+display-inline-block-middle
		width: 50%

	.save__box:first-child
		border: none

	.save__align
		padding: 10px

		& > strong, & > span
			+display-inline-block-middle

		& > strong
			margin-right: 20px

	// events summary
	.events-sum
		height: $news-item-height
		display: none

	.events-sum__nav
		display: none

	.events-sum__panels
		height: auto !important

	.events-sum__panel
		height: auto !important
		position: relative !important
		left: auto !important
		top: auto !important
		right: auto !important
		bottom: auto !important
		visibility: visible !important
		opacity: 1 !important
		z-index: auto !important
		padding: 0
		margin-bottom: $bottom-space

		&::after
			content: none

	.events-list__item
		+font($font-size, $line-height)
		border-bottom: none
		padding: 0
		margin-bottom: $bottom-space

	.events-sum__footer
		position: relative
		left: auto
		bottom: auto
		width: auto
		padding: 0

		a
			font-family: $font-alt
			+font(18px, 24px)

	// obzh
	.obzh__panel
		padding: 0

	.obzh-banner
		background-image: none !important

	// news previews
	.news-previews__list
		height: auto !important
		+grid-parent(0)

	.news-previews__item
		position: relative !important
		left: auto !important
		top: auto !important
		right: auto !important
		bottom: auto !important
		+font($font-size, $line-height)

	.news-previews .news-previews__item
		+grid-item(1, 0, $bottom-space-md)

	.news-previews__inner
		box-shadow: none

	.news__label
		display: none

	.news-previews__img
		display: none

	.news-previews__content
		padding: 5px 10px

		&::before
			content: none

	.news-previews__text
		margin-bottom: 1em

	.news-previews__meta, .news-grid__meta
		+font($font-size-small, $line-height-small)




	// news grid
	.news-grid__list
		margin-bottom: $bottom-space

	.news-grid__item, .news-grid__item--large, .news-grid__item--wide
		+font($font-size, $line-height)
		height: auto !important
		margin-bottom: $bottom-space

		&:last-child
			margin-bottom: 0

	.news-grid__item, .news-grid__list > .news-grid__item--large
		float: none
		width: auto

	.news-grid__inner
		height: auto
		box-shadow: none
		+font($font-size, $line-height)

	.news-grid__img
		display: none

	.news-grid__content
		height: auto !important
		margin-top: 0 !important
		padding: 5px 10px

		&::before
			content: none

	.news-grid__title, .news-grid__text
		height: auto
		margin-bottom: 1em

	.news-grid__text
		font-family: $font-alt
		+font(1.3em, 1.4)
		font-weight: bold

	.news-grid__title
		+font(1.3em, 1.4)

		& ~ .news-grid__text
			font-family: $font-norm
			+font(1em, $line-height)
			font-weight: normal

	.news-grid__meta
		position: relative
		left: auto
		top: auto
		bottom: auto
		right: auto
		width: auto
		+clear

	// search page
	.search-form__btn
		height: 100%
		top: 0
		margin: 0

		svg
			display: none

		span
			font-size: 20px

	// header contacts
	.header__contacts
		ul
			li
				a
					& > div
						& > em
							color: $mark-color

						& > span
							+font(16px, 20px)
							font-weight: normal

							+media('<desk-lg')
								font-size: 12px

							+media('<tab-lg')
								font-size: 14px

	// header info
	.header__info
		font-weight: normal
		+font($font-size-small, $line-height-small)

		+media('<desk-lg')
			font-size: 1.2rem

	// user options
	.user-options__item
		& > a
			font-weight: normal

	// NAVIGATION
	.nav
		a
			font-weight: normal

	// sidebar bottom
	//.sidebar-bottom__heading, .popup-news__heading
		padding-bottom: 50px

		.btn-filters-open
			top: auto
			right: auto
			bottom: 0
			left: 0
			transform: none

			svg
				display: none

			& > span
				+show-text

	// POPUPS
	.btn-popup-close
		$btn-lines-width: 40px
		$btn-lines-height: 6px

		=line-style()
			+size($btn-lines-width, $btn-lines-height)

		& > i
			+line-style

			&::before, &::after
				+line-style

	.popup-label
		+font(18px, 24px)