/*BUTTONS*/
[class|="btn"], [class*=" btn-"], input[type="submit"], input[type="button"], input[type="reset"], button
	display: inline-block
	vertical-align: top
	position: relative
	text-align: center
	text-decoration: none
	cursor: pointer

[class|="btn"], [class*=" btn-"]
	& input[type="submit"], & input[type="button"], & input[type="reset"]
		background: url("../../img/empty.png") repeat
		display: block
		+cover()
		padding: 0
		z-index: 99
		border: 0
		opacity: 0
		-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0)
		filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0)

/*btn-default*/
.btn-default
	position: relative
	font: 400 1.6rem/24px $font-alt
	color: $btn-text-color
	padding: 11px 25px
	border: 2px solid transparent
	background: $btn-bg-color
	box-shadow: none
	transition-property: background-color, color, border-color
	transition-duration: $animation-speed
	+btn-hover
	+btn-active

/*btn-default end*/

/*btn-default-alt*/
.btn-default-alt
	@extend .btn-default
	color: $btn-bg-color
	border: 2px solid $btn-bg-color
	background: $btn-text-color
	transition-property: background-color, color, border-color
	transition-duration: $animation-speed

	.no-touchevents &:hover
		background: $btn-bg-color-hover
		color: $btn-text-color

/*btn-default-alt end*/

/*btn-arrow*/
.btn-arrow
	@extend .btn-default
	border-width: 1px
	padding: 7px 20px

	& > span
		display: inline-block
		vertical-align: top
		position: relative

		&:before,
		&:after
			content: ''
			position: absolute
			top: 50%
			height: 2px
			width: 10px
			border-radius: 2px
			background: #fff

		&:before
			margin: -4px 0 0 0
			transform: rotate(-45deg)

		&:after
			margin: 2px 0 0 0
			transform: rotate(45deg)

	&_left > span
		padding-left: 18px

		&:before, &:after
			left: 0

		&:before
			margin: -4px 0 0 0

		&:after
			margin: 2px 0 0 0

	&_right > span
		padding-right: 18px

		&:before, &:after
			right: 0

		&:before
			margin: 2px 0 0 0

		&:after
			margin: -4px 0 0 0

/*btn-arrow*/

/*more button*/
.more
	text-align: center
	padding-bottom: 7px

	.btn-more
		display: inline-block
		position: relative
		text-decoration: none
		font: 400 #{$font-size}/#{$line-height} $font-alt
		color: $text-color-alt
		padding-bottom: 15px
		+antialiased
		+btn-active

		&::before
			+pseudo()
			top: -2px
			bottom: -7px
			left: -12px
			right: -12px
			background-color: $border-color
			opacity: 0
			transform: scale(0.85)
			transition-property: opacity, transform
			transition-duration: $animation-speed
			z-index: -1

		.no-touchevents &:hover::before
			opacity: 1
			transform: scale(1)

		i
			+size(17px, 16px)
			position: absolute
			left: 50%
			bottom: 0
			font-size: 1px
			pointer-events: none
			backface-visibility: hidden
			transform: translate(-50%, 0)
			z-index: 2

		i:before, i:after
			content: ''
			position: absolute
			left: 50%
			top: 50%
			+size(12em, 2em)
			border-radius: 2em
			background: $text-color-alt
			backface-visibility: hidden

		i:before
			margin: -1em 0 0 -10em
			transform: rotate(45deg)

		i:after
			margin: -1em 0 0 -3em
			transform: rotate(-45deg)

/*more button end*/

/*button menu*/
.btn-map-site
	//<a href="#" class="btn-map-site"><i></i><span>Карта сайта</span></a>
	$btn-bg: $btn-bg-color
	$btn-color: #fff
	$btn-min-height: 40px
	$btn-space: 12px
	$btn-lines-width: 22px
	$btn-lines-height: 3px
	$btn-lines-space: 5px
	$btn-lines-color: $btn-color

	=line-style()
		height: $btn-lines-height
		width: $btn-lines-width
		background: $btn-lines-color

	=font()
		font: 300 14px/1.4 $font-norm
		letter-spacing: normal

	=transition()
		transition-property: transform, box-shadow, background-color
		transition-duration: $animation-speed
		transition-timing-function: ease-in-out

	display: inline-block
	text-decoration: none
	color: #fff
	background: $btn-bg
	font-size: 0
	line-height: 0
	letter-spacing: -4px
	white-space: nowrap
	+antialiased
	+btn-hover
	+btn-active

	&:before
		content: ''
		display: inline-block
		height: $btn-min-height
		min-height: 100%
		vertical-align: middle

	> span
		+font
		display: inline-block
		vertical-align: middle
		position: relative
		max-width: 98%
		white-space: nowrap
		margin: 0 $btn-space

	> i
		display: inline-block
		vertical-align: middle
		position: relative
		margin-left: $btn-space
		backface-visibility: hidden
		+line-style

		&:before, &:after
			+pseudo()
			left: 0
			backface-visibility: hidden
			+line-style

		//first line menu
		&:before
			top: -#{$btn-lines-height + $btn-lines-space}

		//third line menu
		&:after
			top: #{$btn-lines-height + $btn-lines-space}

/*button menu end*/

/*button popup close*/
.btn-popup-close
	//<a href="#" class="btn-popup-close js-btn-menu-close"><i></i><span>Закрыть</span></a>
	$btn-bg: #fff
	$btn-color: #000
	$btn-size: $header-top-height
	$btn-space: 12px
	$btn-lines-width: 30px
	$btn-lines-height: 2px
	$btn-lines-space: 5px
	$btn-lines-color: $text-color-alt

	=line-style()
		+size($btn-lines-width, $btn-lines-height)

	=font()
		font: 300 14px/1.4 $font-norm
		letter-spacing: normal

	=transition()
		transition-property: transform, box-shadow, background-color
		transition-duration: $animation-speed
		transition-timing-function: ease-in-out

	display: block
	+size($btn-size)
	background: $btn-bg
	color: #fff
	text-decoration: none
	+clear-spacing
	white-space: nowrap

	&:before
		content: ''
		display: inline-block
		height: $btn-size
		min-height: 100%
		vertical-align: middle

	> span
		+hide-text

	> i
		display: inline-block
		vertical-align: middle
		position: relative
		backface-visibility: hidden
		background-color: transparent
		+line-style

		&:before, &:after
			+pseudo()
			left: 0
			backface-visibility: hidden
			+line-style
			background: $btn-lines-color

		//first line menu
		&:before
			top: 0
			transform: rotate(-45deg)

		//third line menu
		&:after
			top: 0
			transform: rotate(45deg)

	.no-touchevents &:hover
		& > i:before, & > i:after
			background-color: $mark-color-alt

/*button popup close end*/
/*BUTTONS end*/