@import ../utils/variables
@import ../utils/mixins
@import ../../libs/include-media/dist/include-media

/* GRID LAYOUT
.grid-row
	+margin-horizontal(-#{$grid-space/2})
	margin-bottom: $grid-space
	+clear

	//&:last-child
		margin-bottom: 0

[class*="grid-col-"]
	float: left
	position: relative
	min-height: 1px
	+padding-horizontal($grid-space/2)

.grid-layout-right
	float: right
	z-index: 2

@for $grid-col from 1 through 12
	.grid-col-#{$grid-col}
		width: (100%/(12)*$grid-col)

		+media('>=desk-hd')
			@if $grid-col == 12
				margin-bottom: $grid-space

				&:last-child
					margin-bottom: 0

+media('<desk-hd')
	@for $grid-col from 1 through 12
		.grid-col-hd-#{$grid-col}
			width: (100%/(12)*$grid-col)

			@if $grid-col == 12
				margin-bottom: $grid-space

				&:last-child
					margin-bottom: 0

	.grid-col-hd-width-auto
		float: none
		width: auto

+media('<desk-lg')
	@for $grid-col from 1 through 12
		.grid-col-lg-#{$grid-col}
			width: (100%/(12)*$grid-col)

			@if $grid-col == 12
				margin-bottom: $grid-space

				&:last-child
					margin-bottom: 0

	.grid-col-lg-width-auto
		float: none
		width: auto

+media('<tab-lg')
	@for $grid-col from 1 through 12
		.grid-col-md-#{$grid-col}
			width: (100%/(12)*$grid-col)

			@if $grid-col == 12
				margin-bottom: $grid-space

				&:last-child
					margin-bottom: 0

	.grid-col-md-width-auto
		float: none
		width: auto

+media('<tab-sm')
	@for $grid-col from 1 through 12
		.grid-col-sm-#{$grid-col}
			width: (100%/(12)*$grid-col)

			@if $grid-col == 12
				margin-bottom: $grid-space

				&:last-child
					margin-bottom: 0

	.grid-col-sm-width-auto
		float: none
		width: auto

+media('<mob-lg')
	@for $grid-col from 1 through 12
		.grid-col-lt-#{$grid-col}
			width: (100%/(12)*$grid-col)

			@if $grid-col == 12
				margin-bottom: $grid-space

				&:last-child
					margin-bottom: 0

	.grid-col-lt-width-auto
		float: none
		width: auto

.grid-row--zero
	margin: 0

	[class*="grid-col-"], [class^="grid-col-"]
		+padding-horizontal(0)

.grid-col-width-auto
	float: none
	width: auto

/* GRID LAYOUT END