//==|== Default Variables and Maps

// user content class
$user-content: content

// font
$font-norm: 'Roboto', sans-serif
$font-b: 'Roboto', sans-serif
$font-i: 'Roboto', sans-serif
$font-bi: 'Roboto', sans-serif
$font-alt: 'Roboto Slab', serif
$font-size: 1.6rem
$line-height: 3.0rem/$font-size
$font-size-small: 1.4rem
$line-height-small: 1.4
$space-bottom: $font-size * $line-height
$space-bottom-md: $space-bottom * 1.5
$space-bottom-lg: $space-bottom * 2

// color
// base
$color-base: #006ab8

// main color
$color-bg: #e5e5e5
$color-bg-alt: #fff
$color-text: #262626
$color-text-light: #999
$color-text-alt: $color-base
$color-text-mark: #ec3c01
$color-title: #010101
$color-link: $color-base
$color-border: #d9d9d9

// header color
$color-header-bg: #f7f7f7

// nav color
$color-nav-bg: $color-base
$color-nav-bg-hover: #ff9a09
$color-nav-active: #ff9a09

// form color
$color-form-text: #333
$color-form-placeholder: #ccc
$color-form-bg: #fff
$color-form-border: #d9d9d9
$color-form-border-focus: $color-base
$color-form-error: #ec3c01
$color-form-success: #056e41

// btn color
$color-btn-bg: $color-base
$color-btn-bg-hover: darken($color-btn-bg, 20%)
$color-btn-text: #fff

// table color
$color-table-text: #262626
$color-table-text-alt: #fff
$color-table-bg: #fff
$color-table-bg-alt: $color-base
$color-table-bg-row: #fafafa

// layout
$layout-grid-space: 60px
$layout-width: 1920px
$layout-space-horizontal: 0
$article-layout-width: none
$article-layout-space-horizontal: 50px
$article-layout-space-vertical: 48px
$text-layout-width: 640px
$text-layout-space-horizontal: 0
$header-height: 182px

// form
$space-bottom-form: 3rem

// sidebars
$sidebar-left-width: 270px
$sidebar-right-width: 270px

// grid
$grid-space: 20px

// animation
$animation-speed: 0.2s
$animation-speed-mouseleave: 0.35s

@mixin font-reset
	font:
		weight: normal
		style: normal

@mixin font-normal
	font:
		family: $font-norm
		weight: 300
	//@include font-reset

@mixin font-bold
	font:
		family: $font-b
		weight: 700
	//@include font-reset

@mixin font-italic
	font:
		family: $font-i
		weight: 300
		style: italic
	//@include font-reset

@mixin font-bold-italic
	font:
		family: $font-bi
		weight: 700
		style: italic
	//@include font-reset

@mixin font-title
	font:
		family: 'Roboto Slab', sans-serif
		weight: 700
		style: normal
	//@include font-reset

