/*search form*/
.search-form
	max-width: 800px
	margin: 0 auto

.search-form__field
	overflow: hidden
	position: relative
	padding-top: 35px

input.search-form__input,
input.search-form__input:hover,
input.search-form__input:focus
	border: none
	height: 50px
	width: 100%
	padding: 11px 60px 11px 20px
	margin: 0
	font-family: 'lato-light', sans-serif
	font-size: 20px
	line-height: 28px
	letter-spacing: 0.05em
	color: #f9f7f6
	border-radius: 0
	background: none
	z-index: 998

input.search-form__input
	opacity: 0
	cursor: pointer

.input--filled input.search-form__input
	cursor: text

.search-form__label
	width: 100%
	position: absolute
	left: 0
	bottom: 0
	height: 50px
	text-align: left
	pointer-events: none
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale
	-webkit-touch-callout: none
	-webkit-user-select: none
	-khtml-user-select: none
	-moz-user-select: none
	-ms-user-select: none
	user-select: none

.search-form__label label
	position: relative
	display: block
	padding: 0
	font-family: 'lato-regular', sans-serif
	font-size: 24px
	line-height: 50px
	letter-spacing: 0.05em
	color: #696969
	overflow: hidden
	-ms-text-overflow: ellipsis
	text-overflow: ellipsis
	-webkit-transform-origin: 0 0
	transform-origin: 0 0
	-webkit-transition-property: color, -webkit-transform
	transition-property: color, transform
	-webkit-transition-duration: 0.2s
	transition-duration: 0.2s

.search-form__label label span
	display: inline-block
	opacity: 1
	-webkit-transition-property: opacity, -webkit-transform
	transition-property: opacity, transform
	-webkit-transition-duration: 0.2s
	transition-duration: 0.2s

.search-form__label::before,
.search-form__label::after
	content: ''
	position: absolute
	width: 100%
	left: 0

.search-form__label::before
	height: 2px
	background: #a8a8a8
	bottom: 0
	-webkit-transition-property: opacity
	transition-property: opacity
	-webkit-transition-duration: 0.2s
	transition-duration: 0.2s

.search-form__label::after
	height: 100%
	background: #a8a8a8
	top: 0
	-webkit-transform: translate(0, 100%)
	transform: translate(0, 100%)
	-webkit-transition-property: -webkit-transform
	transition-property: transform
	-webkit-transition-duration: 0.2s
	transition-duration: 0.2s

.search-form__btn
	position: absolute
	right: 0
	bottom: 0
	width: 50px
	height: 50px
	z-index: 99
	-webkit-transform: translate(10px, 0)
	-ms-transform: translate(10px, 0)
	transform: translate(10px, 0)
	-webkit-transition-property: -webkit-transform
	transition-property: transform
	-webkit-transition-duration: 0.2s
	transition-duration: 0.2s

.search-form__btn svg
	position: absolute
	left: 50%
	top: 50%
	width: 24px
	height: 24px
	margin: -12px 0 0 -12px

.search-form__btn svg path
	fill: #a8a8a8
	-webkit-transition: fill 0.2s
	transition: fill 0.2s

.input--filled .search-form__btn
	z-index: 999

.search-form__label::before,
.search-form__label::after,
.search-form__label label,
.search-form__label label span,
.search-form__input:focus,
.input--filled .search-form__input,
.search-form__btn,
.search-form__btn svg path
	-webkit-transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1)
	transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1)

.search-form__input:focus,
.input--filled .search-form__input
	opacity: 1
	-webkit-transition: opacity 0s 0.2s
	transition: opacity 0s 0.2s

.search-form__input:focus + .search-form__label::before,
.input--filled .search-form__label::before
	opacity: 0

.search-form__input:focus + .search-form__label::after,
.input--filled .search-form__label::after
	-webkit-transform: translate(0, 0)
	transform: translate(0, 0)

.search-form__input:focus + .search-form__label label,
.input--filled .search-form__label label
	color: #cbc4c6
	-webkit-transform: translate(0, -70%) scale(0.65, 0.65)
	transform: translate(0, -70%) scale(0.65, 0.65)

.search-form__input:focus + .search-form__label label span,
.input--filled .search-form__label label span
	opacity: 0
	-webkit-transform: scale(0, 0)
	-ms-transform: scale(0, 0)
	transform: scale(0, 0)

.search-form__input:focus ~ .search-form__btn,
.input--filled .search-form__btn
	-webkit-transform: translate(0, 0)
	-ms-transform: translate(0, 0)
	transform: translate(0, 0)

.search-form__input:focus ~ .search-form__btn svg path,
.input--filled .search-form__btn svg path
	fill: #f9f7f6

/*search form end*/