/*years*/
.years
	position: absolute
	top: 0
	right: 0
	margin-right: -20px
	width: 82px
	height: 48px
	text-align: center
	box-sizing: border-box
	-webkit-perspective: 1500px
	perspective: 1500px

.years a
	display: block
	position: relative
	box-sizing: border-box
	line-height: 24px
	color: #262626
	text-align: center
	text-decoration: none

.years > a
	height: 100%
	font-family: 'lato-semibold', sans-serif
	background: #fff
	border: 1px solid #fff
	-webkit-transition-property: background, border
	transition-property: background, border
	-webkit-transition-duration: 0.2s
	transition-duration: 0.2s
	
	font-size: 0
	letter-spacing: -4px

.desktop .years > a:hover
	color: #008acf

.choice-opened > a
	color: #008acf

.years > a::before
	content: ''
	display: inline-block
	height: 100%
	vertical-align: middle

.years > a > span
	display: inline-block
	text-transform: uppercase
	vertical-align: middle
	line-height: 1
	border-bottom: 1px dotted #3a3a3a
	-webkit-transition-property: border
	transition-property: border
	-webkit-transition-duration: 0.2s
	transition-duration: 0.2s
	
	font-size: 16px
	letter-spacing: 0.025em

.years > a:hover > span
	border-color: #008acf

.choice-opened > a > span,
.choice-opened > a:hover > span
	border-color: transparent

.years-drop,
.user-content .years-drop
	list-style: none
	padding: 12px 0
	margin: -1px 0 0

.years-drop
	position: absolute
	top: 100%
	left: 0
	width: 100%
	border: 1px solid #d9d9d9
	background: #fff
	box-shadow: 0 15px 25px rgba(0, 0, 0, 0.15)
	box-sizing: border-box
	opacity: 0
	visibility: hidden
	-webkit-transform-origin: center top
	transform-origin: center top
	-webkit-transform: rotateX(-30deg)
	transform: rotateX(-30deg)
	-webkit-transition-property: opacity, visibility, -webkit-transform
	transition-property: opacity, visibility, transform
	-webkit-transition-duration: 0.2s
	transition-duration: 0.2s
	-webkit-transition-timing-function: cubic-bezier(0.25, 1, 0.25, 1)
	transition-timing-function: cubic-bezier(0.25, 1, 0.25, 1)
	z-index: 9

.choice-opened .years-drop
	opacity: 1
	visibility: visible
	-webkit-transform: rotateX(0deg)
	transform: rotateX(0deg)

.years-drop li,
.user-content .years-drop li
	padding: 12px 0 0

.years-drop li:first-child,
.user-content .years-drop li:first-child
	padding: 0

.years-drop li::before,
.user-content .years-drop li::before,
.years-drop li:first-child::before,
.user-content .years-drop li:first-child::before
	content: none

.years-drop a
	padding: 0
	text-align: center
	position: relative
	-webkit-transition-property: color
	transition-property: color
	-webkit-transition-duration: 0.2s
	transition-duration: 0.2s

.desktop .years-drop a:hover,
.years-drop a.active
	color: #008acf

/*years end*/