@import utils/variables
@import utils/mixins
@import ../libs/include-media/dist/include-media

/*=========== DEPARTMENTS: GOSATOM ===========*/
//.department-gosatom-styles
// VARIABLES
// base
$base-color: #ca9b68
$base-color-alt: #ca9b68
$base-color-alt--invert: white
$mark-color: #ca9b68
$mark-color-alt: #ca9b68
$text-color-alt: $base-color-alt

// header
$header-bg-color: #4b5a66
$phone-color: $base-color

// footer
$footer-bg-color: #1c2226

// side
$side-bg-color: #ca9b68

// navigation
$color-nav-bg-hover: $mark-color-alt

// subsite menu
$subsite-menu-bg-color: #2b343b
$subsite-menu-bg-color-s: shade($subsite-menu-bg-color, 80%)
$subsite-menu-bg-color-ss: shade($subsite-menu-bg-color, 62%)
$subsite-menu-bg-color-sss: shade($subsite-menu-bg-color, 48%)
$subsite-menu-bg-color-ssss: shade($subsite-menu-bg-color, 38%)
$subsite-menu-border-color: rgba(255, 255, 255, 0.10)

// form color
$color-form-border-focus: $base-color-alt

// btn color
$btn-bg-color: $base-color-alt
$btn-bg-color-hover: shade($btn-bg-color, 80%)
$btn-text-color: #fff

// table color
$color-table-bg-alt: $base-color-alt
$color-table-text-alt: #fff
$color-table-bg-row: #fafafa

// no img
$path-no-img: '../../img/no-img-department-gosatom.jpg'

// quote
$path-quote: '../../img/quote-left-department-gosatom.svg'

// TYPOGRAPHY
.mark
	color: $mark-color

.text-color-alt
	color: $text-color-alt

.#{$user-content}
	ul > li::before
		border-left-color: $mark-color

	ol > li::before
		color: $mark-color

	.tbl
		td, th
			background-color: $color-table-bg

		th, thead td, tfoot td
			background: $color-table-bg-alt
			color: $color-table-text-alt
			border-color: $color-table-bg-alt

	blockquote q
		&::before, &::after
			background-image: url($path-quote)

.view-print
	color: $base-color
	border: 1px solid $base-color

	.no-touchevents &:hover
		background-color: $base-color

	path
		fill: $base-color

	.no-touchevents &:hover path
		fill: white

// LAYOUT
.wrapper::before
	background-color: $subsite-menu-bg-color

// BUTTONS
// btn-default
.btn-default
	background-color: $btn-bg-color

	.no-touchevents &:hover
		background-color: $btn-bg-color-hover

.btn-default-alt
	background-color: $btn-text-color
	border-color: $btn-bg-color
	color: $btn-bg-color

	.no-touchevents &:hover
		background: $btn-bg-color-hover
		color: $btn-text-color

.btn-arrow
	color: $btn-text-color
	background-color: $btn-bg-color

	.no-touchevents &:hover
		background-color: $btn-bg-color-hover

.more
	.btn-more
		color: $text-color

		i::before, i::after
			background: $text-color

.btn-map-site
	background-color: $base-color-alt
	color: $base-color-alt--invert

	& > i
		&, &::before, &::after
			background-color: $base-color-alt--invert

// FORM STYLES DEFAULT
.form-mark
	color: $mark-color

input[type="text"], input[type="password"], input[type="email"], input[type="search"], textarea
	.no-touchevents &:hover
		border-color: $color-form-border-focus

	&:focus
		border-color: $color-form-border-focus
		box-shadow: inset 0 0 0 1px $color-form-border-focus

.select
	select:focus, button.cselect:focus .select-inner, button.cselect.ui-state-active .select-inner
		border-color: $color-form-border-focus

	&::before, &::after, button.cselect .ui-icon .arrow-select::before, button.cselect .ui-icon .arrow-select::after
		background-color: $color-form-border-focus

	div.cselect .ui-multiselect-checkboxes
		border-color: $color-form-border-focus

// USER FORM
.form-title
	color: $base-color

// BREADCRUMBS
.breadcrumbs__item a > i::before
	border-left-color: $mark-color

// LOGO
.logo-wrap
	background-color: $subsite-menu-bg-color
	border-bottom: 1px solid rgba(255, 255, 255, 0.1)

.elements-is-transform .logo a
	text-align: center

// HEADER TOP PANEL
.header__top
	background: $header-bg-color

// NAVIGATION
.nav__list > li, .priority-nav__dropdown > li

	&.hover, &.active, &.current, .no-js &:hover
		& > .nav__tab > a
			background: $base-color-alt
			color: $base-color-alt--invert

// PRIORITY NAV
.nav
	.priority-nav__dropdown
		background: $header-bg-color

// HEADER HOT LINE
.header__hot-line
	li:first-child a
		&, .no-touchevents &:hover
			color: $phone-color

// REGION MENU
.region-menu-heading
	background-color: $subsite-menu-bg-color
	border-bottom: 1px solid $subsite-menu-border-color

	.no-touchevents &:hover
		background-color: $subsite-menu-bg-color-s

// REGION MENU
// общие стили для пунктов навигации
.region-menu__list
	a
		border-bottom: 1px solid $subsite-menu-border-color

// особые стили для пунктов навигации ПЕРВОГО урованя
.region-menu__list > li

	& > .region-menu__tab a
		background-color: $subsite-menu-bg-color

// СТРЕЛКИ навигации
.region-menu__angle
	background-color: $subsite-menu-bg-color
	border: solid $subsite-menu-border-color
	border-width: 0 0 1px 1px

// особые стили для пунктов ПОДМЕНЮ
.region-menu__drop

	// особые стили для пунктов навигации ВТОРОГО урованя
	ul, a, .region-menu__angle
		background-color: $subsite-menu-bg-color-s

		.no-touchevents &:hover
			color: white

	.region-menu__drop
		// особые стили для пунктов навигации ТРЕТЬЕГО урованя
		ul, a, .region-menu__angle
			background-color: $subsite-menu-bg-color-ss

		.region-menu__drop
			// особые стили для пунктов навигации ЧЕТВЕРТОГО урованя
			ul, a, .region-menu__angle
				background-color: $subsite-menu-bg-color-sss

			.region-menu__drop
				// особые стили для пунктов навигации ПЯТОГО урованя
				ul, a, .region-menu__angle
					background-color: $subsite-menu-bg-color-ssss

// SIDE
.side__depict
	background: $side-bg-color

// FLATPICKR (vendor restyle)
.flatpickr-day.endRange, .flatpickr-day.endRange.inRange, .flatpickr-day.endRange.nextMonthDay, .flatpickr-day.endRange.prevMonthDay, .flatpickr-day.endRange:focus, .flatpickr-day.endRange:hover, .flatpickr-day.selected, .flatpickr-day.selected.inRange, .flatpickr-day.selected.nextMonthDay, .flatpickr-day.selected.prevMonthDay, .flatpickr-day.selected:focus, .flatpickr-day.selected:hover, .flatpickr-day.startRange, .flatpickr-day.startRange.inRange, .flatpickr-day.startRange.nextMonthDay, .flatpickr-day.startRange.prevMonthDay, .flatpickr-day.startRange:focus, .flatpickr-day.startRange:hover
	background: $base-color-alt
	border-color: $base-color-alt

// NEWS
.news-grid__inner, .news-previews__inner
	box-shadow: inset 0 -3px 0 $mark-color-alt

.news-grid__content, .news-previews__content

	&::before
		background: $mark-color-alt

// news grid wide
.news-grid__item--wide .news-grid__inner::before
	background: url($path-no-img) no-repeat center
	background-size: cover

// hover
.no-touchevents a.news-grid__inner:hover
	.news-grid__content, .news-grid__meta
		color: $base-color-alt--invert

		path
			fill: $base-color-alt--invert

.no-touchevents a.news-previews__inner:hover
	.news-previews__content, .news-previews__meta
		color: $base-color-alt--invert

		path
			fill: $base-color-alt--invert

// FOOTER
.footer-common, .footer-bottom
	background-color: $footer-bg-color

.gov__list .slick-dots li.slick-active button::before
	background: $base-color-alt

// POPUPS
// button popup close
.btn-popup-close
	.no-touchevents &:hover
		background-color: $mark-color-alt

		& > i::before, & > i::after
			background-color: white

// lang list
.no-touchevents .lang__list a
	&:hover, &.current
		color: $base-color-alt

// share link list
.no-touchevents .share-link__list a:hover
	color: $base-color-alt

// search form
input.search-form__input
	&, &:focus
		border: none
		box-shadow: none

.search-form__btn
	background-color: $btn-bg-color

	&::after
		background-color: $btn-text-color

	.no-touchevents &:hover
		background-color: $btn-bg-color

		path
			fill: $btn-text-color

		span
			color: $btn-text-color

// bitrix default search page
.bitrix-search-page ul
	.active
		span
			color: white !important
			background-color: $base-color-alt !important

.no-touchevents .bitrix-search-page ul
	a:hover
		color: white

		span
			background-color: $mark-color-alt

.no-touchevents .bitrix-search-page .p-nav:hover
	background: $mark-color-alt
	box-shadow: inset 0 0 0 1px $mark-color-alt

// NAVIGATION FOR SMALL SCREEN POPUP
.nav-small-tabs a

	&:first-child
		background-color: $subsite-menu-bg-color

	// стили для таба активного таба
	&.active-tab

		&:first-child
			border-color: $subsite-menu-border-color

// jFiler
.no-touchevents .jFiler-input-dragDrop:hover
	border-color: $base-color

.jFiler-item-trash-action
	&::before, &::after
		background-color: $text-color

.no-touchevents
	.jFiler-item-trash-action:hover
		&::before, &::after
			background-color: $base-color

/*=========== DEPARTMENTS: GOSATOM end ===========*/