/*=========== DEPARTMENTS CHERNOBIL ===========*/
.mark {
	color: #9b2813;
}

.text-color-alt {
	color: #9b2813;
}

.user-content ul > li::before {
	border-left-color: #9b2813;
}

.user-content ol > li::before {
	color: #9b2813;
}

.user-content .tbl td, .user-content .tbl th {
	background-color: #fff;
}

.user-content .tbl th, .user-content .tbl thead td, .user-content .tbl tfoot td {
	background: #9b2813;
	color: #fff;
	border-color: #9b2813;
}

.user-content blockquote q::before, .user-content blockquote q::after {
	background-image: url("../img/quote-left-department-chernobil.svg");
}

.view-print {
	color: #9b2813;
	border: 1px solid #9b2813;
}

.no-touchevents .view-print:hover {
	background-color: #9b2813;
}

.view-print path {
	fill: #9b2813;
}

.no-touchevents .view-print:hover path {
	fill: white;
}

.wrapper::before {
	background-color: #172534;
}

.btn-default {
	background-color: #9b2813;
}

.no-touchevents .btn-default:hover {
	background-color: #7c200f;
}

.btn-default-alt {
	background-color: #fff;
	border-color: #9b2813;
	color: #9b2813;
}

.no-touchevents .btn-default-alt:hover {
	background: #7c200f;
	color: #fff;
}

.btn-arrow {
	color: #fff;
	background-color: #9b2813;
}

.no-touchevents .btn-arrow:hover {
	background-color: #7c200f;
}

.more .btn-more {
	color: #262626;
}

.more i::before, .more i::after {
	background: #262626;
}

.btn-map-site {
	background-color: #9b2813;
	color: white;
}

.btn-map-site > i, .btn-map-site > i::before, .btn-map-site > i::after {
	background-color: white;
}

.form-mark {
	color: #9b2813;
}

.no-touchevents input[type="text"]:hover, .no-touchevents input[type="password"]:hover, .no-touchevents input[type="email"]:hover, .no-touchevents input[type="search"]:hover, .no-touchevents textarea:hover {
	border-color: #9b2813;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="search"]:focus, textarea:focus {
	border-color: #9b2813;
	box-shadow: inset 0 0 0 1px #9b2813;
}

.select select:focus, .select button.cselect:focus .select-inner, .select button.cselect.ui-state-active .select-inner {
	border-color: #9b2813;
}

.select::before, .select::after, .select button.cselect .ui-icon .arrow-select::before, .select button.cselect .ui-icon .arrow-select::after {
	background-color: #9b2813;
}

.select div.cselect .ui-multiselect-checkboxes {
	border-color: #9b2813;
}

.form-title {
	color: #9b2813;
}

.breadcrumbs__item a > i::before {
	border-left-color: #9b2813;
}

.logo-wrap {
	background-color: #172534;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.elements-is-transform .logo a {
	text-align: center;
}

.header__top {
	background: #395b7e;
}

.nav__list > li.hover > .nav__tab > a, .nav__list > li.active > .nav__tab > a, .nav__list > li.current > .nav__tab > a, .no-js .nav__list > li:hover > .nav__tab > a, .priority-nav__dropdown > li.hover > .nav__tab > a, .priority-nav__dropdown > li.active > .nav__tab > a, .priority-nav__dropdown > li.current > .nav__tab > a, .no-js .priority-nav__dropdown > li:hover > .nav__tab > a {
	background: #9b2813;
	color: white;
}

.nav .priority-nav__dropdown {
	background: #395b7e;
}

.header__hot-line li:first-child a, .no-touchevents .header__hot-line li:first-child a:hover {
	color: #9b2813;
}

.region-menu-heading {
	background-color: #172534;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.no-touchevents .region-menu-heading:hover {
	background-color: #121e2a;
}

.region-menu__list a {
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.region-menu__list > li > .region-menu__tab a {
	background-color: #172534;
}

.region-menu__angle {
	background-color: #172534;
	border: solid rgba(255, 255, 255, 0.1);
	border-width: 0 0 1px 1px;
}

.region-menu__drop ul, .region-menu__drop a, .region-menu__drop .region-menu__angle {
	background-color: #121e2a;
}

.no-touchevents .region-menu__drop ul:hover, .no-touchevents .region-menu__drop a:hover, .no-touchevents .region-menu__drop .region-menu__angle:hover {
	color: white;
}

.region-menu__drop .region-menu__drop ul, .region-menu__drop .region-menu__drop a, .region-menu__drop .region-menu__drop .region-menu__angle {
	background-color: #0e1720;
}

.region-menu__drop .region-menu__drop .region-menu__drop ul, .region-menu__drop .region-menu__drop .region-menu__drop a, .region-menu__drop .region-menu__drop .region-menu__drop .region-menu__angle {
	background-color: #0b1219;
}

.region-menu__drop .region-menu__drop .region-menu__drop .region-menu__drop ul, .region-menu__drop .region-menu__drop .region-menu__drop .region-menu__drop a, .region-menu__drop .region-menu__drop .region-menu__drop .region-menu__drop .region-menu__angle {
	background-color: #090e14;
}

.side__depict {
	background: #9b2813;
}

.flatpickr-day.endRange, .flatpickr-day.endRange.inRange, .flatpickr-day.endRange.nextMonthDay, .flatpickr-day.endRange.prevMonthDay, .flatpickr-day.endRange:focus, .flatpickr-day.endRange:hover, .flatpickr-day.selected, .flatpickr-day.selected.inRange, .flatpickr-day.selected.nextMonthDay, .flatpickr-day.selected.prevMonthDay, .flatpickr-day.selected:focus, .flatpickr-day.selected:hover, .flatpickr-day.startRange, .flatpickr-day.startRange.inRange, .flatpickr-day.startRange.nextMonthDay, .flatpickr-day.startRange.prevMonthDay, .flatpickr-day.startRange:focus, .flatpickr-day.startRange:hover {
	background: #9b2813;
	border-color: #9b2813;
}

.news-grid__inner, .news-previews__inner {
	box-shadow: inset 0 -3px 0 #9b2813;
}

.news-grid__content::before, .news-previews__content::before {
	background: #9b2813;
}

.news-grid__item--wide .news-grid__inner::before {
	background: url("../img/no-img-department-chernobil.jpg") no-repeat center;
	background-size: cover;
}

.no-touchevents a.news-grid__inner:hover .news-grid__content, .no-touchevents a.news-grid__inner:hover .news-grid__meta {
	color: white;
}

.no-touchevents a.news-grid__inner:hover path {
	fill: white;
}

.no-touchevents a.news-previews__inner:hover .news-previews__content, .no-touchevents a.news-previews__inner:hover .news-previews__meta {
	color: white;
}

.no-touchevents a.news-previews__inner:hover path {
	fill: white;
}

.footer-common, .footer-bottom {
	background-color: #001e33;
}

.gov__list .slick-dots li.slick-active button::before {
	background: #9b2813;
}

.no-touchevents .btn-popup-close:hover {
	background-color: #9b2813;
}

.no-touchevents .btn-popup-close:hover > i::before, .no-touchevents .btn-popup-close:hover > i::after {
	background-color: white;
}

.no-touchevents .lang__list a:hover, .no-touchevents .lang__list a.current {
	color: #9b2813;
}

.no-touchevents .share-link__list a:hover {
	color: #9b2813;
}

input.search-form__input, input.search-form__input:focus {
	border: none;
	box-shadow: none;
}

.search-form__btn {
	background-color: #9b2813;
}

.search-form__btn::after {
	background-color: #fff;
}

.no-touchevents .search-form__btn:hover {
	background-color: #9b2813;
}

.no-touchevents .search-form__btn:hover path {
	fill: #fff;
}

.no-touchevents .search-form__btn:hover span {
	color: #fff;
}

.bitrix-search-page ul .active span {
	color: white !important;
	background-color: #9b2813 !important;
}

.no-touchevents .bitrix-search-page ul a:hover {
	color: white;
}

.no-touchevents .bitrix-search-page ul a:hover span {
	background-color: #9b2813;
}

.no-touchevents .bitrix-search-page .p-nav:hover {
	background: #9b2813;
	box-shadow: inset 0 0 0 1px #9b2813;
}

.nav-small-tabs a:first-child {
	background-color: #172534;
}

.nav-small-tabs a.active-tab:first-child {
	border-color: rgba(255, 255, 255, 0.1);
}

/*=========== DEPARTMENTS CHERNOBIL end ===========*/

/*# sourceMappingURL=department-chernobil.css.map */
