@import ../utils/variables
@import ../utils/mixins
@import ../../libs/include-media/dist/include-media

/*article meta*/
=article-meta-text-size()
	+font(1.2rem, 1.4)

=article-meta-text-color()
	color: $text-color-light
	fill: $text-color-light

.article-meta
	+article-meta-text-size
	+article-meta-text-color
	margin-bottom: $bottom-space-md
	+clear

/*article meta end*/

/*date*/
.datetime
	float: left
	display: block
	margin-bottom: $bottom-space
	+article-meta-text-size
	+article-meta-text-color
	font-style: normal

	.article-meta &
		margin-right: 20px
		margin-bottom: 0

/*date end*/

/*visit*/
.visit-view
	//cursor: default

	svg
		+display-inline-block-middle
		+size(18px)
		margin-right: 10px

		path
			+article-meta-text-color
			transition-property: fill
			transition-duration: $animation-speed

		&.depict-visit-share
			+size(12px)

	& > em
		+display-inline-block-middle
		font-style: normal
		transition-property: color
		transition-duration: $animation-speed

	//.no-touchevents &:hover path
		fill: $text-color

	//.no-touchevents &:hover > em
		color: $text-color

.visit
	overflow: hidden
	margin-left: 20px
	text-align: right
	+article-meta-text-size
	+article-meta-text-color
	//cursor: default

.visit__item
	display: inline-block
	vertical-align: top
	margin-left: 30px

	+media('<mob-lg')
		margin-left: 5px

.visit__inner
	display: inline-block
	text-decoration: none
	+article-meta-text-color

/*visit end*/