@import ../utils/variables
@import ../utils/mixins
@import ../../libs/include-media/dist/include-media

/*ctrl*/
.ctrl
	.article-layout &:last-child
		margin-bottom: -#{$article-layout-space-vertical}
		
		+media('<desk-hd')
			margin-bottom: -#{$article-layout-space-vertical--desk-hd}

		+media('<tab-lg')
			margin-bottom: -#{$article-layout-space-vertical--tab-lg}

		+media('<mob-lg')
			margin-bottom: -#{$article-layout-space-vertical--mob-lg}

.ctrl__holder
	+clear

.ctrl__buttons
	float: left
	+clear

	+media('<desk-hd')
		float: none
		margin-bottom: $bottom-space

	& > a
		float: left
		margin-right: $grid-layout-space--desk-hd
		margin-bottom: 0

		&:nth-child(3)
			clear: left

			&, & ~ a
				margin-top: 20px

		&.view-print
			+media('<desk-hd')
				float: right
				+margin-horizontal($grid-layout-space--desk-hd, 0)

			+media('<tab-lg')
				margin: 0

			+media('<mob-md')
				float: none

		+media('<tab-lg')
			margin: 0

		+media('<mob-md')
			float: none

	& > [class*="btn-"]
		max-width: 270px

		+media('<mob-md')
			display: block
			max-width: none
			margin-bottom: $bottom-space

			&:last-child
				margin-bottom: 0

.ctrl .share-box
	float: right

	.share-box__label
		+font(1.6rem, 1.25)
		display: inline-block
		vertical-align: top
		max-width: 100px

	.social-networks
		display: inline-block
		vertical-align: top

		li
			+margin(null, 0, null, 10px)

	+media('<mob-lg')
		float: none

		.share-box__label
			float: none
			margin-bottom: $bottom-space-sm
			max-width: none

		.social-networks
			display: block

/*ctrl end*/