/*ctrl*/
.ctrl
	.article-layout &:last-child
		margin-bottom: -$article-layout-space-vertical

	&__holder
		width: 100%

		&:after
			content: ''
			display: block
			clear: both

		& > a
			float: left
			margin-right: 50px
			margin-bottom: 0

	& .share-box
		float: right

		& .share-box__label
			font-size: 1.6rem
			line-height: 1.25
			float: left
			max-width: 100px

		& .social-networks
			display: inline-block
			vertical-align: top
			margin: 0 0 -10px

			& li
				margin-right: 0
				margin-left: 10px

/*ctrl end*/