@import ../utils/variables
@import ../utils/mixins
@import ../../libs/include-media/dist/include-media

/*article meta*/
=article-meta-text-size()
	+font(1.4rem, round-float(18/14, 2))

.article-meta
	color: $text-color-light
	margin-bottom: $bottom-space-md
	+clear

	+media('<desk-hd')
		margin-bottom: 1rem

	+media('<mob-lg')
		margin-bottom: 0.5rem

/*article meta end*/

/*date*/
.datetime
	float: left
	display: block
	margin-bottom: $bottom-space
	+font-bold
	+article-meta-text-size
	color: $base-color
	font-style: normal

	+media('<desk-hd')
		margin-bottom: 1rem

	+media('<mob-lg')
		margin-bottom: 0.5rem

	.article-meta &
		margin-right: 20px
		margin-bottom: 0

/*date end*/

/*visit*/
.visit-view
	svg
		+display-inline-block-middle
		+size(18px)
		margin-right: 10px

		path
			fill: currentColor
			transition-property: fill
			transition-duration: $animation-speed

		&.depict-visit-share
			+size(12px)

	& > em
		+display-inline-block-middle
		font-style: normal

.visit
	overflow: hidden
	margin-left: 20px
	text-align: right
	+article-meta-text-size
	color: $text-color-light
	//cursor: default
	display: none

.visit__item
	display: inline-block
	vertical-align: top
	margin-left: 30px

	+media('<mob-lg')
		margin-left: 5px

.visit__inner
	display: inline-block
	text-decoration: none
	color: $text-color-light

/*visit end*/