/*banners*/
.banners
	+grid-parent($grid-space)
	+reset-inline-block-space
	margin-bottom: $bottom-space

	.home-page &
		padding-top: calc(2rem * 1.2 + 1.5rem) // Костыль. Высота однострочного заголовка секций

.banners__item
	font-size: $font-size
	line-height: $line-height
	letter-spacing: normal

	.aside &
		+grid-item(1, $grid-space)

	.banners-panel &
		+grid-item(4, $grid-space)

	a
		display: block
		text-decoration: none

		img
			width: 100%

/*banners end*/