@import ../utils/variables
@import ../utils/mixins
@import ../../libs/include-media/dist/include-media

/*banners*/
.banners
	+grid-parent($grid-space)
	+clear-spacing
	margin-bottom: $bottom-space

	.section &
		margin-bottom: 0

.banners__item
	+font($font-size, $line-height)
	letter-spacing: normal

	.banners &
		+grid-item(1, $grid-space)

		&:last-child
			margin-bottom: 0

	.banners-panel &
		+grid-item(4, $grid-space)

		//+media('<desk-lg')
			+grid-item(3, $grid-space)

		+media('<tab-lg')
			+grid-item(2, $grid-space)

	a
		display: block
		color: $text-color
		text-decoration: none

	img
		+push-auto
		width: 100%

		&[src*="preloader.svg"]
			width: 48px

/*banners end*/

/*context banners
.context-banner
	display: block
	background-position: center top
	background-repeat: no-repeat
	background-size: cover
	text-decoration: none
	color: $text-color

	&::before
		content: ""
		display: block
		+ratio(16, 9)

/*context banners end