/*BUTTONS*/
[class|="btn"],
[class*=" btn-"],
input[type="submit"],
input[type="button"],
input[type="reset"],
button
	display: inline-block
	vertical-align: top
	position: relative
	text-align: center
	text-decoration: none
	box-sizing: border-box
	cursor: pointer

[class|="btn"],
[class*=" btn-"]
	& input[type="submit"],
	& input[type="button"],
	& input[type="reset"]
		background: url("../../img/empty.png") repeat
		display: block
		height: 100%
		padding: 0
		position: absolute
		top: 0
		left: 0
		width: 100%
		z-index: 99
		border: 0
		opacity: 0
		-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0)
		filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0)

/*btn-default*/
.btn-default
	position: relative
	font: 400 1.6rem/24px $font-alt
	color: $btn-text-color
	padding: 11px 25px
	border: 2px solid transparent
	background: $btn-bg-color
	box-shadow: none
	box-sizing: border-box
	transition-property: background-color, color, border-color
	transition-duration: $animation-speed
	+btn-hover
	+btn-active

/*btn-default end*/

/*btn-default-alt*/
.btn-default-alt
	@extend .btn-default
	color: $btn-bg-color
	border: 2px solid $btn-bg-color
	background: $btn-text-color
	transition-property: background-color, color, border-color
	transition-duration: $animation-speed

	.no-touchevents &:hover
		background: $btn-bg-color-hover
		color: $btn-text-color

/*btn-default-alt end*/

/*btn-arrow*/
.btn-arrow
	@extend .btn-default
	border-width: 1px
	padding: 7px 20px

	& > span
		display: inline-block
		vertical-align: top
		position: relative

		&:before,
		&:after
			content: ''
			position: absolute
			top: 50%
			height: 2px
			width: 10px
			border-radius: 2px
			background: #fff

		&:before
			margin: -4px 0 0 0
			-webkit-transform: rotate(-45deg)
			-ms-transform: rotate(-45deg)
			transform: rotate(-45deg)

		&:after
			margin: 2px 0 0 0
			-webkit-transform: rotate(45deg)
			-ms-transform: rotate(45deg)
			transform: rotate(45deg)

	&_left > span
		padding-left: 18px

		&:before, &:after
			left: 0

		&:before
			margin: -4px 0 0 0

		&:after
			margin: 2px 0 0 0

	&_right > span
		padding-right: 18px

		&:before, &:after
			right: 0

		&:before
			margin: 2px 0 0 0

		&:after
			margin: -4px 0 0 0

/*btn-arrow*/

/*more button*/
.more
	text-align: center

	.btn-more
		display: inline-block
		text-decoration: none
		font: 400 #{$font-size}/#{$line-height} $font-alt
		color: $text-color-alt
		padding-bottom: 15px
		-webkit-transition-property: -webkit-transform
		transition-property: transform
		-webkit-transition-duration: $animation-speed-mouseleave
		transition-duration: $animation-speed-mouseleave

		.no-touchevents &:hover
			-webkit-transition-duration: $animation-speed
			transition-duration: $animation-speed
			-webkit-transform: translate(0, -4px)
			-ms-transform: translate(0, -4px)
			transform: translate(0, -4px)

		i
			position: absolute
			left: 50%
			bottom: 0
			width: 17px
			height: 16px
			font-size: 1px
			z-index: 2
			pointer-events: none
			-webkit-backface-visibility: hidden
			backface-visibility: hidden
			-webkit-transform: translate(-50%, 0)
			-ms-transform: translate(-50%, 0)
			transform: translate(-50%, 0)

		i:before, i:after
			content: ''
			position: absolute
			left: 50%
			top: 50%
			height: 2em
			width: 12em
			border-radius: 2em
			background: $text-color-alt
			-webkit-backface-visibility: hidden
			backface-visibility: hidden

		i:before
			margin: -1em 0 0 -10em
			-webkit-transform: rotate(45deg)
			-ms-transform: rotate(45deg)
			transform: rotate(45deg)

		i:after
			margin: -1em 0 0 -3em
			-webkit-transform: rotate(-45deg)
			-ms-transform: rotate(-45deg)
			transform: rotate(-45deg)
/*more button end*/
/*BUTTONS end*/