@import ../utils/variables
@import ../utils/mixins
@import ../../libs/include-media/dist/include-media

/*events summary*/
.events-sum
	position: relative
	margin-bottom: $bottom-space
	height: $news-item-height // Хардкод. Высота должна равняться блоку новостей с картинкой
	overflow: hidden
	background-color: white

	+media('<desk-hd')
		height: ($news-item-lg-height - $news-item-lg-img-height + $events-summary-nav-height) // Хардкод. Высота должна равняться высоте большой новости минус

	&:last-child
		margin-bottom: 0

.events-sum__nav
	height: $events-summary-nav-height

.events-sum__tab
	height: 100%

	$min: 1 !default
	$max: 3 !default

	@for $item from $min through $max

		$cur-item: $item - 1

		$percentage: 100/($max - 1)*$cur-item*1%

		&:nth-child(#{$item}) a
			background-color: mix($mark-color-alt, $mark-color, $percentage)

			//.no-touchevents &:hover
				background-color: mix(shade($mark-color-alt, 90%), shade($mark-color, 90%), $percentage)

	a
		display: block
		position: relative
		overflow: hidden // для обрезания стрелки активного таба
		height: 100%
		text-decoration: none
		color: $text-color
		transition-property: background-color
		transition-duration: $animation-speed

		&::after
			+pseudo()
			+triangle(top, white, 8px, 1.2)
			top: 100%
			left: 50%
			margin-left: -8px
			will-change: transform
			transition-property: transform
			transition-duration: $animation-speed

		//.no-touchevents &:hover
			opacity: 0.8

		&.active-tab
			&::after
				transform: translate(0, -100%)

		& > span
			+hide-text
			+antialiased

		svg
			display: block
			position: absolute
			left: 50%
			top: 50%
			width: 30px
			height: 30px
			margin: -15px 0 0 -15px
			transform: scale(0.8)
			transition-property: transform
			transition-duration: $animation-speed

			path, polygon
				fill: white

		.no-touchevents &:hover svg
			transform: scale(1)

.events-sum__panels
	height: calc(100% - #{$events-summary-nav-height}) // высота блока минус высота переключателей табов

.events-sum__panel
	$events-sum-bottom: 50px // нижний отступ больше, чем верхний

	display: block
	position: relative
	background-color: white
	padding: 10px $grid-inside-horizontal-space $events-sum-bottom
	height: 100%
	overflow: hidden

	&::after
		+pseudo()
		bottom: 0
		left: 0
		width: 100%
		height: $events-sum-bottom
		+linear-gradient(to top, white 0, white 80%, rgba(255, 255, 255, 0) 100%)
		z-index: 5

.events-sum__date
	display: block
	font-size: 1.2rem
	line-height: 1.2
	color: #999

.events-list
	position: relative

.events-list__item
	border-bottom: 1px solid $border-color
	+font(1.4rem, 1.43)
	+padding-vertical(round($grid-inside-vertical-space*0.4))

	&:last-child
		border-color: transparent

	h3
		font-size: 1.8rem
		line-height: 1.2
		margin-bottom: 8px

		&:last-child
			margin-bottom: 0

	p
		margin-bottom: 0

	img
		display: block
		margin: 0 auto

.events-sum__footer
	position: absolute
	left: 0
	bottom: 0
	width: 100%
	padding: 14px $grid-inside-horizontal-space 20px
	z-index: 10
	+truncate(100%)
	line-height: 1

/*save info end*/