@import ../utils/variables
@import ../utils/mixins
@import ../../libs/include-media/dist/include-media

/*expander
.expander
	margin-bottom: $bottom-space-lg

	+media('<mob-lg')
		+margin-horizontal(-#{$article-layout-space-horizontal--mob-lg})

	&:last-child
		margin-bottom: 0

.expander-item
	border: 1px solid $border-color
	margin-bottom: $bottom-space
	padding: 0 $grid-inside-horizontal-space

	+media('<tab-lg')
		+padding-horizontal($article-layout-space-horizontal--tab-lg)

	+media('<mob-lg')
		+padding-horizontal($article-layout-space-horizontal--mob-lg)
		margin-bottom: 0
		border-width: 0 0 1px

		&:first-child
			border-top-width: 1px

	&:last-child
		margin-bottom: 0

	p, ul, ol
		max-width: none

	.#{$user-content} & ul > li::before
		top: calc(1em * #{1.25} / 2)

.expander-header
	position: relative
	padding: $grid-inside-vertical-space 0
	transition-property: border-color
	transition-duration: $animation-speed
	+clear

	+media('<tab-lg')
		+padding-vertical($article-layout-space-vertical--tab-lg)

	+media('<mob-lg')
		+padding-vertical($article-layout-space-vertical--mob-lg)

.expander-header__meta
	float: left
	width: $faq-meta-width
	+font(1.2rem, 1.7)
	color: $text-color-light

	+media('<desk-lg')
		display: block
		float: none
		width: auto
		margin-bottom: $bottom-space-sm

	+media('<mob-lg')
		+font($font-size, $line-height)

	time
		+font-normal
		display: block

		+media('<mob-lg')
			display: inline-block
			margin-right: 20px

.expander-header__text
	padding-right: #{$grid-inside-horizontal-space + $faq-angle-size}
	font-family: $font-alt
	+font(1.6rem, 1.25)
	font-weight: normal
	color: $text-color
	transition-property: color
	transition-duration: $animation-speed

	.no-js &
		padding-right: 0

	+media('<mob-lg')
		padding-right: 0
		padding-bottom: 45px

.expander-angle
	$btn-size: $header-top-height
	$btn-lines-width: 17px
	$btn-lines-height: 3px
	$btn-lines-color: $text-color

	=line-style()
		+size($btn-lines-width, $btn-lines-height)
		background-color: $btn-lines-color

	position: absolute
	right: 0
	top: 50%
	+size($faq-angle-size)
	cursor: pointer
	transform: translate(0, -50%)
	+antialiased

	+media('<mob-lg')
		top: auto
		right: auto
		left: 0
		bottom: $article-layout-space-vertical--mob-lg
		+size(auto)
		transform: none

	.no-js &
		display: none

	> span
		+hide-text

		&:before, &:after
			display: none
			position: relative
			transition-property: opacity, transform, visibility
			transition-duration: $animation-speed

		&:before
			content: 'Показать ответ'
			transform: translate(0, 0)

			.expander-is-open &
				opacity: 0
				visibility: hidden
				transform: translate(0, -1em)

		&:after
			content: 'Закрыть ответ'
			position: absolute
			+top-left(0)
			+size(100%)
			opacity: 0
			visibility: hidden
			transform: translate(0, 1em)

			.expander-is-open &
				opacity: 1
				visibility: visible
				transform: translate(0, 0)

		+media('<mob-lg')
			display: inline-block
			position: relative
			+show-text
			overflow: visible
			margin: 0
			+font(0, 0)
			font-weight: bold
			white-space: nowrap

			&:before, &:after
				+display-inline-block-top
				+font($font-size, 1.2)
				border-bottom: 1px dotted $text-color
	> i
		position: absolute
		left: 50%
		top: 50%
		margin: -#{round($btn-lines-width*0.5)} 0 0 -#{round($btn-lines-width*0.5)}
		+size($btn-lines-width)
		backface-visibility: hidden
		transition-property: transform
		transition-duration: $animation-speed

		+media('<mob-lg')
			left: 0
			margin-left: 0
			display: none

		.expander-is-open &
			transform: rotate(0.625turn)

		&::before, &::after
			+pseudo()
			left: 0
			top: 50%
			margin-top: -#{round($btn-lines-height/2)}
			+line-style

		&::after
			transform: rotate(90deg)

	.no-touchevents &:hover i
		&::before, &::after
			background-color: $text-color-alt

.expander-panel
	position: relative
	overflow: hidden
	border-top: 1px solid $border-color
	display: none
	+font($font-size-small, $line-height-small)

	+media('<mob-lg')
		border-top: none

	.no-js &
		display: block

.expander-panel__holder
	padding: $grid-inside-vertical-space 0

	+media('<tab-lg')
		+padding-vertical($article-layout-space-vertical--tab-lg)

	+media('<mob-lg')
		+padding-vertical(0, $article-layout-space-vertical--mob-lg)

.expander-header__text, .expander-panel__holder
	margin-left: #{$faq-meta-width + $grid-inside-horizontal-space}

	+media('<desk-lg')
		margin-left: 0

	& > p:last-child, & > ul:last-child, & > ol:last-child
		margin-bottom: 0

/*expander end

/*faq form
.faq-form-wrap
	margin-bottom: $bottom-space-lg

	&:last-child
		margin-bottom: 0

/*faq form end