@import ../utils/variables
@import ../utils/mixins
@import ../../libs/include-media/dist/include-media

/*expander
.expander
	margin-bottom: $bottom-space

	&:last-child
		margin-bottom: 0

.expander
	& > .expander__item
		border: solid #d9d9d9
		border-width: 1px 0 0

		&:last-child
			border-bottom-width: 1px

.expander__header
	min-height: inherit
	position: relative
	cursor: pointer
	padding: #{$grid-layout-space--desk-md}
	transition-property: border-color
	transition-duration: 0.2s

	&:after
		+pseudo($pos: relative)
		vertical-align: middle
		min-height: inherit

.expander__title
	display: inline-block
	vertical-align: middle
	width: calc(100% - 10px)
	font-family: $font-alt
	color: $text-color
	transition-property: color
	transition-duration: 0.2s

	.no-touchevents .expander__hand:hover &
		color: $text-color-alt

.expander__angle
	position: absolute
	right: 0
	top: 50%
	width: 38px
	height: 38px
	border-radius: 50%
	border: 2px solid $text-color-alt
	transform: translate(0, -50%)

	.expander-is-open &
		transform: translate(0, -50%) rotate(-180deg)

	&:before, &:after
		+pseudo()
		left: 50%
		top: 50%
		+size(10px, 2px)
		background: $text-color-alt
		border-radius: 2px
		backface-visibility: hidden

	&:before
		transform: rotate(45deg)
		margin: 0 0 0 -8px

	&:after
		transform: rotate(-45deg)
		margin: 0 0 0 -2px

	&, &:before, &:after
		transition-property: transform, background
		transition-duration: 0.18s
	
	.no-touchevents .expander__hand:hover &
		background: $text-color-alt
	
		&:before, &:after
			background: #fff

.expander__panel
	position: relative
	overflow: hidden
	border-top: 1px solid #d9d9d9
	display: none
	color: white
	background-color: $text-color-alt

	.no-js &
		display: block

	&:before, &:after
		content: ''
		position: absolute
		left: -10%
		width: 120%
		height: 20px
		box-shadow: 0 0 20px rgba(0, 0, 0, 0.15)
		z-index: 99

	&:before
		top: -20px

	&:after
		bottom: -20px

.expander__frame
	overflow: hidden
	position: relative
	padding: #{$grid-layout-space--desk-md}

	& > p:last-child,
	& > ul:last-child,
	& > ol:last-child
		padding-bottom: 0
		margin-bottom: 0

/*expander end