@import ../utils/variables
@import ../utils/mixins
@import ../../libs/include-media/dist/include-media

/*info-map
$info-map-border-color: #d63700 !default

.info-map
	position: relative
	max-width: 1100px
	margin: 0 auto $bottom-space-md

.info-map-regions
	margin-left: 5%

	+media('<tab-sm')
		margin-left: 0

.info-map-svg
	max-width: 100%
	max-height: 100%
	position: relative

	&, &:not(:root)
		overflow: visible

	//.st0
		fill: $base-color

	a
		display: block
		position: relative
		text-decoration: none
		color: $text-color
		cursor: pointer
		background-color: coral

		&:hover, &.active
			z-index: 9

	polygon
		fill: white
		stroke-width: 1
		stroke: $base-color
		stroke-miterlimit: 10

	#all-rb .st0
		stroke-width: 3
		stroke: $info-map-border-color
		fill: none

	#oblasti .st0, #minsk .st0
		stroke-width: 2
		stroke: $info-map-border-color
		fill: none

	text
		cursor: pointer
		display: initial
		+font(10px, 12px)
		color: $text-color
		fill: $text-color
		pointer-events: none

	.info-map-icon
		+display-inline-block-top
		+size(32px)

	// hover
	g[data-href]
		&.active
			polygon
				fill: $mark-color-alt

			text
				color: white
				fill: white

.info-map-labels, .info-map-labels__holder
	width: 140px
	height: 0

// info map labels
$info-map-label-size: 40px
.info-map-labels
	text-align: center
	pointer-events: none

	//background-color: coral
	//height: 5px

.info-map-labels__holder
	margin-left: -#{70 - round($info-map-label-size/2)+10}

	//background-color: cadetblue
	//height: 5px

.info-map-label
	vertical-align: top
	//margin-top: -#{round($info-map-label-size/2)}
	margin-top: -#{round($info-map-label-size)}
	margin-left: -#{round($info-map-label-size/2)+10}
	display: none

	&.show-label
		display: inline-block

	//$minGroup1: 1 !default
	//$maxGroup1: 10 !default

	//@for $item from $minGroup1 through $maxGroup1

		$cur-item: $maxGroup1 - $item

		&:nth-child(#{$item})
			z-index: $cur-item
			//margin-top: -#{5px*$item - 5px}

		@if $item > $minGroup1
			&:nth-child(#{$item})
				margin-left: -#{round($label-size/2)+10}

	svg
		+display-inline-block-top
		+size($info-map-label-size)

		path, use
			stroke: $text-color
			stroke-width: 2px

	.info-map-count
		$number-size: 16px
		margin: -#{$info-map-label-size} 0 0
		+size($info-map-label-size)
		+font-normal
		+font(12px, $number-size)
		color: white
		text-align: center
		display: none

		&.show-count
			display: block

		span
			+display-inline-block-top
			height: $number-size
			padding: 0 5px
			margin-top: round(($info-map-label-size - $number-size)/2)
			min-width: $number-size
			background-color: $info-map-border-color
			border-radius: round($number-size/2)
			//box-shadow: inset 0 0 0 1px white
			box-sizing: border-box

//& + svg
	margin-left: -22px

/*info-map popup
.info-map-popup
	position: absolute
	right: 0
	top: 0
	width: 410px
	padding: 0 10px
	box-sizing: border-box
	z-index: 999
	//pointer-events: none

	/*opacity: 0;
	/*visibility: hidden;
	display: none

.info-map-popup__holder
	position: relative
	padding: 28px 30px
	background-color: white
	border: 1px solid $info-map-border-color
	+clear-spacing

	& > *
		+font(14px, 24px)
		letter-spacing: normal

.info-map-popup__corner
	position: absolute
	top: 0
	width: 0
	height: 100%
	background: red
	pointer-events: none

	&.top
		transform: rotate(180deg)

	&::after,
	&::before
		+pseudo()
		top: 100%
		left: 50%
		border: solid transparent
		height: 0
		width: 0

	&::after
		border-color: rgba(255, 255, 255, 0)
		border-top-color: #fff
		border-width: 13px
		margin-left: -13px

	&::before
		border-color: rgba(230, 230, 230, 0)
		border-top-color: $info-map-border-color
		border-width: 14px
		margin-left: -14px

.info-map-popup__title
	+font-title
	+font(16px, 20px)
	color: $text-color
	margin-bottom: 20px

// list
.info-map-popup__list
	&, .#{$user-content} &
		margin: 0 0 20px
		padding: 0

		&:last-child
			margin-bottom: 0

		li
			padding: 0
			margin: 0 0 10px

			&:last-child
				margin-bottom: 0

			&::before
				content: none

	&
		+font(14px, 24px)

	li
		+clear

		& > svg
			float: left
			+size(24px)
			margin-right: 5px

		path, use
			stroke-width: 2px
			stroke: $text-color

		.text-inner
			display: block
			overflow: hidden

// btn close
.info-map-popup__close
	position: absolute
	right: 10px
	top: 10px
	+size(18px)
	font-size: 1px
	background: #fff
	text-decoration: none
	text-indent: -9999px
	overflow: hidden
	transition-property: transform
	transition-duration: 0.2s
	display: none

	.touchevents &
		display: block

	&::before, &::after
		+pseudo()
		left: 50%
		top: 50%
		+size(22em, 2em)
		border-radius: 2em
		background: #d9d9d9
		transition-property: background
		transition-duration: $animation-speed
		margin: (-1em) 0 0 -11em

	&::before
		transform: rotate(-45deg)

	&:after
		transform: rotate(45deg)

	// hover
	&:hover
		&::before,
		&::after
			background-color: $base-color

/*info-map popup end
/*info-map end

/*map legend
// list
.map-legend__list
	&, .#{$user-content} &
		margin: 0 0 20px
		padding: 0

		&:last-child
			margin-bottom: 0

		li
			padding: 0
			margin: 0 0 10px

			&:last-child
				margin-bottom: 0

			&::before
				content: none

	&
		+font(14px, 24px)

	li
		+clear

		& > svg, & > i
			float: left
			+size(32px)
			margin-right: 5px

		path, use
			stroke-width: 2px
			stroke: $text-color

		.text-inner
			display: block
			overflow: hidden
			padding: 4px 0

/*map legend end

/*map oblast
.info-map-oblast
	width: 30%
	max-width: 320px
	position: absolute
	left: 0
	top: 0
	z-index: 5

	+media('<tab-sm')
		position: relative
		left: auto
		top: auto
		margin: 0 auto $bottom-space-md
		width: auto

	.info-map-svg
		polygon
			stroke-width: 3

		text
			+font(36px, 1)
			left: -20px

		#minsk .st0
			//stroke: $base-color
			stroke-width: 8

	$info-map-label-size: 110px
	.info-map-labels, .info-map-labels__holder
		width: 280px

	.info-map-label
		margin-top: -#{round($info-map-label-size)}
		margin-left: -#{round($info-map-label-size/2)+10}

		svg
			+size($info-map-label-size)

			path, use
				stroke-width: 2px

		.info-map-count
			$number-size: 42px
			//==============
			margin-top: -#{$info-map-label-size}
			+size($info-map-label-size)
			+font(38px, $number-size)

			span
				height: $number-size
				padding: 0 5px
				margin-top: round(($info-map-label-size - $number-size)/2)
				min-width: $number-size
				border-radius: round($number-size/2)

.info-map-oblast__title
	+font-title
	+font(18px, 1.2)
	text-align: center
	margin-bottom: $bottom-space-sm


/*map oblast end