@import ../utils/variables
@import ../utils/mixins
@import ../../libs/include-media/dist/include-media

/*media block
.media-block
	margin-bottom: $bottom-space

	&:last-child
		margin-bottom: 0

.media-block__nav
	border-bottom: 1px solid shade($border-color, 80%)
	margin-bottom: 20px
	+clear

	+media('<mob-md')
		display: none

.media-block__tab
	float: left
	margin-bottom: -1px

	a
		display: inline-block
		vertical-align: top
		padding: 12px 20px
		font-family: $font-alt
		font-weight: 400
		font-size: 1.2rem
		line-height: 1.5
		text-decoration: none
		color: $text-color-light
		text-transform: uppercase
		border: 1px solid transparent
		border-bottom-color: shade($border-color, 80%)
		background-color: $bg-color
		transition-property: border-color, color
		transition-duration: $animation-speed

		+media('<mob-md')
			font-size: 1.0rem
			padding: 10px 8px

		.no-touchevents &:hover
			color: $text-color-alt

		&.active-tab
			&, .no-touchevents &:hover
				border-color: shade($border-color, 80%)
				border-bottom-color: transparent
				color: $text-color
				cursor: default

	&:first-child a
		&, .no-touchevents &:hover
			border-left-color: transparent

.media-block__panel
	overflow: hidden

	+media('<mob-md')
		opacity: 1 !important
		visibility: visible !important
		position: relative !important
		left: auto !important
		top: auto !important
		margin-bottom: $bottom-space

		&:last-child
			margin-bottom: 0

	.section__subtitle
		display: none

		+media('<mob-md')
			display: block

.media-list
	margin-bottom: $bottom-space
	+grid-parent($grid-space)
	+clear-spacing

	&:last-child
		margin-bottom: 0

	.media-block__panel &
		margin-bottom: -$grid-space

	+media('<mob-md')
		+grid-parent(2px)

		.media-block__panel &
			margin-bottom: -2px

.media-list__item
	+grid-item(4, $grid-space)
	+font(1.4rem, 1.3)
	letter-spacing: normal
	text-align: center

	+media('<desk-lg')
		+grid-item(2, $grid-space)

	+media('<mob-md')
		+grid-item(2, 2px)

.media-list__inner
	display: block
	height: 100% // для js equalHeight
	text-decoration: none
	color: $text-color
	padding: 10px
	background-color: white
	transition-property: color
	transition-duration: $animation-speed

	.no-touchevents &:hover
		color: $text-color-alt

.media-list__img
	position: relative
	overflow: hidden
	margin-bottom: $bottom-space-sm

.media-list__figure
	position: relative
	+ratio(1, 1)
	transition-property: transform, opacity
	transition-duration: $animation-speed

	img
		position: absolute
		left: 50%
		top: 50%
		max-width: 100%
		max-height: none
		min-width: 0
		min-height: 0
		width: calc(100% + 4px)
		height: calc(100% + 4px)
		transform: translate(-50%, -50%)
		text-align: left
		object-fit: cover
		backface-visibility: hidden

		.no-objectfit &
			width: auto
			height: 100%
			
.no-touchevents .media-list__inner:hover .media-list__figure
	//transform: scale(1.1)
	//opacity: 0.85

.media-list__item .video-play
	background-color: rgba(0, 0, 0, 0.1)
	bottom: 0
	left: 0
	right: 0
	top: 0
	position: absolute
	transition: background-color 0.15s ease 0s

	img
		position: absolute
		left: 50%
		top: 50%
		+size(50px)
		transform: translate(-50%, -50%)

.media-list__title
	padding-bottom: 5px

/*media block end

.popup-gallery
	display: none