@import ../utils/variables
@import ../utils/mixins
@import ../utils/placeholders

///*=================*/
/*news previews*/
///*=================*/
.news-previews
	overflow: hidden

.news-previews__list
	+grid-parent($grid-space)
	+clear-spacing
	margin-bottom: $bottom-space

.news-previews__item
	+font($font-size-small, $line-height-small)
	letter-spacing: normal

	.news-previews &
		+grid-item(4, $grid-space, $grid-space)

		+media('<desk-lg')
			+grid-item(2, $grid-space)

		//+media('<tab-lg')
			+grid-item(2, $grid-space)

		+media('<mob-md')
			+grid-item(1, $grid-space)

.news-previews__inner
	display: block
	position: relative
	text-decoration: none
	color: $text-color
	background-color: #fff
	box-shadow: inset 0 -3px 0 $mark-color-alt

.news__label
	position: absolute
	top: 0
	width: $news-label-size
	height: $news-label-size
	pointer-events: none
	text-indent: -9999px
	overflow: hidden
	z-index: 5

	.news__place ~ &
		left: $news-label-size

	&_none
		display: none

	&_video
		background: $mark-color url(../../img/depict-video.svg) no-repeat center
		-webkit-background-size: 26px
		background-size: 26px

	&_photos
		background: $mark-color-alt url(../../img/depict-photos.svg) no-repeat center
		-webkit-background-size: 26px
		background-size: 26px

.news__place
	position: absolute
	top: 0
	width: $news-label-size
	height: $news-label-size
	pointer-events: none
	background-color: $base-color
	+font-title
	color: white
	text-align: center
	font-size: 18px
	line-height: $news-label-size
	letter-spacing: normal
	z-index: 5

//.news-previews__img
	min-height: $news-label-size
	background-position: center top
	background-repeat: no-repeat
	-webkit-background-size: cover
	background-size: cover
	+ratio(1, 1)

	+media('<mob-md')
		+ratio(10, 6)

	img
		width: 100%

.news-previews__img
	img
		width: 100%

.news-previews__content
	position: relative
	overflow: hidden
	padding: $grid-inside-vertical-space $grid-inside-horizontal-space

	+media('<tab-lg')
		+padding-horizontal(round($grid-inside-horizontal-space*0.7))

	.news__label + &
		padding-top: $grid-inside-vertical-space + $news-label-size

	& > *
		z-index: 2
		position: relative

	&::before
		content: ''
		position: absolute
		left: 0
		top: 0
		height: 100%
		width: 100%
		background: $mark-color-alt
		transform: translate(0, 100%)
		+news-transition

	.no-touchevents a.news-previews__inner:hover &
		&::before
			transform: translate(0, 0)
			transition-duration: $animation-speed

.news-previews__title
	color: inherit
	transition-property: color
	transition-duration: $animation-speed

.news-previews__text
	margin-bottom: $grid-inside-vertical-space
	color: inherit
	transition-property: color
	transition-duration: $animation-speed

.news-previews__meta
	display: block
	+font(1.2rem, 1.4)
	color: $text-color-light
	+news-transition
	+clear

	time
		font-style: normal

	.visit-view
		float: right

		path
			transition:
				property: fill
				duration: $animation-speed

		& > em
			transition: none

	.no-touchevents a.news-previews__inner:hover &
		color: $text-color

		path
			fill: $text-color
			transition-duration: $animation-speed

.news-previews__footer
	position: relative

///*=================*/
/*news previews end*/
///*=================*/

///*=================*/
/*news grid*/
///*=================*/
//.news-grid
	overflow: hidden

.news-grid--main
	//max-width: 850px
	max-width: 1160px

.news-grid__list
	margin-bottom: -$grid-space
	+margin-horizontal(round(-$grid-space/2))
	+clear

.news-grid__item, .news-grid__item--large, .news-grid__item--wide
	position: relative
	+font($font-size-small, $line-height-small)
	letter-spacing: normal

	.news-grid &
		float: left
		margin-bottom: $grid-space

		width: $news-item-width // костыль для малекнького элемента, чтобы высоты блоков были четко по дизу
		height: $news-item-height // костыль для малекнького элемента, чтобы высоты блоков были четко по дизу
		+padding-horizontal(round($grid-space/2))

		+media('<desk-lg')
			width: 49.98%

		+media('<mob-lg')
			width: 100%
			height: auto

		.no-js &
			height: auto !important
			width: auto
			float: none

	.news-grid__slider &
		margin-bottom: 0
		+padding-horizontal(0)

	.news-simple &
		height: auto
		width: auto

// специальные свойства для блока "Главные новости" (`.news-grid--main`)
// или специальные свойства элемета новостей с классом `.news-grid__item--no-img`
.news-grid--main .news-grid__item:nth-child(n + 4), .news-grid .news-grid__item--no-img // Костыль. Все элементы начиная с четвертого должны быть без картинок и лейблов
	height: $news-item-sm-height // костыль для элемента без картинок, чтобы высоты блоков были четко по дизу

	+media('<mob-lg')
		height: auto

	.news__label
		display: none

	.news-grid__img
		display: none


// 1) для первых трех элементов или с классом `.news-grid__item--has-img`
.news-grid--main .news-grid__item:nth-child(-n+3), .news-grid .news-grid__item--has-img
	+media('<desk-lg')
		height: auto

.others-news .news-grid__item
	height: auto

	.news-grid__content
		height: auto

.news-grid .news-grid__item--large
	width: $news-item-lg-width // костыль для большого элемента, чтобы высоты блоков были четко по дизу
	height: $news-item-lg-height // костыль для большого элемента, чтобы высоты блоков были четко по дизу

	+media('<desk-lg')
		width: 100%

	//+media('<mob-lg')
	+media('<desk-lg')
		//width: 100%
		height: auto

.news-grid .news-grid-slider__slide
	+media('<desk-lg')
		height: 100%

.news-grid__inner
	display: block
	position: relative
	text-decoration: none
	color: $text-color
	background: #fff
	box-shadow: inset 0 -3px 0 $mark-color-alt
	height: 100% // inner по высоте равен item
	overflow: hidden // необходимо для учета margin внутренних элементов !!!

	.news-simple &
		background: none
		box-shadow: none

.news-grid__item--has-img

	.news-grid__inner
		position: relative

		&::before
			+pseudo()
			+cover($position: null, $height: $news-item-img-height) // высота как у картинки. см. выше
			background: url(../../img/no-img.jpg) no-repeat center
			background-size: cover

.news-grid__item--large

	.news-grid__inner::before
		height: $news-item-lg-img-height
// высота как у большой картинки. см. выше

//.news-grid__slider,
.news-grid__img
	position: relative
	height: $news-item-img-height // костыль, чтобы высоты блоков были четко по дизу
	z-index: 4
	overflow: hidden // чтобы обрезать блюр-подложку
	min-height: $news-label-size
	background-image: url(../../img/no-img.jpg)
	//background-repeat: no-repeat
	//background-position: center
	//background-size: cover
	background-repeat: no-repeat // запрещаем повторение изображения
	background-position: 250% 250% // выносим за границы видимой области
	background-size: auto // обнуляем сайзинг фонового изображение

	.no-js &
		height: auto !important
		min-height: 0

	&::before
		content: ""
		position: absolute
		left: -20px
		top: -20px
		width: calc(100% + 40px)
		height: calc(100% + 40px)
		background-repeat: no-repeat
		background-position: center
		background-size: cover
		background-image: inherit
		//opacity: 0.5
		filter: blur(8px)

	&[style*="preloader.svg"]
		background-size: 48px
		background-position: center

	// на img пока не заменяем, а используем background-image
	// если использовать img, могут быть проблемы с неравномерной загрузкой изображения для блюра, и основного
	// как и на слайдере
	.img-content
		position: absolute
		left: -#{round($news-item-img-increase/2)}
		top: -#{round($news-item-img-increase/2)}
		width: calc(100% + #{$news-item-img-increase})
		height: calc(100% + #{$news-item-img-increase})
		font-size: 0
		line-height: 0
		color: transparent
		background-image: inherit
		background-repeat: no-repeat
		background-position: center
		background-size: contain

	img
		width: 100%

	.news-grid__slider + .news-grid__inner &
		display: none

	.news-grid__item--large &
		height: $news-item-lg-img-height

	//+media('<mob-lg')
		height: $news-item-lg-img-height-mob-lg

	&, .news-grid__item--large &
		+media('<desk-lg')
			height: auto

			&::after
				content: ""
				display: block
				+ratio(16, 9)

	.news-grid--main &, .news-grid__item--has-img &
		position: absolute
		top: 0

.news-grid--main, .news-grid__item--has-img
	.news-grid__img
		left: 0
		width: 100%

	.news-grid__slider
		left: round($grid-space/2)
		right: round($grid-space/2)
		width: auto

.news-grid-slider
	// !!! с лейзилоад плохо работает подстановка размытого дубликата изображения
	// !!! мигает на копиях слайдов, которые используются для бесконечного листания
	.news-grid__img
		//background-color: #ddd
		background-color: #fff

		// для добавления размытого дубликата изображения
		background-repeat: no-repeat // запрещаем повторение изображения
		background-position: 250% 250% // выносим за границы видимой области
		background-size: auto // обнуляем сайзинг фонового изображение

		// создаем подложку с размытым дубликатом изображения
		&::before
			content: ""
			position: absolute
			left: -5%
			top: -5%
			width: 110%
			height: 110%
			background-repeat: no-repeat
			background-position: center
			background-size: cover
			background-image: inherit
			filter: blur(8px)
		// если в слайдере включен lazyload, то до загрузки изображения нужно скрыть фон
		//opacity: 0

		img
			// если есть прелоадер
			//position: absolute
			//display: block
			//left: 50%
			//top: 50%
			//width: 48px
			//height: 48px
			//margin: -24px 0 0 -24px

			//&.loaded
			//===============
			position: absolute
			display: block
			margin: 0
			left: -#{round($news-item-img-increase/2)}
			top: -#{round($news-item-img-increase/2)}
			width: calc(100% + #{$news-item-img-increase})
			height: calc(100% + #{$news-item-img-increase})
			max-width: none
			+object-fit(contain)

// если в слайдере включен lazyload, то после загрузки изображения показываем фон
//.loaded-img
	.news-grid__img
		&::before
			opacity: 1

.news-grid__content
	position: relative
	overflow: hidden
	padding: $grid-inside-vertical-space $grid-inside-horizontal-space 48px
	// Костыль. Нужен больше нижний отступ, чтобы повесить на абсолюте мета инфу

	.no-js &
		margin-top: 0 !important
		height: auto !important
		padding-top: $news-label-size + 10 !important

	+media('<mob-lg')
		+padding-horizontal(round($grid-inside-horizontal-space*0.7))

	.news-grid &
		// Костыль. Жесткая высота контента. Высота элемета - высота картинки
		height: $news-item-content-height

		+media('<mob-lg')
			height: auto

	.news-grid .news-grid__item--large &
		// Костыль. Для больших блоков своя высота контента. Высота элемета - высота картинки
		height: $news-item-lg-content-height

	//+media('<mob-lg')
		height: auto

	.news-grid--main .news-grid__item:nth-child(n+4) &
		// Костыль. Для мленьких блоков своя высота контента. По дизу.
		height: $news-item-sm-content-height

		+media('<desk-lg')
			height: auto

	//+media('<mob-lg')
		height: auto

	// специальные свойства для блока "Главные новости" (`.news-grid--main`)
	// или специальные свойства элемета новостей с классом `.news-grid__item--has-img`

	// 1) для первых трех элементов или с классом `.news-grid__item--has-img`
	.news-grid--main .news-grid__item:nth-child(-n+3) &, .news-grid .news-grid__item--has-img &
		margin-top: $news-item-img-height // Костыль. Высота картинки

		+media('<desk-lg')
			height: auto
			margin-top: 56.25%

	// 2) то же самое для большого элемента
	.news-grid--main .news-grid__item--large:nth-child(-n+3) &, .news-grid .news-grid__item--large.news-grid__item--has-img &
		margin-top: $news-item-lg-img-height
		// Костыль. Высота картинки для большого блока

		+media('<mob-lg')
			margin-top: $news-item-lg-img-height-mob-lg

	// сложный селектор нужен, чтобы перебить предыдущие стили с nth-child
	.news-grid .news-grid-slider .news-grid-slider__slide &

		+media('<desk-lg')
			height: 100%
			margin-top: 0
			//padding-top: $grid-inside-vertical-space + $news-item-lg-img-height
			//height: calc(100% - #{$news-item-lg-img-height})
			padding-top: calc(56.25% + #{$grid-inside-vertical-space})
			padding-bottom: 100px

			.news-grid__meta
				bottom: 70px

	//.news-grid__text
		max-height: none

		//+media('<mob-lg')
			padding-top: $grid-inside-vertical-space + $news-item-lg-img-height-mob-lg
			//height: calc(100% - #{$news-item-lg-img-height-mob-lg})

	.news-simple &
		padding: 0
		margin-right: 10px

		&::before
			content: none

	& > *
		z-index: 2
		position: relative

	&::before
		+pseudo()
		+cover($position: null)
		background: $mark-color-alt
		transform: translate(0, 100%)
		+news-transition

	.no-touchevents a.news-grid__inner:hover &
		&::before
			transform: translate(0, 0)
			transition-duration: $animation-speed

.news-grid__title
	font-family: $font-alt
	+font(1.8rem, 1.3)
	color: inherit
	font-weight: 700
	overflow: hidden
	height: round-float(1.8rem*1.3*2, 1) // костыль, чтобы высоты блоков были четко по дизу
	margin-bottom: 20px
	transition-property: color
	transition-duration: $animation-speed

	.news-grid__item--large &
		height: auto
		max-height: round-float(1.8rem*1.3*4, 1) // костыль, для больших новостных элементов

		+media('<desk-lg')
			max-height: none

		+media('<mob-lg')
			+font(1.7rem, 1.2)
//max-height: round-float(1.7rem*1.2*4, 1) // костыль, для больших новостных элементов

.news-grid__text
	overflow: hidden
	color: inherit
	height: round-float($font-size-small*$line-height-small*4, 1) // костыль, чтобы высоты блоков были четко по дизу
	transition-property: color
	transition-duration: $animation-speed

	+media('<mob-lg')
		height: auto
		max-height: round-float($font-size-small*$line-height-small*4, 1) // костыль, чтобы высоты блоков были четко по дизу

	//+media('<desk-lg')
		margin-bottom: $bottom-space-sm

	.no-js &
		height: auto !important
		max-height: none !important

	.news-grid__item--large &
		height: auto
		max-height: round-float($font-size-small*$line-height-small*8, 1)

		+media('<desk-lg')
			max-height: none

	.news-simple &
		height: auto
		margin-bottom: $bottom-space

	p, ul, ol, table, blockquote, h2, h3, h4
		margin-bottom: 0
		padding-bottom: 0

.news-grid__meta
	position: absolute
	bottom: $grid-inside-vertical-space
	width: calc(100% - #{$grid-inside-horizontal-space*2})
	font-size: 1.2rem
	line-height: 1.4
	color: $text-color-light
	+news-transition

	.no-js &
		position: relative
		left: auto
		bottom: auto
		width: auto

	+media('<mob-lg')
		width: calc(100% - #{round($grid-inside-horizontal-space*0.7)*2})

	time
		font-style: normal

	.visit-view
		float: right
		display: none

		svg path
			transition-property: fill
			transition-duration: $animation-speed

	.no-touchevents a.news-grid__inner:hover &
		color: $text-color

		path
			fill: $text-color
			transition-duration: $animation-speed

	.news-simple &
		position: relative
		bottom: auto
		width: auto

	.visit-view > em
		transition: none

.news-grid__footer
	position: relative

/*news grid wide
.news-grid__item--wide
	height: 180px

	+media('<mob-lg')
		height: auto

	.news-grid__inner
		padding-left: 180px

		+media('<mob-lg')
			padding-left: 0

		&::before
			+pseudo()
			+cover(null, 0, 0, 180px, 180px)
			background: url(../../img/no-img.jpg) no-repeat center
			background-size: cover

			+media('<mob-lg')
				content: none

	.news__label
		+media('<mob-lg')
			display: none

	.news__place
		+media('<mob-lg')
			+size(26px)
			font-size: 14px
			line-height: 26px
			left: 0

	.news-grid__img
		position: absolute
		left: 0
		top: 0
		width: 180px
		height: 180px
		background-position: center
		background-size: cover

		.img-content
			display: none

		&::before, &::after
			content: none

		+media('<mob-lg')
			display: none

	.news-grid__content
		height: 180px

		+media('<mob-lg')
			height: auto

	.news-grid__text
		overflow: hidden
		height: round-float($font-size-small*$line-height-small*4, 1) // костыль, чтобы высоты блоков были четко по дизу
		margin-bottom: 20px

		+media('<mob-lg')
			height: auto
			max-height: round-float($font-size-small*$line-height-small*4, 1) // костыль, чтобы высоты блоков были четко по дизу

/*news grid view end
/*news grid end*/

/*others news*
.others-news

	.news-grid__list .news-grid__item

		+media('<mob-lg')
			display: none

			&:nth-child(-n+2)
				display: block

			&:nth-child(2)
				margin-bottom: 0

		&:last-child
			+media('<desk-hd')
				display: none

			+media('<desk-lg')
				display: block

			+media('<mob-lg')
				display: none

	.news-grid ~ .section__footer
		padding-top: $bottom-space

/*others news end*

/*news simple
.news-simple
	margin-bottom: $bottom-space

	&:last-child
		margin-bottom: 0

.news-simple__list
	+grid-parent()
	+clear-spacing

	.news-grid__item
		+grid-item(4)

		+media('<desk-lg')
			+grid-item(2)

		+media('<mob-md')
			+grid-item(1)

	.no-touchevents & .news-grid__inner:hover
		.news-grid__text
			color: $text-color-alt

/*news simple end

/*news footer
.news__footer
	text-align: center
	margin-bottom: $bottom-space

	&:last-child
		margin-bottom: 0

/*news footer end

/*dep-banner
.dep-banner
	height: auto

.dep-banner__inner
	display: block
	position: relative
	text-decoration: none
	color: white
	overflow: hidden
	padding: 30px
	background: #fff
	background-repeat: no-repeat
	background-size: cover
	+clear-spacing

	&::before
		content: ""
		display: inline-block
		vertical-align: middle
		height: 120px

		+media('<mob-md')
			content: none

	.gosdep-banner &
		background-color: #2d1c74
		background-image: url(../../img/bg-gosdep.jpg)

.dep-banner__img
	display: inline-block
	vertical-align: middle
	width: 120px
	height: 120px
	margin-right: 30px

	+media('<mob-md')
		display: block
		width: auto
		margin: 0 0 20px

.dep-banner__content
	display: inline-block
	vertical-align: middle
	width: calc(100% - 120px - 40px)
	letter-spacing: normal

	+media('<mob-md')
		display: block
		width: auto

.dep-banner__title
	+font-title
	+font(2.0rem, round-float(24/20, 2))
	margin-bottom: 0.6em

	&:last-child
		margin-bottom: 0

.dep-banner__text
	+font-title
	+font(1.4rem, round-float(24/14, 2))
	color: #b2b2ab

/*dep-banner end
///*=================*/
///*news grid end*/
///*=================*/

///*=================*/
/*news group
///*=================*/
.news-group
	position: relative
	+clear

	.section__box &:last-child
		margin-bottom: -2rem

	&::before
		+pseudo()
		left: 50%
		border-right: 1px solid $border-color
		top: 0
		bottom: 2rem

		+media('<mob-lg')
			content: none

.news-group__list
	margin-bottom: $bottom-space
	+margin-horizontal(round(-$grid-space/2))
	+clear

	&:last-child
		margin-bottom: 0

.news-group__item
	position: relative
	font-size: $font-size-small
	line-height: $line-height-small
	letter-spacing: normal

	&:first-child
		float: left
		width: calc(50% - #{$grid-space})

		+media('<mob-lg')
			float: none
			width: 100%

	&:nth-child(n+2)
		margin-left: calc(50% + #{$grid-space})

		+media('<mob-lg')
			margin-left: 0

	.news-group &
		+padding-horizontal(round($grid-space/2))

.news-group__inner
	display: block
	position: relative
	text-decoration: none
	color: $text-color
	//background: #fff
	box-shadow: inset 0 -1px 0 $border-color

	.news-group .news-group__item:first-child &
		padding-top: 140px // Костыль. Высота картинки
		box-shadow: none

		+media('<mob-lg')
			box-shadow: inset 0 -1px 0 $border-color

	.news-group .news-group__item:last-child &
		box-shadow: none

.news-group__img
	position: absolute
	left: 0
	top: 0
	height: 140px // костыль, чтобы высоты блоков были четко по дизу
	min-height: $news-label-size
	width: 100%
	background-image: url(../../img/no-img.jpg)
	background-repeat: no-repeat
	background-position: center center
	background-size: cover
	z-index: 4

	&[style*="preloader.svg"]
		background-size: 48px

	// фото может быть тольков в первой новости
	.news-group__item:nth-child(n+2) &
		display: none
		padding: 0

	img
		width: 100%

.news__label

	// лейбл может быть тольков в первой новости
	.news-group__item:nth-child(n+2) &
		display: none

.news-group__content
	position: relative
	overflow: hidden
	padding: 1.4em 0 2.8em
	// Костыль. Нужен больше нижний отступ, чтобы повесить на абсолюте мета инфу

	.news-group__item:first-child &
		padding-top: 1.9em
		padding-bottom: 3.9em
		min-height: 266px // Костыль, чтобы растянуть по высоте левую колонку на высоту соседних трех

		+media('<mob-lg')
			padding: 1.4em 0 2.8em
			min-height: 0

	.news-group__item:nth-child(2) &
		padding-top: 0

		+media('<mob-lg')
			padding-top: 1.9em

	.news-group__item:last-child
		padding-bottom: 0

	.news-group__label + &
		padding-top: $grid-inside-vertical-space + $news-label-size

	& > *
		z-index: 2
		position: relative

.news-group__title
	font-family: $font-alt
	+font(1.6rem, 1.25)
	font-weight: 700
	overflow: hidden
	max-height: round-float(1.6rem*1.25*3, 1) // костыль, чтобы высоты блоков были четко по дизу
	margin-bottom: 0.9em
	transition-property: color
	transition-duration: $animation-speed

	// заголовок может быть тольков в первой новости
	.news-group__item:nth-child(n+2) &
		display: none

	.no-touchevents .news-group__inner:hover &
		color: $text-color-alt

.news-group__text
	overflow: hidden
	height: round-float($font-size-small*$line-height-small*3, 1) // костыль, чтобы высоты блоков были четко по дизу
	margin-bottom: 0.7em
	transition-property: color
	transition-duration: $animation-speed

	// в первой и второй новостях текст в 5 рядков
	.news-group__item:nth-child(-n+2) &
		height: round-float($font-size-small*$line-height-small*5, 1) // костыль, чтобы высоты блоков были четко по дизу

		+media('<mob-lg')
			height: auto
			max-height: round-float($font-size-small*$line-height-small*5, 1)

	.no-touchevents .news-group__inner:hover &
		color: $text-color-alt

.news-group__meta
	position: absolute
	bottom: 1.4em
	width: 100%
	font-size: 1.2rem
	line-height: 1.4
	color: $text-color-light
	+news-transition

	time
		font-style: normal

	.visit-view
		float: right

		display: none

		svg path
			+news-transition


	.no-touchevents a.news-group__inner:hover &
		color: $text-color

		svg path
			fill: $text-color
			transition-duration: $animation-speed

.news-group__footer
	position: relative

///*=================*/
/*news group end
///*=================*/

///*=================*/
/*news float
///*=================*/
.news-float
	position: relative
	+clear

.news-float__list
	+grid-parent()
	+clear-spacing
	overflow: hidden

	&:last-child
		margin-bottom: 0

.news-float__item
	+grid-item(2)
	position: relative
	+font()
	letter-spacing: normal

	&:first-child
		+grid-item(1)

	+media('<desk-lg')
		+grid-item(1)

.news-float__inner
	display: block
	position: relative
	text-decoration: none
	color: $text-color
	background: white
	height: 100% // для выравнивания высот в ряду

.news-float__img
	width: 100%
	background-image: url(../../img/no-img.jpg)
	background-repeat: no-repeat
	background-position: center center
	background-size: cover
	z-index: 4

	&::before
		+pseudo($pos: relative)
		+ratio(35, 21)

	.news-float__item:first-child &

		&::before
			+ratio(2, 1)

			+media('<desk-lg')
				+ratio(35, 21)

.news-float__content
	position: static // для выравнивания высот в ряду, чтобы привязать мета инфу не к контенту
	overflow: hidden
	padding: $grid-inside-vertical-space $grid-inside-horizontal-space 48px // Костыль. Нужен больше нижний отступ, чтобы повесить на абсолюте мета инфу

	+media('<mob-lg')
		+padding-horizontal(round($grid-inside-horizontal-space*0.7))

.news-float__title
	font-family: $font-alt
	+font($font-size-h3, $line-height-h3)
	font-weight: 700
	overflow: hidden
	margin-bottom: 0.9em
	transition-property: color
	transition-duration: $animation-speed

	.no-touchevents .news-float__inner:hover &
		color: $text-color-alt

.news-float__text
	overflow: hidden
	margin-bottom: 0.7em
	transition-property: color
	transition-duration: $animation-speed

	.no-touchevents .news-float__inner:hover &
		color: $text-color-alt

.news-float__meta
	position: absolute
	bottom: 1.4em
	width: calc(100% - #{round($grid-inside-horizontal-space*2)})
	+font(1.2rem, 1.4)
	color: $text-color-light
	transition-property: color
	transition-duration: $animation-speed

	+media('<mob-lg')
		width: calc(100% - #{round($grid-inside-horizontal-space*0.7*2)})

	time
		font-style: normal

	.visit-view
		float: right

		svg path
			transition-property: fill
			transition-duration: $animation-speed


	.no-touchevents a.news-float__inner:hover &
		color: $text-color

		svg path
			fill: $text-color
			transition-duration: $animation-speed

///*=================*/
/*news float end
///*=================*/






.home-page-new
	.news-previews
		overflow: visible

		.news-previews__list
			margin-bottom: 0

		.news-previews__item
			display: block
			float: left

			&:nth-child(1),
			&:nth-child(2)
				display: inline-block
				float: none

			//&:nth-child(4)
				clear: left

				+media('<desk-hd')
					clear: none

			//&:nth-child(4n+1)
			&:nth-child(4n-1)
				clear: left

				+media('<desk-hd')
					clear: none

			&:nth-child(3n-1)
				+media('<desk-hd')
					clear: left

				+media('<desk-lg')
					clear: none

			&:nth-child(3n+1)
				+media('<desk-lg')
					clear: left

				+media('<desk-ml')
					clear: none

			&:nth-child(2n)
				+media('<desk-ml')
					clear: left

				+media('<mob-md')
					clear: none
					float: none
					display: block

		.news-previews__item, .grid-sizer
			width: 25.00%

			+media('<desk-hd')
				width: 33.3%

			+media('<desk-ml')
				width: 50%

			+media('<mob-md')
				width: 100%

		.news-previews__item--large
			width: 50%

			+media('<desk-hd')
				width: 66.6%

			+media('<desk-ml')
				width: 100%

		.news-previews__inner
			background: none
			box-shadow: none
			height: 100%
			position: relative

		.news-previews__content
			position: static
			+padding-horizontal(0)
			overflow: visible

			&::before
				content: none

		.news-previews__meta
			position: absolute
			width: 100%
			left: 0
			bottom: 0

		.stamp
			position: absolute

			.news-previews__inner
				height: 100%

	.news-grid__slider
		//background: none

	.news-grid-slider__slide
		height: auto !important

		.news-grid__inner
			background: none
			box-shadow: none

		.news-grid__content
			box-shadow: none
			min-height: 324px
			//+padding-horizontal(0)
			padding-top: 34px

			+media('<desk-lg')
				padding-bottom: 80px

			&::before
				content: none

		.news-grid__text
			+media('<desk-lg')
				margin-bottom: 10px

		.news-grid__meta
			//bottom: 0

			+media('<desk-lg')
				position: relative
				left: auto
				bottom: auto
				right: auto
				width: auto

	.stamp1
		right: 0
		//top: 0
		//height: 100px

	.stamp2
		right: 25.00%
		//top: 130px
		//height: 130px

	.hide-tab-lg
		display: block

	.events-sum
		+media('<desk-hd')
			height: auto

.fl-w
	position: relative
	z-index: 1

	+media('<desk-hd')
		display: flex
		align-items: stretch
		justify-content: stretch

.fl-l,
.fl-r
	margin-bottom: 20px
	//border-bottom: 20px solid transparent

.fl-l
	width: 50%
	float: left
	padding-right: 10px

.fl-r
	width: 50%
	float: right
	padding-left: 10px