@import ../utils/variables
@import ../utils/mixins
@import ../utils/placeholders

/*news previews*/
.news-previews
	overflow: hidden

.news-previews__list
	+grid-parent($grid-space)
	+clear-spacing
	margin-bottom: $bottom-space

.news-previews__item
	+font($font-size-small, $line-height-small)
	letter-spacing: normal

	.news-previews &
		+grid-item(4, $grid-space, $grid-space)

		+media('<desk-lg')
			+grid-item(2, $grid-space)

		//+media('<tab-lg')
			+grid-item(2, $grid-space)

		+media('<mob-md')
			+grid-item(1, $grid-space)

.news-previews__inner
	display: block
	position: relative
	text-decoration: none
	color: $text-color
	background-color: #fff
	box-shadow: inset 0 -3px 0 $mark-color-alt

.news__label
	position: absolute
	top: 0
	width: $news-label-size
	height: $news-label-size
	pointer-events: none
	text-indent: -9999px
	overflow: hidden
	z-index: 5

	.news__place ~ &
		left: $news-label-size

	&_none
		display: none

	&_video
		background: $mark-color url(../../img/depict-video.svg) no-repeat center
		-webkit-background-size: 26px
		background-size: 26px

	&_photos
		background: $mark-color-alt url(../../img/depict-photos.svg) no-repeat center
		-webkit-background-size: 26px
		background-size: 26px

.news__place
	position: absolute
	top: 0
	width: $news-label-size
	height: $news-label-size
	pointer-events: none
	background-color: $base-color
	+font-title
	color: white
	text-align: center
	font-size: 18px
	line-height: $news-label-size
	letter-spacing: normal
	z-index: 5

.news-previews__img
	min-height: $news-label-size
	background-position: center top
	background-repeat: no-repeat
	-webkit-background-size: cover
	background-size: cover
	+ratio(1, 1)

	+media('<mob-md')
		+ratio(10, 6)

	img
		width: 100%

.news-previews__content
	position: relative
	overflow: hidden
	padding: $grid-inside-vertical-space $grid-inside-horizontal-space

	.news__label + &
		padding-top: $grid-inside-vertical-space + $news-label-size

	& > *
		z-index: 2
		position: relative

	&::before
		content: ''
		position: absolute
		left: 0
		top: 0
		height: 100%
		width: 100%
		background: $mark-color-alt
		transform: translate(0, 100%)
		+news-transition

	.no-touchevents a.news-previews__inner:hover &
		&::before
			transform: translate(0, 0)
			transition-duration: $animation-speed

.news-previews__title
	color: inherit
	transition-property: color
	transition-duration: $animation-speed

.news-previews__text
	margin-bottom: $grid-inside-vertical-space
	color: inherit
	transition-property: color
	transition-duration: $animation-speed

.news-previews__meta
	display: block
	+font(1.2rem, 1.4)
	color: $text-color-light
	+news-transition
	+clear

	time
		font-style: normal

	.visit-view
		float: right

		path
			transition:
				property: fill
				duration: $animation-speed

		& > em
			transition: none

	.no-touchevents a.news-previews__inner:hover &
		color: $text-color

		path
			fill: $text-color
			transition-duration: $animation-speed

.news-previews__footer
	position: relative

/*news previews end*/