@import ../utils/variables
@import ../utils/mixins
@import ../../libs/include-media/dist/include-media

/*news read*/
.news-read
	+grid-parent($grid-space)
	+clear-spacing
	margin-bottom: $bottom-space

.news-read__item
	+grid-item(1, $grid-space, $bottom-space)
	+font($font-size-small, $line-height-small)
	letter-spacing: normal

	&:last-child
		padding-bottom: 0

.news-read__inner
	display: block
	position: relative
	text-decoration: none
	color: $text-color

	&::before
		+pseudo()
		$left: 18px
		$top: 12px
		left: -#{$left}
		top: -#{$top}
		width: calc(100% + #{$left}*2)
		height: calc(100% + #{$top}*2)
		transition-property: background-color, color
		transition-duration: $animation-speed
		z-index: -1

	.no-touchevents &:hover::before
		background-color: #fff

.news-read__text
	margin-bottom: 12px

.news-read__meta
	display: block
	+font(1.2rem, 1.4)
	color: $text-color-light

/*news read end*/