/*news links*/
.news-links
	+grid-parent($grid-space)
	+clear-spacing
	margin-bottom: $bottom-space

.news-links__item
	+grid-item(1, $grid-space, $bottom-space)
	font-size: $font-size-small
	line-height: $line-height-small
	letter-spacing: normal

	&:last-child
		margin-bottom: 0

.news-links__inner
	display: block
	position: relative
	text-decoration: none
	color: $text-color
	z-index: 1

.news-links__text
	margin-bottom: 12px
	transition-property: background-color, color
	transition-duration: $animation-speed-mouseleave

.news-links__inner:hover .news-links__text
	color: $text-color-alt

.news-links__meta
	display: block
	font-size: 1.2rem
	line-height: 1.4
	color: $text-color-light
	transition-property: background-color, color
	transition-duration: $animation-speed-mouseleave

/*news links end*/