@import ../utils/variables
@import ../utils/mixins
@import ../utils/placeholders

/*news grid*/
.news-grid
	overflow: hidden

.news-grid__list
	margin-bottom: $bottom-space
	+margin-horizontal(round(-$grid-space/2))
	+clear

	&:last-child
		margin-bottom: 0

.news-grid__item, .news-grid__item--large
	float: left
	position: relative
	font-size: $font-size-small
	line-height: $line-height-small
	letter-spacing: normal

	.news-grid &
		margin-bottom: $grid-space

		width: 270px + $grid-space // костыль для малекнького элемента, чтобы высоты блоков были четко по дизу
		height: 304px // костыль для малекнького элемента, чтобы высоты блоков были четко по дизу
		+padding-horizontal(round($grid-space/2))

.news-grid__item:nth-child(n + 4) // Костыль. Все элементы начиная с четвертого должны быть без картинок
	height: 154px // костыль для элемента без картинок, чтобы высоты блоков были четко по дизу

	.news-grid__label
		display: none

	.news-grid__img
		display: none

.news-grid .news-grid__item--large
	width: 560px + $grid-space // костыль для большого элемента, чтобы высоты блоков были четко по дизу
	height: 628px // костыль для большого элемента, чтобы высоты блоков были четко по дизу

	.news-grid__content
		height: 278px // костыль, чтобы высоты блоков были четко по дизу

.news-grid__inner
	display: block
	position: relative
	text-decoration: none
	color: $text-color
	background: #fff
	box-shadow: inset 0 -3px 0 $mark-color-alt
	overflow: hidden // необходимо для учета margin внутренних элементов !!!

.news-grid__label
	position: absolute
	top: 0
	width: $media-label-size
	height: $media-label-size
	pointer-events: none
	text-indent: -9999px
	overflow: hidden
	z-index: 5

	&_none
		display: none

	&_video
		background: $mark-color url(../../img/depict-video.svg) no-repeat center
		-webkit-background-size: 26px
		background-size: 26px

.news-grid__img
	background-image: url(../../img/no-img.jpg)
	background-repeat: no-repeat
	background-position: center center
	background-size: cover
	z-index: 4

	img
		width: 100%

.news-grid__img, .news-grid__slider
	position: absolute
	left: 0
	top: 0
	width: 100%
	height: 150px // костыль, чтобы высоты блоков были четко по дизу
	z-index: 4

	.news-grid__item--large &
		left: round($grid-space/2)
		right: round($grid-space/2)
		width: auto
		height: 350px

.news-grid__content
	position: relative
	overflow: hidden
	padding: $grid-inside-vertical-space $grid-inside-horizontal-space 48px
	// Костыль. Нужен больше нижний отступ, чтобы повсесить на абсолюте мета инфу

	.news-grid__item:nth-child(-n+3) &
		margin-top: 150px // Костыль. Высота картинки

	.news-grid__item--large:nth-child(-n+3) &
		margin-top: 350px // Костыль. Высота картинки для большого блока

	& > *
		z-index: 2
		position: relative

	&:before
		content: ''
		position: absolute
		left: 0
		top: 0
		height: 100%
		width: 100%
		background: $mark-color-alt
		transform: translate(0, 100%)
		+news-transition

	.no-touchevents a.news-grid__inner:hover &
		&:before
			transform: translate(0, 0)
			transition-duration: $animation-speed

.news-grid__title
	font-family: $font-alt
	+font(1.8rem, 1.3)
	font-weight: 700
	overflow: hidden
	height: round-float(1.8rem*1.3*2, 1) // костыль, чтобы высоты блоков были четко по дизу
	margin-bottom: 20px

.news-grid__text
	overflow: hidden
	height: round-float($font-size-small*$line-height-small*3, 1) // костыль, чтобы высоты блоков были четко по дизу
	margin-bottom: 20px

.news-grid__meta
	position: absolute
	bottom: $grid-inside-vertical-space
	width: calc(100% - #{$grid-inside-horizontal-space*2})
	font-size: 1.2rem
	line-height: 1.4
	color: $text-color-light
	+news-transition

	time
		font-style: normal

	.visit-view
		float: right

		svg path
			+news-transition


	.no-touchevents a.news-grid__inner:hover &
			color: $text-color

			svg path
				fill: $text-color
				transition-duration: $animation-speed

.news-grid__footer
	position: relative

/*news grid end*/