@import ../utils/variables
@import ../utils/mixins
@import ../../libs/include-media/dist/include-media

/*news links*/
.news-links
	+grid-parent($grid-space)
	+clear-spacing
	margin-bottom: $bottom-space

	&:last-child
		margin-bottom: 0

.news-links__item
	+grid-item(1, $grid-space, $bottom-space)
	+font($font-size-small, $line-height-small)
	letter-spacing: normal

	&:last-child
		margin-bottom: 0

.news-links__inner
	display: block
	position: relative
	text-decoration: none
	color: $text-color
	z-index: 1

.news-links__text
	margin-bottom: 12px
	transition-property: background-color, color
	transition-duration: $animation-speed-mouseleave

.no-touchevents .news-links__inner:hover .news-links__text
	color: $text-color-alt

.news-links__meta
	display: block
	+font(12px, 1.4)
	color: $text-color-light
	transition-property: background-color, color
	transition-duration: $animation-speed-mouseleave

/*news links end*/