@import ../utils/variables
@import ../utils/mixins
@import ../../libs/include-media/dist/include-media

/*button popup close*/
.btn-popup-close
	//<a href="#" class="btn-popup-close js-btn-menu-close"><i></i><span>Закрыть</span></a>
	$btn-bg: #f3f3f3
	$btn-color: $text-color
	$btn-size: $header-top-height
	$btn-space: 12px
	$btn-lines-width: 20px
	$btn-lines-height: 3px
	$btn-lines-space: 5px
	$btn-lines-color: $text-color

	=line-style()
		+size($btn-lines-width, $btn-lines-height)
		border-radius: 2px

	display: block
	+size($btn-size)
	background: $btn-bg
	color: #fff
	text-decoration: none
	+clear-spacing
	white-space: nowrap
	transition-property: background-color, opacity, visibility
	transition-duration: $animation-speed

	+media('<mob-lg')
		+size(45px)

	&::before
		content: ''
		display: inline-block
		height: $btn-size
		min-height: 100%
		vertical-align: middle

		+media('<mob-lg')
			height: $header-top-height--sm

	> span
		+hide-text

	> i
		display: inline-block
		vertical-align: middle
		position: relative
		backface-visibility: hidden
		background-color: transparent
		+line-style

		&::before, &::after
			+pseudo()
			left: 0
			backface-visibility: hidden
			+line-style
			background: $btn-lines-color
			transition-property: background-color
			transition-duration: $animation-speed

		//first line menu
		&::before
			top: 0
			transform: rotate(-45deg)

		//third line menu
		&::after
			top: 0
			transform: rotate(45deg)

	.no-touchevents &:hover
		background-color: $mark-color-alt

		//& > i::before, & > i::after
			background-color: white

/*button popup close end*/

//================== EXTRA POPUP =================//
/*extra popup*/
html.before-extra-popup-open

	&.touchevents
		+scroll-blocked() // блокировка скролла во время открытия попапа (на тачскринах)

	.wrapper
		z-index: 150 // поднять контент выше футера

.extra-popup
	+cover($position: fixed)
	max-width: $main-layout-width
	background: white
	z-index: 998

	&.hide-on-load
		opacity: 0
		visibility: hidden

	// для ios добавляем подложку ниже попапа такого же цвета, как попап
	// чтобы после инерционного скролла не было видно контент
	//&::after
		+pseudo()
		+cover(null, 0, 100%, 50%, 100%)
		background: inherit

//.extra-popup__head
	position: relative
	height: $header-top-height
	border: solid $border-color
	border-width: 1px 0

	+media('<mob-lg')
		height: $header-top-height--sm

.extra-popup__holder
	+overflow(hidden, auto)
	position: relative
	height: 100%

.extra-popup__frame
	position: relative
	padding: $article-layout-space-horizontal

	+media('<desk-hd')
		padding: $article-layout-space-horizontal--desk-hd

	+media('<tab-lg')
		padding: $article-layout-space-horizontal--tab-lg

	+media('<mob-lg')
		padding: $article-layout-space-horizontal--mob-lg

.extra-popup__align
	+push-auto
	max-width: 960px

	.popup-search &
		padding-top: 5rem

		+media('<mob-lg')
			padding-top: 2rem

.extra-popup .btn-popup-close
	position: absolute
	top: 0
	right: 0

/*extra popup end*/

//================== SITE MAP POPUP =================//
/*site map menu*/
.site-map
	display: block

	a
		color: $text-color
		text-decoration: none

		.no-touchevents &:hover, .no-touchevents .current > &, .current > &
			color: $text-color-alt

.site-map__container
	+grid-parent($grid-space)
	+clear-spacing

.site-map__box
	+grid-item(3, $grid-space, $bottom-space)
	font-size: $font-size
	line-height: $line-height
	letter-spacing: normal

	+media('<mob-lg')
		+grid-item(1, $grid-space, $bottom-space)

.site-map__heading
	display: block
	margin-bottom: $bottom-space
	font-size: 14px
	line-height: 24px
	font-weight: bold
	text-transform: uppercase

/*site map menu end*/

/*button popup site map close end*/

//================== BANNERS POPUP =================//
/*popup banners
.popup-banners
	position: fixed
	right: 0
	top: #{$header-top-height}
	width: 320px
	height: calc(100% - #{$header-top-height})
	background: white
	z-index: 998

	+media('<mob-lg')
		top: #{$header-top-height--sm}
		height: calc(100% - #{$header-top-height--sm})

	&.hide-on-load
		opacity: 0
		visibility: hidden

	// for ios add bg after inertia scroll
	&::after
		+pseudo()
		+cover(null, 0, 100%, 50%, 100%)
		background: inherit
		margin-top: -10px
		z-index: -1

	.banners
		padding: $grid-layout-space--mob-lg
		margin: 0

	.banners__item
		+padding-horizontal(0)

.popup-banners__holder
	overflow-y: auto
	overflow-x: hidden
	max-height: 100%

	&.mCustomScrollbar
		height: 100%

	& > *:last-child
		margin-bottom: 0

/*popup banners end

/*banner opener*/
.banner-opener
	display: none // прячем для десктопа

	+media('<tab-lg')
		display: inline-block

	a
		background-color: $mark-color
		backface-visibility: hidden

		svg
			transition-property: transform
			transition-duration: $animation-speed
			+antialiased

		path
			fill: white

		.no-touchevents &:hover
			background-color: $mark-color

			svg
				transform: scale(1)

			path
				fill: white

/*banner opener end*/

/*banner closer*/
.btn-popup-banners-close
	position: fixed
	right: 0
	top: 0
	left: auto
	bottom: auto
	+size($header-top-height)
	background: $mark-color
	opacity: 0
	visibility: hidden
	transition-property: opacity, visibility
	transition-duration: $animation-speed
	z-index: 999

	+media('<mob-lg')
		+size($header-top-height--sm)

	&.before-extra-popup-open
		opacity: 1
		visibility: visible

	& > i
		transition-property: transform
		transition-duration: $animation-speed

		&::before, &::after
			background-color: white

	.no-touchevents &:hover
		background-color: $mark-color

		& > i
			transform: scale(1.2)

			&::before, &::after
				background-color: white

/*banner closer end*/

//================== NEWS POPUP =================//
/*popup news
.popup-news
	position: fixed
	left: 0
	top: #{$header-top-height}
	width: 320px
	height: calc(100% - #{$header-top-height})
	background: white
	z-index: 998

	+media('<mob-lg')
		top: #{$header-top-height--sm}
		height: calc(100% - #{$header-top-height--sm})
		width: 100%

	&.hide-on-load
		opacity: 0
		visibility: hidden

	// for ios add bg after inertia scroll
	&::after
		+pseudo()
		+cover(null, 0, 100%, 50%, 100%)
		background: inherit
		margin-top: -10px
		z-index: -1

	.news-links, .popup-news__heading
		padding: 25px
		margin: 0

		+media('<mob-lg')
			padding: $grid-layout-space--mob-lg

	.news-links__item
		+padding-horizontal(0)

.popup-news__heading
	position: relative
	padding-bottom: $bottom-space-sm

	h3
		padding: 0 30px 0 0
		margin-bottom: 0

.popup-news__holder
	overflow-y: auto
	overflow-x: hidden
	max-height: 100%

	& > *:last-child
		margin-bottom: 0

/*popup news end

/*news closer*/
.btn-popup-news-close
	position: fixed
	left: $header-top-height
	top: 0
	right: auto
	bottom: auto
	+size($header-top-height)
	background: white
	opacity: 0
	visibility: hidden
	transition-property: opacity, visibility
	transition-duration: $animation-speed
	z-index: 998
	box-shadow: inset 0 -1px 0 $border-color

	+media('<mob-lg')
		left: $header-top-height--sm
		+size($header-top-height--sm)

	&.before-extra-popup-open
		opacity: 1
		visibility: visible

	& > i
		transition-property: transform
		transition-duration: $animation-speed

		&::before, &::after
			background-color: $text-color-alt

	.no-touchevents &:hover
		background-color: white

		& > i
			transform: scale(1.2)

			&::before, &::after
				background-color: $text-color-alt

/*news closer end*/

//================== NAVIGATION FOR SMALL SCREEN POPUP =================//
/*main navigation for small screen
.popup-nav-small
	position: fixed
	left: 0
	top: #{$header-top-height}
	width: 320px
	height: calc(100% - #{$header-top-height})
	background: white
	z-index: 998

	+media('<mob-lg')
		top: #{$header-top-height--sm}
		height: calc(100% - #{$header-top-height--sm})
		width: 100%

	&.hide-on-load
		opacity: 0
		visibility: hidden

	// for ios add bg after inertia scroll
	&::after
		+pseudo()
		+cover(null, 0, 100%, 50%, 100%)
		background: inherit
		margin-top: -10px
		z-index: -1

$nav-small-tabs-height: 60px

.nav-small-tabs
	height: $nav-small-tabs-height
	display: table
	width: 100%
	table-layout: fixed

	a
		display: table-cell
		vertical-align: middle
		text-align: center
		font-size: 1.4rem
		line-height: 1.286
		text-decoration: none
		color: $text-color-alt
		+padding-horizontal(8px)
		border-bottom: 1px solid transparent
		transition-property: background-color, color, border-color
		transition-duration: $animation-speed

		// стили для таба открывающего меню регионов
		&:first-child
			color: white
			background-color: $subsite-menu-bg-color

		span
			border-bottom: 1px dotted $text-color-alt
			transition-property: border-color
			transition-duration: $animation-speed

		// стили для таба открывающего меню регионов (точечное подчеркивание)
		&:first-child span
			border-color: white

		// стили для ховера таба
		.no-touchevents &:hover

			span
				border-color: transparent

		// стили для таба активного таба
		&.active-tab
			border-color: rgba(0, 0, 0, 0.15)

			&:first-child
				border-color: rgba(0, 0, 0, 0.20)

			span
				border-color: transparent

.nav-small-container
	height: 100%

	.nav-small-tabs ~ &
		height: calc(100% - #{$nav-small-tabs-height})

.popup-nav-small__holder
	overflow-y: auto
	overflow-x: hidden
	height: 100%
	background-color: white

	& > *:last-child
		margin-bottom: 0

/*main navigation for small screen end

/*main navigation for small screen closer*/
.btn-popup-nav-small-close
	position: fixed
	left: 0
	top: 0
	right: auto
	bottom: auto
	+size($header-top-height)
	background: white
	opacity: 0
	visibility: hidden
	transition-property: opacity, visibility
	transition-duration: $animation-speed
	z-index: 999
	box-shadow: inset 0 -1px 0 $border-color

	+media('<mob-lg')
		+size($header-top-height--sm)

	&.before-extra-popup-open
		opacity: 1
		visibility: visible

	& > i
		transition-property: transform
		transition-duration: $animation-speed

		&::before, &::after
			background-color: $text-color-alt

	.no-touchevents &:hover
		background-color: white

		& > i
			transform: scale(1.2)

			&::before, &::after
				background-color: $text-color-alt

/*main navigation for small screen closer end*/

//================== USER OPTIONS POPUP =================//
/*user options popup
.user-options-popup
	position: fixed
	left: 0
	top: 0
	width: 100%
	height: 100%
	//padding-top: $header-top-height
	max-width: $main-layout-width
	background: white
	z-index: 998

	//+media('<mob-lg')
		padding-top: $header-top-height--sm

	&.hide-on-load
		opacity: 0
		visibility: hidden

	// for ios add bg after inertia scroll
	//&::after
		+pseudo()
		+cover(null, 0, 100%, 50%, 100%)
		background: inherit
		margin-top: -10px
		z-index: -1

	.btn-popup-close
		position: absolute
		right: 0
		top: 0
		//opacity: 0
		//visibility: hidden

		//.extra-popup-opened &
			opacity: 1
			visibility: visible

.user-options-popup__holder
	overflow-y: auto
	overflow-x: hidden
	height: 100%

	& > *:last-child
		margin-bottom: 0

.user-options-popup__frame
	position: relative
	text-align: center

	&::before
		+pseudo($display: inline-block, $pos: relative)
		vertical-align: middle
		width: 0
		min-height: 100vh

.user-options-popup__align
	display: inline-block
	vertical-align: middle
	+padding-vertical($bottom-space-md)
	text-align: left
	max-width: 98%

.popup-title
	margin-bottom: $bottom-space-lg

	&:last-child
		margin-bottom: 0

	+media('<mob-lg')
		margin-bottom: $bottom-space

.popup-label
	display: block
	font-size: 1.4rem
	line-height: 1.5
	color: $text-color-light
	margin-bottom: $bottom-space
	+antialiased

	+media('<mob-lg')
		font-size: 1.8rem

.user-options-popup__content
	white-space: nowrap

/*lang list
.lang__list
	font-family: $font-alt
	font-weight: 700
	font-size: 36px
	line-height: 1.3
	margin-bottom: $bottom-space

	+media('<mob-lg')
		font-size: 26px

	&:last-child
		margin-bottom: 0

	li
		margin-bottom: $bottom-space

		&:last-child
			margin-bottom: 0

	a
		text-decoration: none
		color: $text-color
		+antialiased
		transition-property: color
		transition-duration: $animation-speed

		.no-touchevents &:hover, &.current
			color: $text-color-alt
			text-decoration: none
			
		&.current
			cursor: default

		& > i
			//display: inline-block
			display: none // скрываем флаг (решили не выводить)
			vertical-align: middle
			+size(40px, 20px)
			background-position: center center
			background-repeat: no-repeat
			background-size: cover
			margin-right: $grid-space
			margin-bottom: 5px

/*lang list end

/*share link list*/
.share-link__list
	font-family: $font-alt
	font-weight: 700
	font-size: 36px
	line-height: 1.3
	margin-bottom: $bottom-space

	+media('<mob-lg')
		font-size: 26px

	&:last-child
		margin-bottom: 0

	.share-link__item
		margin-bottom: $bottom-space

		&:last-child
			margin-bottom: 0

	a
		display: inline-block
		text-decoration: none
		color: $title-color
		transition-property: color
		transition-duration: $animation-speed

		span
			display: inline-block
			vertical-align: top

		svg
			display: inline-block
			vertical-align: top
			+size(32px)
			margin-right: $grid-space
			margin-top: 10px

			+media('<mob-lg')
				+size(26px)
				margin-top: 3px
				margin-right: 10px

		path
			fill: #fff
			transition-property: transform, box-shadow, fill
			transition-duration: $animation-speed

		&.fb
			path
				fill: $facebook-color

		&.vk
			path
				fill: $vkontakte-color

		&.twitter
			path
				fill: $twitter-color

		&.ok
			path
				fill: $odnoklassniki-color

		&.instagram
			path
				fill: $instagram-color-end

		.no-touchevents &:hover
			color: $text-color-alt
			text-decoration: none

		&:active, .no-touchevents &:active
			box-shadow: none
			transform: none

/*share link list end*/
/*user options popup end

//================== SEARCH POPUP =================//
/*search form*/
.search-form
	position: relative
	margin-bottom: $bottom-space-lg

	&:last-child
		margin-bottom: 0

.search-form__field
	overflow: hidden
	position: relative

$search-form-popup-btn-width: 90px
$search-form-popup-btn-width--mob-lg: 54px
=search-form-placeholder($color: $text-color, $tsp: color, $tsd: $animation-speed)
	&::-webkit-input-placeholder
		color: $color
		transition: $tsp $tsd

	&:-moz-placeholder
		color: $color
		transition: $tsp $tsd

	&::-moz-placeholder
		color: $color
		transition: $tsp $tsd
		opacity: 1

	&:-ms-input-placeholder
		color: $color
		transition: $tsp $tsd
		opacity: 1

	&.placeholder
		color: $color
		transition: $tsp $tsd
		opacity: 1

input.search-form__input
	cursor: pointer

	+search-form-placeholder()

	&, &:hover, &:focus
		display: block
		position: relative
		border: none
		height: 64px
		width: 100%
		padding: 11px #{$search-form-popup-btn-width+10} 11px 0
		margin: 0
		font-family: $font-alt
		+font(36px, 42px)
		color: $text-color
		border-radius: 0
		background: none
		box-shadow: none

		+media('<tab-sm')
			font-size: 28px

		+media('<mob-lg')
			font-size: 16px
			padding-right: $search-form-popup-btn-width--mob-lg

	// если поле ввода В ФОКУСЕ, или ЗАПОЛНЕННО
	.input--filled &, &:focus
		cursor: text

// кнопка поиска
.search-form__btn
	position: absolute
	right: 0
	bottom: 0
	height: 64px
	width: $search-form-popup-btn-width
	z-index: 5
	transition-property: color
	transition-duration: $animation-speed

	+media('<mob-lg')
		width: $search-form-popup-btn-width--mob-lg

	&::before
		+vertical-align()

	input
		display: block
		+cover()
		padding: 0
		z-index: 99
		border: 0
		opacity: 0

	svg
		position: absolute
		left: 0
		top: 50%
		width: 24px
		height: 24px
		transform: translate(0, -50%)

	path
		fill: $text-color
		transition: fill $animation-speed

	span
		position: absolute
		width: 100%
		+padding-horizontal(40px, 0)
		text-align: right
		top: 50%
		font-size: 14px
		line-height: 1.5
		color: $text-color
		transform: translate(0, -50%)
		transition-property: color
		transition-duration: $animation-speed
		+antialiased

		+media('<mob-lg')
			+hide-text

	.input--filled &
		z-index: 999

	.no-touchevents &:hover

		path
			fill: $text-color-alt

		span
			color: $text-color-alt

/*search form end*/

//================== FILTERS POPUP =================//
/*filters popup
.filters-form
	.form-buttons
		//opacity: 0
		//visibility: hidden
		//transition-property: visibility, opacity
		//transition-duration: $animation-speed
		+clear

		input[type="submit"], input[type="reset"]
			float: left
			margin-right: $grid-space

			&:disabled
				cursor: default

	.check-label, .radio-label, input[type="checkbox"], input[type="radio"]
		font-family: $font-alt
		font-size: 1.2rem
		text-transform: uppercase

.form-has-checked .form-buttons
	opacity: 1
	visibility: visible

/*filters popup end