@import ../utils/variables
@import ../utils/mixins
@import ../../libs/include-media/dist/include-media

//================== EXTRA POPUP =================//
/*extra popup*/
html.before-extra-popup-open

	&.touchevents
		+scroll-blocked() // блокировка скролла во время открытия попапа (на тачскринах)

	.wrapper
		z-index: 100 // поднять контент выше футера

.extra-popup
	+cover(fixed)
	overflow: hidden
	background: #fff
	//border: 1px solid $border-color
	z-index: 998

	&.hide-on-load
		opacity: 0
		visibility: hidden

	.layout
		padding: 0 #{$grid-layout-space}
		overflow: hidden

		+media('<mob-lg')
			+padding-horizontal($grid-layout-space--mob-lg)

	// для ios добавляем подложку ниже попапа такого же цвета, как попап
	// чтобы после инерционного скролла не было видно контент
	&::after
		+pseudo()
		+cover(null, 0, 100%, 50%, 100%)
		background: inherit

.extra-popup__head
	position: relative
	height: $header-top-height
	border: solid $border-color
	border-width: 1px 0

	+media('<mob-lg')
		height: $header-top-height--sm

.extra-popup__content
	+overflow(hidden, auto)
	position: relative
	height: calc(100% - #{$header-top-height})
	padding: #{$grid-layout-space - 10px} 0
	box-sizing: border-box

	+media('<mob-lg')
		+padding-vertical($grid-layout-space--mob-lg)
		height: calc(100% - #{$header-top-height--sm})

/*extra popup end*/

//================== SITE MAP POPUP =================//
/*site map menu*/
.site-map
	display: block

	a
		color: $text-color
		text-decoration: none

		.no-touchevents &:hover, .no-touchevents .current > &, .current > &
			color: $text-color-alt

.site-map__container
	+grid-parent($grid-space)
	+clear-spacing

.site-map__box
	+grid-item(3, $grid-space, $bottom-space)
	font-size: $font-size
	line-height: $line-height
	letter-spacing: normal

	+media('<mob-lg')
		+grid-item(1, $grid-space, $bottom-space)

.site-map__heading
	display: block
	margin-bottom: $bottom-space
	font-size: 14px
	line-height: 24px
	font-weight: bold
	text-transform: uppercase

/*site map menu end*/

/*button popup site map close*/
.extra-popup .btn-popup-close
	position: absolute
	right: -1px
	top: -1px
	+size($header-top-height)
	border: 1px solid $border-color

	+media('<mob-lg')
		+size($header-top-height--sm)

/*button popup site map close end*/

//================== BANNERS POPUP =================//
/*popup banners
.popup-banners
	position: fixed
	right: 0
	top: #{$header-top-height}
	width: 320px
	height: calc(100% - #{$header-top-height})
	background: white
	z-index: 998

	+media('<mob-lg')
		top: #{$header-top-height--sm}
		height: calc(100% - #{$header-top-height--sm})

	&.hide-on-load
		opacity: 0
		visibility: hidden

	// for ios add bg after inertia scroll
	&::after
		+pseudo()
		+cover(null, 0, 100%, 50%, 100%)
		background: inherit
		margin-top: -10px
		z-index: -1

	.banners
		padding: $grid-layout-space--mob-lg
		margin: 0

	.banners__item
		+padding-horizontal(0)

.popup-banners__holder
	overflow-y: auto
	overflow-x: hidden
	max-height: 100%

	& > *:last-child
		margin-bottom: 0

/*popup banners end

/*banner opener*/
.banner-opener
	display: none // прячем для десктопа

	+media('<desk-lg')
		display: inline-block

	a
		background-color: $mark-color
		backface-visibility: hidden

		svg
			transition-property: transform
			transition-duration: $animation-speed
			+antialiased

		path
			fill: white

		.no-touchevents &:hover
			background-color: $mark-color

			svg
				transform: scale(1)

			path
				fill: white

/*banner opener end*/

/*banner closer*/
.btn-popup-banners-close
	position: fixed
	right: 0
	top: 0
	left: auto
	bottom: auto
	+size($header-top-height)
	background: $mark-color
	opacity: 0
	visibility: hidden
	transition-property: opacity, visibility
	transition-duration: $animation-speed
	z-index: 999

	+media('<mob-lg')
		+size($header-top-height--sm)

	&.before-extra-popup-open
		opacity: 1
		visibility: visible

	& > i
		transition-property: transform
		transition-duration: $animation-speed

		&::before, &::after
			background-color: white

	.no-touchevents &:hover
		background-color: $mark-color

		& > i
			transform: scale(1.2)

			&::before, &::after
				background-color: white

/*banner closer end*/

//================== NEWS POPUP =================//
/*popup news
.popup-news
	position: fixed
	left: 0
	top: #{$header-top-height}
	width: 320px
	height: calc(100% - #{$header-top-height})
	background: white
	z-index: 998

	+media('<mob-lg')
		top: #{$header-top-height--sm}
		height: calc(100% - #{$header-top-height--sm})
		width: 100%

	&.hide-on-load
		opacity: 0
		visibility: hidden

	// for ios add bg after inertia scroll
	&::after
		+pseudo()
		+cover(null, 0, 100%, 50%, 100%)
		background: inherit
		margin-top: -10px
		z-index: -1

	.news-links, h3
		padding: 25px
		margin: 0

		+media('<mob-lg')
			padding: $grid-layout-space--mob-lg

	h3
		padding-bottom: $bottom-space-sm

	.news-links__item
		+padding-horizontal(0)

.popup-news__holder
	overflow-y: auto
	overflow-x: hidden
	max-height: 100%

	& > *:last-child
		margin-bottom: 0

/*popup news end

/*news closer*/
.btn-popup-news-close
	position: fixed
	left: $header-top-height
	top: 0
	right: auto
	bottom: auto
	+size($header-top-height)
	background: white
	opacity: 0
	visibility: hidden
	transition-property: opacity, visibility
	transition-duration: $animation-speed
	z-index: 999
	box-shadow: inset 0 -1px 0 $border-color

	+media('<mob-lg')
		left: $header-top-height--sm
		+size($header-top-height--sm)

	&.before-extra-popup-open
		opacity: 1
		visibility: visible

	& > i
		transition-property: transform
		transition-duration: $animation-speed

		&::before, &::after
			background-color: $text-color-alt

	.no-touchevents &:hover
		background-color: white

		& > i
			transform: scale(1.2)

			&::before, &::after
				background-color: $text-color-alt

/*news closer end*/

//================== NAVIGATION FOR SMALL SCREEN POPUP =================//
/*main navigation for small screen
.popup-nav-small
	position: fixed
	left: 0
	top: #{$header-top-height}
	width: 320px
	height: calc(100% - #{$header-top-height})
	background: white
	z-index: 998

	+media('<mob-lg')
		top: #{$header-top-height--sm}
		height: calc(100% - #{$header-top-height--sm})
		width: 100%

	&.hide-on-load
		opacity: 0
		visibility: hidden

	// for ios add bg after inertia scroll
	&::after
		+pseudo()
		+cover(null, 0, 100%, 50%, 100%)
		background: inherit
		margin-top: -10px
		z-index: -1

.popup-nav-small__holder
	overflow-y: auto
	overflow-x: hidden
	max-height: 100%

	& > *:last-child
		margin-bottom: 0

/*main navigation for small screen end

/*main navigation for small screen closer*/
.btn-popup-nav-small-close
	position: fixed
	left: 0
	top: 0
	right: auto
	bottom: auto
	+size($header-top-height)
	background: white
	opacity: 0
	visibility: hidden
	transition-property: opacity, visibility
	transition-duration: $animation-speed
	z-index: 999
	box-shadow: inset 0 -1px 0 $border-color

	+media('<mob-lg')
		left: $header-top-height--sm
		+size($header-top-height--sm)

	&.before-extra-popup-open
		opacity: 1
		visibility: visible

	& > i
		transition-property: transform
		transition-duration: $animation-speed

		&::before, &::after
			background-color: $text-color-alt

	.no-touchevents &:hover
		background-color: white

		& > i
			transform: scale(1.2)

			&::before, &::after
				background-color: $text-color-alt

/*main navigation for small screen closer end*/