@import ../utils/variables
@import ../utils/mixins
@import ../../libs/include-media/dist/include-media

/*MENU REGION
/*region menu heading
.region-menu-heading
	overflow: hidden
	height: $subsite-menu-tab-height
	padding: 0 $sidebar-inner-space-horizontal
	background-color: $subsite-menu-bg-color
	border-bottom: 1px solid $subsite-menu-border-color
	color: white
	cursor: pointer
	transition-property: background-color
	transition-duration: $animation-speed
	+clear-spacing

	.no-touchevents &:hover
		background-color: shade($subsite-menu-bg-color, 70%)

	&::before
		+pseudo($display: null, $pos: relative)
		+vertical-align($pseudo: null)

//.region-menu-heading:first-child + div
	display: none

.menu-sub-site
	background-color: $subsite-menu-bg-color

	//.popup-nav-small &
		display: none

		.region-page &
			display: block

/*region menu button
$btn-region-menu-size: 22px
$btn-region-menu-margin-right: 20px
.region-menu-btn
	//<a href="#" class="btn-map-site"><i></i><span>Текс кнопки</span></a>
	$btn-region-menu-bg: white
	$btn-region-menu-color: white
	$btn-region-menu-min-height: $header-top-height
	$btn-region-menu-space: 12px
	$btn-region-menu-lines-width: 22px
	$btn-region-menu-lines-height: 3px
	$btn-region-menu-lines-space: 5px
	$btn-region-menu-lines-color: $btn-region-menu-color

	=line-style()
		+size($btn-region-menu-lines-width, $btn-region-menu-lines-height)
		background: $btn-region-menu-lines-color

	=transition()
		transition-property: transform, box-shadow, background-color
		transition-duration: $animation-speed

	&
		position: relative
		display: inline-block
		vertical-align: middle
		+size($btn-region-menu-size)
		margin-right: 20px
		text-decoration: none
		color: $text-color
		+clear-spacing
		white-space: nowrap

		&::before, &::after
			+pseudo()
			+line-style
			left: 50%
			top: 50%
			+margin($t: -#{round($btn-region-menu-lines-height*0.5)}, $l: -#{$btn-region-menu-lines-width*0.5})
			opacity: 0
			transition-property: transform, opacity
			transition-duration: $animation-speed

		.is-expanded &
			&::before
				transform: rotate(45deg)
				opacity: 1

			&::after
				transform: rotate(-45deg)
				opacity: 1

		> span
			+hide-text

		> i
			position: absolute
			left: 50%
			top: 50%
			backface-visibility: hidden
			+margin($t: -#{round($btn-region-menu-lines-height/2)}, $l: -#{round($btn-region-menu-lines-width/2)})
			+line-style
			transition-property: background-color
			transition-duration: $animation-speed

			&::before, &::after
				+pseudo()
				left: 0
				+line-style
				backface-visibility: hidden
				transition-property: transform, opacity
				transition-duration: $animation-speed

			//first line menu
			&::before
				top: -#{$btn-region-menu-lines-height + $btn-region-menu-lines-space}

			//third line menu
			&::after
				top: #{$btn-region-menu-lines-height + $btn-region-menu-lines-space}

		.is-expanded & > i
			background-color: transparent

			&::before
				transform: translate(0, #{$btn-region-menu-lines-space+$btn-region-menu-lines-height})
				opacity: 0

			&::after
				transform: translate(0, -#{$btn-region-menu-lines-space+$btn-region-menu-lines-height})
				opacity: 0

/*region menu button end*/

/*region menu heading text
.region-menu-heading-text
	display: inline-block
	vertical-align: middle
	+font(14px, 1.3)
	letter-spacing: normal
	max-width: calc(100% - #{$btn-region-menu-size} - #{$btn-region-menu-margin-right} - 5px)

/*region menu heading text end
/*region menu heading end

/*sidebar region news
.sidebar-region-news__heading
	overflow: hidden
	height: $subsite-menu-tab-height
	position: relative
	padding: 0 round($sidebar-inner-space-horizontal*1.8) 0 $sidebar-inner-space-horizontal
	background-color: white
	border-bottom: 1px solid $bg-color
	cursor: pointer
	transition-property: background-color
	transition-duration: $animation-speed
	+clear-spacing

	.no-touchevents &:hover
		background-color: #f3f3f3

	&::before
		+pseudo($display: null, $pos: relative)
		+vertical-align($pseudo: null)

	&::after
		+pseudo()
		top: 50%
		right: round($sidebar-inner-space-horizontal)
		margin-top: -4px
		+triangle(bottom, $text-color, 5px, 1.5)

		.is-expanded &
			transform: rotate(0.5turn)

	h4, h3, h2
		margin-bottom: 0
		+display-inline-block-middle
		+font(20px, 1.3)
		letter-spacing: normal
		max-width: calc(100% - 5px)

.sidebar-region-news__content
	position: relative
	background-color: white
	padding: round($sidebar-inner-space-horizontal*0.8) $sidebar-inner-space-horizontal

/*sidebar region news end

.region-menu-panel
	position: relative
	height: calc(100vh - #{$header-height} - #{round($subsite-menu-tab-height*2)})
	+overflow($x: hidden, $y: auto)

	.elements-is-transform &
		height: calc(100vh - #{$header-top-height} - #{round($subsite-menu-tab-height*2)})

/*region menu
// общие стили для главного списка навигации
.region-menu__list
	position: relative
	background-color: $subsite-menu-bg-color
	min-height: 100%

// общие стили для подменю навигации
.region-menu__drop
	position: relative
	background-color: $subsite-menu-bg-color
	display: none

// общие стили для пунктов навигации
.region-menu__list

	li
		position: relative
		overflow: hidden

		//&::before, &::after
			+pseudo()
			height: 20px
			width: 110%
			left: -5%
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.25)
			transition-property: opacity
			transition-duration: $animation-speed
			z-index: 10
			pointer-events: none
			opacity: 0

		//&::before
			top: -20px

		//&::after
			bottom: -20px

		//&.is-open
			&::before, &::after
				opacity: 1

	.region-menu__tab
		position: relative

	a
		display: block
		position: relative
		color: $subsite-menu-text-color
		text-decoration: none
		transition-property: color, background-color
		transition-duration: $animation-speed
		padding: 21px $grid-inside-horizontal-space 22px
		border-bottom: 1px solid $subsite-menu-border-color
		font-size: 14px
		line-height: 1.4
		letter-spacing: 0.02em

// стили для пунктов навигации, у которых ЕСТЬ ПОДМЕНЮ
.region-menu__list li.has-drop > .region-menu__tab > a
	padding-right: (round($grid-inside-horizontal-space*2.5))

// стили для пункта навигации ТЕКУЩЕЙ страницы
.region-menu__list li.current > .region-menu__tab

	&, .no-touchevents &

		a, a:hover
			color: white
			box-shadow: inset 5px 0 0 white

		//& a span
			border-color: $mark-color-alt

// стили для пункта навигации С ОТКРЫТЫМ ПОДМЕНЮ
.region-menu__list li
	&.is-open > .region-menu__tab a
		&::before
			opacity: 1
			transform: translate(0, 0)

// особые стили для пунктов навигации ПЕРВОГО урованя
.region-menu__list > li

	& > .region-menu__tab a
		font-family: $font-alt
		+font(16px, 1.5)
		background-color: $subsite-menu-bg-color
		+padding-vertical(18px, 17px)

		.no-touchevents &:hover
			color: white

	//&.is-open > .region-menu__tab a
		background-color: shade($region-menu-bg-color, 90%)
		border-color: shade($region-menu-border-color, 90%)

// СТРЕЛКИ навигации
.region-menu__angle
	position: absolute
	right: 0
	top: 0
	width: round($grid-inside-horizontal-space*2)
	height: 100%
	background-color: $subsite-menu-bg-color
	border: solid $subsite-menu-border-color
	border-width: 0 0 1px 1px
	transition-property: transform, color, background-color
	transition-duration: $animation-speed
	z-index: 2
	cursor: pointer
	display: none

	li.has-drop > .region-menu__tab > &
		display: block

	i
		position: absolute
		left: 50%
		top: 50%
		width: 12px
		height: 8px
		pointer-events: none
		margin: -4px 0 0 -6px
		transition-property: transform
		transition-duration: $animation-speed
		font-size: 0
		line-height: 0

		&::before, &::after
			content: ''
			position: absolute
			bottom: 0
			height: 10px
			width: 2px
			border-radius: 2px
			backface-visibility: hidden
			background-color: $subsite-menu-text-color
			transform-origin: center center
			transition-property: background-color
			transition-duration: $animation-speed

		&::before
			right: 50%
			transform-origin: right bottom
			transform: rotate(45deg)

		&::after
			left: 50%
			transform-origin: left bottom
			transform: rotate(-45deg)

// стили стрелок навигации для разных состояний
.region-menu__angle

	// активное (подменю открыто)
	li.is-open > .region-menu__tab & i
		transform: rotate(-0.5turn)

		//&::before, &::after
			background-color: $subsite-menu-text-color

	// ховер
	.no-touchevents li > .region-menu__tab &:hover i
		&::before, &::after
			background-color: white

// особые стили для пунктов ПОДМЕНЮ
.region-menu__drop

	// особые стили для пунктов навигации ВТОРОГО урованя
	ul, a, .region-menu__angle
		background-color: $subsite-menu-bg-color-s

		.no-touchevents &:hover
			color: white

	.region-menu__drop
		// особые стили для пунктов навигации ТРЕТЬЕГО урованя
		ul, a, .region-menu__angle
			background-color: $subsite-menu-bg-color-ss

		.region-menu__drop
			// особые стили для пунктов навигации ЧЕТВЕРТОГО урованя
			ul, a, .region-menu__angle
				background-color: $subsite-menu-bg-color-sss

			.region-menu__drop
				// особые стили для пунктов навигации ПЯТОГО урованя
				ul, a, .region-menu__angle
					background-color: $subsite-menu-bg-color-ssss

/*MENU REGION end