@import ../utils/variables
@import ../utils/mixins
@import ../../libs/include-media/dist/include-media

/*MENU REGION
$region-menu-text-color: #c3d5e5
$region-menu-bg-color: #4b5a66
$region-menu-border-color: shade($region-menu-bg-color, 80%)

/*region menu heading
.region-menu-heading
	padding: 15px $sidebar-inner-space-horizontal
	background-color: $region-menu-bg-color
	border-bottom: 1px solid $region-menu-border-color
	color: white
	+font(1.4rem, 1.286)
	cursor: pointer
	transition-property: background-color
	transition-duration: $animation-speed

	.no-touchevents &:hover
		background-color: shade($region-menu-bg-color, 70%)

/*region menu button
$btn-region-menu-size: 22px
$btn-region-menu-margin-right: 20px
.region-menu-btn
	//<a href="#" class="btn-map-site"><i></i><span>Текс кнопки</span></a>
	$btn-region-menu-bg: white
	$btn-region-menu-color: white
	$btn-region-menu-min-height: $header-top-height
	$btn-region-menu-space: 12px
	$btn-region-menu-lines-width: 22px
	$btn-region-menu-lines-height: 3px
	$btn-region-menu-lines-space: 5px
	$btn-region-menu-lines-color: $btn-region-menu-color

	=line-style()
		+size($btn-region-menu-lines-width, $btn-region-menu-lines-height)
		background: $btn-region-menu-lines-color

	=transition()
		transition-property: transform, box-shadow, background-color
		transition-duration: $animation-speed

	&
		position: relative
		display: inline-block
		vertical-align: middle
		+size($btn-region-menu-size)
		margin-right: 20px
		text-decoration: none
		color: $text-color
		+clear-spacing
		white-space: nowrap

		&::before, &::after
			+pseudo()
			+line-style
			left: 50%
			top: 50%
			+margin($t: -#{round($btn-region-menu-lines-height*0.5)}, $l: -#{$btn-region-menu-lines-width*0.5})
			opacity: 0
			transition-property: transform, opacity
			transition-duration: $animation-speed

		.is-expanded &
			&::before
				transform: rotate(45deg)
				opacity: 1

			&::after
				transform: rotate(-45deg)
				opacity: 1

		> span
			+hide-text

		> i
			position: absolute
			left: 50%
			top: 50%
			backface-visibility: hidden
			+margin($t: -#{round($btn-region-menu-lines-height/2)}, $l: -#{round($btn-region-menu-lines-width/2)})
			+line-style

			&::before, &::after
				+pseudo()
				left: 0
				+line-style
				backface-visibility: hidden
				transition-property: transform, opacity
				transition-duration: $animation-speed

			//first line menu
			&::before
				top: -#{$btn-region-menu-lines-height + $btn-region-menu-lines-space}

			//third line menu
			&::after
				top: #{$btn-region-menu-lines-height + $btn-region-menu-lines-space}

		.is-expanded & > i
			background-color: transparent

			&::before
				transform: translate(0, #{$btn-region-menu-lines-space})
				opacity: 0

			&::after
				transform: translate(0, -#{$btn-region-menu-lines-space})
				opacity: 0

/*region menu button end*/

/*region menu heading text
.region-menu-heading-text
	display: inline-block
	vertical-align: middle
	max-width: calc(100% - #{$btn-region-menu-size} - #{$btn-region-menu-margin-right} - 5px)

/*region menu heading text end
/*region menu heading end

/*region menu
.region-menu
	position: relative

// общие стили для главного списка навигации
.region-menu__list
	position: relative

// общие стили для подменю навигации
.region-menu__drop
	position: relative
	background-color: $region-menu-bg-color
	display: none

// общие стили для пунктов навигации
.region-menu__list

	li
		position: relative
		overflow: hidden

		&::before, &::after
			+pseudo()
			height: 20px
			width: 110%
			left: -5%
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.25)
			transition-property: opacity
			transition-duration: $animation-speed
			z-index: 10
			pointer-events: none
			opacity: 0

		&::before
			top: -20px

		&::after
			bottom: -20px

		//&.is-open
			&::before, &::after
				opacity: 1

	.region-menu__tab
		position: relative

	a
		display: block
		position: relative
		color: $region-menu-text-color
		text-decoration: none
		transition-property: color, background-color
		transition-duration: $animation-speed
		padding: 11px $grid-inside-horizontal-space
		border-bottom: 1px solid $region-menu-border-color
		font-size: 1.2rem
		line-height: 1.4
		letter-spacing: 0.02em

		&::before
			+pseudo()
			left: 0
			top: 100%
			margin-top: -8px
			+triangle(right, shade($region-menu-border-color, 90%), 8px, 1)
			pointer-events: none
			opacity: 0
			transition-property: opacity, transform
			transition-duration: $animation-speed
			transform: translate(0, 100%)

		span
			border-bottom: 1px solid transparent
			transition-property: border-color
			transition-duration: $animation-speed

// стили для пунктов навигации, у которых ЕСТЬ ПОДМЕНЮ
.region-menu__list li.has-drop > .region-menu__tab > a
	padding-right: (round($grid-inside-horizontal-space*2))

// стили для пункта навигации ТЕКУЩЕЙ страницы
.region-menu__list li.current > .region-menu__tab

	&, .no-touchevents &

		a, a:hover
			color: $mark-color-alt
			box-shadow: inset 8px 0 0 $mark-color-alt

		//& a span
			border-color: $mark-color-alt

// стили для пункта навигации С ОТКРЫТЫМ ПОДМЕНЮ
.region-menu__list li
	&.is-open > .region-menu__tab a
		&::before
			opacity: 1
			transform: translate(0, 0)

// особые стили для пунктов навигации ПЕРВОГО урованя
.region-menu__list > li

	& > .region-menu__tab a
		font-size: 1.4rem
		line-height: 1.286
		background-color: $region-menu-bg-color

		.no-touchevents &:hover
			color: white
			background-color: shade($region-menu-bg-color, 90%)

	&.is-open > .region-menu__tab a
		background-color: shade($region-menu-bg-color, 90%)
		border-color: shade($region-menu-border-color, 90%)

// СТРЕЛКИ навигации
.region-menu__angle
	position: absolute
	right: 0
	top: 0
	width: round($grid-inside-horizontal-space*1.5)
	height: 100%
	background-color: $region-menu-bg-color
	border: solid $region-menu-border-color
	border-width: 0 0 1px 1px
	transition-property: transform, color, background-color
	transition-duration: $animation-speed
	z-index: 2
	cursor: pointer
	display: none

	li.has-drop > .region-menu__tab > &
		display: block

	i
		position: absolute
		left: 50%
		top: 50%
		width: 12px
		height: 8px
		pointer-events: none
		margin: -4px 0 0 -6px
		transition-property: transform
		transition-duration: $animation-speed
		font-size: 0
		line-height: 0

		&::before, &::after
			content: ''
			position: absolute
			bottom: 0
			height: 8px
			width: 1px
			border-radius: 2px
			backface-visibility: hidden
			background-color: $region-menu-text-color
			transform-origin: center center
			transition-property: background-color
			transition-duration: $animation-speed

		&::before
			right: 50%
			transform-origin: right bottom
			transform: rotate(40deg)

		&::after
			left: 50%
			transform-origin: left bottom
			transform: rotate(-40deg)

// стили стрелок навигации для разных состояний
.region-menu__angle
	// ховер и/или активное (подменю открыто)
	.no-touchevents &:hover, li.is-open > .region-menu__tab &
		background-color: shade($region-menu-bg-color, 90%)
		border-color: shade($region-menu-border-color, 90%)

	// активное (подменю открыто)
	li.is-open > .region-menu__tab & i
		transform: rotate(-0.5turn)

		&::before, &::after
			background-color: $region-menu-text-color

	// ховер
	.no-touchevents li > .region-menu__tab &:hover i
			&::before, &::after
				background-color: white

// особые стили для пунктов ПОДМЕНЮ
.region-menu__drop

	// особые стили для пунктов навигации ВТОРОГО урованя
	ul, a, .region-menu__angle
		background-color: shade($region-menu-bg-color, 90%)
		border-color: shade($region-menu-border-color, 90%)

		.no-touchevents &:hover
			color: white
			background-color: shade($region-menu-bg-color, 80%)
	ul
		border-style: solid
		border-width: 2px 0 0 8px

	a
		+padding-horizontal(round($grid-inside-horizontal-space*1))

	//ul
		// особые стили для пунктов навигации ТРЕТЬЕГО урованя
		ul
			// особые стили для пунктов навигации ЧЕТВЕРТОГО урованя
			ul

/*MENU REGION end