@import ../utils/variables
@import ../utils/mixins
@import ../../libs/include-media/dist/include-media

/*REGION HEADER*/
.region-header
	position: relative
	z-index: 5
	padding: round($grid-layout-space*0.5) #{$grid-layout-space - 9px} // -9 для компенсации горизонтального скролла
	min-height: 100px

	+media('<desk-hd')
		padding: round($grid-layout-space--desk-hd*0.3) #{$grid-layout-space--desk-hd - 9px} // -9 для компенсации горизонтального скролла

	+media('<desk-md')
		padding: round($grid-layout-space--desk-md*0.3) $grid-layout-space--desk-md

	+media('<tab-lg')
		padding: round($grid-layout-space--desk-md*0.3) $grid-layout-space--desk-md

	+media('<mob-lg')
		padding: round($grid-layout-space--mob-lg*0.3) $grid-layout-space--mob-lg

	&::before
		+pseudo()
		+cover($position: null)
		+linear-gradient(to right, rgba(0, 0, 0, 0.75) 0, rgba(0, 0, 0, 0.50) 20%, rgba(0, 0, 0, 0) 100%)
		z-index: -1

		+media('<mob-lg')
			background: rgba(0, 0, 0, 0.35)

	.h-contacts-opener
		right: 0

		i
			&:after, &:before
				background-color: #fff

.region-header__bg
	+cover()
	background-position: center
	background-repeat: no-repeat
	background-size: cover
	z-index: -2

.region-header__caption
	margin-bottom: 0.5em
	font-family: $font-alt
	font-weight: 700
	+font(2.4rem, 1.3)
	color: white
	text-shadow: 1px 1px 0 black
	+clear

	+media('<desk-lg')
		font-size: 2.2rem

	+media('<tab-lg')
		min-height: calc(1em*1.3*2)
		font-size: 2.0rem

	+media('<mob-lg')
		min-height: calc(1em*1.4*2)
		+font(20px, 1.4)

	.col
		float: left
		width: 46%
		padding-right: $grid-space
		text-decoration: none
		color: inherit

		+media('<mob-lg')
			width: 100%
			padding: 0
			margin-bottom: 10px

			&:last-child
				margin-bottom: 0

		& > img
			float: left
			+size(32px)
			margin-right: 10px

			+media('<desk-lg')
				+size(28px)

			+media('<tab-lg')
				+size(36px)

			+media('<mob-lg')
				+size(32px)

	h1, h2, h3, .subtitle
		overflow: hidden
		font-family: inherit
		font-weight: inherit
		+font(inherit, inherit)
		color: inherit
		margin: 0

	h3, .subtitle-slogan
		+font(1.8rem, round-float(24/18, 2))

		+media('<desk-lg')
			font-size: 1.4rem

.region-header__caption, .region-header__holder
	max-width: 100%

.region-header__caption
	width: 1000px

.region-header__holder
	position: relative
	width: 850px

	+media('<mob-lg')
		padding-right: 50px

.region-header__holder
	+clear

	.region-logo
		float: left
		width: 80px
		margin-right: 20px

		+media('<desk-lg')
			width: 54px
			margin-right: 15px

		//+media('<mob-lg')
			float: none

		+media('<mob-md')
			width: 50px

		a
			display: block

.region-header__info
	overflow: hidden
	color: white
	+clear-spacing

	li
		display: inline-block
		vertical-align: top
		padding-right: 20px
		width: 50%
		+font(1.4rem, 1.5)
		letter-spacing: normal
		//+margin-vertical(round-float($bottom-space*0.4, 1))
		+margin-vertical(0.6em)
		+clear

		+media('<desk-lg')
			+margin-vertical(0.2em)

		+media('<mob-lg')
			width: 100%
			padding-right: 0
			+margin-vertical(0.2em)
			font-size: 14px
			line-height: 18px

			display: none

			.h-contacts-js.is-show &
				display: inline-block

		&.region-header__info__label
			display: none

			+media('<mob-lg')
				display: inline-block
				margin: 0
				padding: 18px 0

				.h-contacts-js.is-show &
					display: none

		& > span
			display: block
			overflow: hidden

	svg
		float: left
		width: 24px
		height: 24px
		margin-right: $grid-space

		+media('<desk-lg')
			width: 20px
			height: 20px
			margin-right: 10px

		+media('<mob-lg')
			width: 18px
			height: 18px

	path
		fill: white

	a
		color: inherit
		text-decoration: none

/*REGION HEADER end*/