@import ../utils/variables
@import ../utils/mixins
@import ../../libs/include-media/dist/include-media

/*search page
.search-page
	margin-bottom: $bottom-space-lg

	&:last-child
		margin-bottom: 0

.search-page-options
	display: block
	+font(1.4rem, 1.5)
	font-weight: normal
	color: $text-color-light
	margin-bottom: $bottom-space
	+clear

	.left
		float: left

	.right
		float: right

.search-results
	margin-bottom: $bottom-space-lg

	&:last-child
		margin-bottom: 0

.search-results__item
	margin-bottom: $bottom-space-md

	&:last-child
		margin-bottom: 0

.search-results__inner
	position: relative

.search-result__date, .search-result__path
	display: block
	+font(1.2rem, 1.5)
	font-style: normal
	color: $text-color-light
	margin-bottom: $bottom-space-sm

	&:last-child
		margin-bottom: 0

.search-result__title
	display: block
	overflow: hidden
	font-family: $font-alt
	font-weight: bold
	+font(1.8rem, 1.2)
	margin-bottom: $bottom-space-sm
	max-height: calc(1.8rem * 1.2 * 3)

	&:last-child
		margin-bottom: 0

	a
		padding-top: 5px
		color: inherit
		text-decoration: none
		transition-property: color
		transition-duration: $animation-speed

		.no-touchevents &:hover
			color: $text-color-alt

.search-result__text
	display: block
	overflow: hidden
	+font(1.4rem, 1.7)
	margin-bottom: $bottom-space-sm
	max-height: calc(1.4rem * 1.7 * 3)

	&:last-child
		margin-bottom: 0

/*search page end

/*search form
.search-form
	position: relative
	margin-bottom: $bottom-space-lg

	&:last-child
		margin-bottom: 0

.search-form__field
	overflow: hidden
	position: relative


input.search-form__input
	cursor: pointer

	+search-form-placeholder($color: $text-color, $tsp: color, $tsd: $animation-speed)

	&, &:hover, &:focus
		display: block
		position: relative
		border: none
		height: 64px
		width: 100%
		padding: 11px #{$search-form-popup-btn-width+10} 11px 0
		margin: 0
		font-family: $font-alt
		font-weight: bold
		+font(36px, 42px)
		color: $text-color
		border-radius: 0
		background: none
		box-shadow: none
		border-bottom: 1px solid $border-color

		.no-touchevents &:hover
			border-bottom-color: $border-color

		+media('<tab-sm')
			font-size: 28px

		+media('<mob-lg')
			font-size: 16px
			padding-right: $search-form-popup-btn-width--mob-lg

	// если поле ввода В ФОКУСЕ, или ЗАПОЛНЕННО
	.input--filled &, &:focus
		cursor: text

// кнопка поиска
.search-form__btn
	position: absolute
	right: 0
	top: 50%
	height: $search-form-popup-btn-height
	margin-top: -20px
	width: $search-form-popup-btn-width
	font-family: $font-alt
	+font(16px, $search-form-popup-btn-height)
	text-align: center
	color: white
	fill: white
	z-index: 5
	background-color: $text-color-alt
	transition-property: color
	transition-duration: $animation-speed

	+btn-hover
	+btn-active

	+media('<mob-lg')
		width: $search-form-popup-btn-width--mob-lg

	&::before
		+vertical-align()

	input
		display: block
		+cover()
		padding: 0
		z-index: 99
		border: 0
		opacity: 0

	svg
		+display-inline-block-top
		position: relative
		top: 50%
		+size(16px)
		margin-top: -8px
		margin-right: 10px

	path
		fill: inherit
		transition: fill $animation-speed

	span
		+display-inline-block-top
		color: inherit
		transition-property: color
		transition-duration: $animation-speed
		+antialiased

		+media('<mob-lg')
			+hide-text

	.input--filled &
		z-index: 999

/*search form end