@import ../utils/variables
@import ../utils/mixins
@import ../../libs/include-media/dist/include-media

/*search page
.search-page
	margin-bottom: $bottom-space-lg

	&:last-child
		margin-bottom: 0

/*search page end

/*search form
.search-form
	position: relative
	margin-bottom: $bottom-space-lg

	&:last-child
		margin-bottom: 0

.search-form__field
	overflow: hidden
	position: relative


$search-form-popup-btn-width: 90px
$search-form-popup-btn-width--mob-lg: 54px

input.search-form__input
	cursor: pointer

	+search-form-placeholder($color: $text-color, $tsp: color, $tsd: $animation-speed)

	&, &:hover, &:focus
		display: block
		position: relative
		border: none
		height: 64px
		width: 100%
		padding: 11px #{$search-form-popup-btn-width+10} 11px 0
		margin: 0
		font-family: $font-alt
		font-weight: bold
		+font(36px, 42px)
		color: $text-color
		border-radius: 0
		background: none
		box-shadow: none

		+media('<tab-sm')
			font-size: 28px

		+media('<mob-lg')
			font-size: 16px
			padding-right: $search-form-popup-btn-width--mob-lg

	// если поле ввода В ФОКУСЕ, или ЗАПОЛНЕННО
	.input--filled &, &:focus
		cursor: text

// кнопка поиска
.search-form__btn
	position: absolute
	right: 0
	bottom: 0
	height: 64px
	width: $search-form-popup-btn-width
	z-index: 5
	transition-property: color
	transition-duration: $animation-speed

	+media('<mob-lg')
		width: $search-form-popup-btn-width--mob-lg

	&::before
		+vertical-align()

	input
		display: block
		+cover()
		padding: 0
		z-index: 99
		border: 0
		opacity: 0

	svg
		position: absolute
		left: 0
		top: 50%
		width: 24px
		height: 24px
		transform: translate(0, -50%)

	path
		fill: $text-color
		transition: fill $animation-speed

	span
		position: absolute
		width: 100%
		+padding-horizontal(40px, 0)
		text-align: right
		top: 50%
		font-size: 14px
		line-height: 1.5
		color: $text-color
		transform: translate(0, -50%)
		transition-property: color
		transition-duration: $animation-speed
		+antialiased

		+media('<mob-lg')
			+hide-text

	.input--filled &
		z-index: 999

	.no-touchevents &:hover

		path
			fill: $text-color-alt

		span
			color: $text-color-alt

/*search form end