@import ../utils/variables
@import ../utils/mixins
@import ../../libs/include-media/dist/include-media

/*search page
.search-page
	margin-bottom: $bottom-space-lg

	&:last-child
		margin-bottom: 0

.search-page-options
	+font($font-size-small, $line-height-small)
	font-weight: normal
	color: $text-color-light
	margin-bottom: $bottom-space
	display: flex
	justify-content: space-between
	//align-items: center

	+media('<tab-sm')
		display: block
		+font($font-size, $line-height)

		div
			margin-bottom: $bottom-space-sm

			&:last-child
				margin-bottom: 0

.search-results
	margin-bottom: $bottom-space-lg

	&:last-child
		margin-bottom: 0

.search-results__item
	margin-bottom: $bottom-space-md

	&:last-child
		margin-bottom: 0

.search-results__inner
	position: relative

.search-result__date, .search-result__path
	display: block
	+font(1.2rem, 1.5)
	font-style: normal
	color: $text-color-light
	margin-bottom: $bottom-space-sm

	&:last-child
		margin-bottom: 0

.search-result__title
	display: block
	overflow: hidden
	font-family: $font-alt
	font-weight: bold
	+font(1.8rem, 1.2)
	margin-bottom: $bottom-space-sm
	max-height: calc(1.8rem * 1.2 * 3)

	&:last-child
		margin-bottom: 0

	a
		padding-top: 5px
		color: inherit
		text-decoration: none
		transition-property: color
		transition-duration: $animation-speed

		.no-touchevents &:hover
			color: $text-color-alt

.search-result__text
	display: block
	overflow: hidden
	+font(1.4rem, 1.7)
	margin-bottom: $bottom-space-sm
	max-height: calc(1.4rem * 1.7 * 3)

	&:last-child
		margin-bottom: 0

/*search page end

/*search form
.search-form, .search-form__field
	position: relative
	margin-bottom: $bottom-space-md

	+media('<tab-lg')
		margin-bottom: $bottom-space

	+media('<mob-md')
		margin-bottom: 2rem

	&:last-child
		margin-bottom: 0

.search-extended-panel
	padding-bottom: $bottom-space-md

.search-extended-panel__holder
	border: 1px solid $border-color
	padding: $grid-inside-vertical-space $grid-inside-horizontal-space
	background-color: $bg-color-light

.search-form__field
	overflow: hidden
	position: relative
	//padding-right: $search-form-popup-btn-width

input.search-form__input
	cursor: pointer

	+search-form-placeholder($color: $text-color-light, $tsp: color, $tsd: $animation-speed)

	&, &:hover, &:focus
		display: block
		position: relative
		border: none
		height: 64px
		width: 100%
		padding: 11px #{$search-form-popup-btn-width+nth($search-form--select-size, 1)+11} 11px 0
		//padding: 11px 11px 11px 0
		margin: 0
		font-family: $font-alt
		font-weight: bold
		+font(36px, 42px)
		color: $text-color
		border-radius: 0
		background: none
		box-shadow: none
		border-bottom: 1px solid $border-color

		.no-touchevents &:hover
			border-bottom-color: $border-color

		+media('<desk-lg')
			font-size: 20px

		+media('<desk-ml')
			font-size: 18px
			padding-right: $search-form-popup-btn-width--mob-lg + nth($search-form--select-size, 1) + 11

		+media('<mob-md')
			margin-bottom: 2rem
			height: 54px
			padding: 6px 0 5px

	// если поле ввода В ФОКУСЕ, или ЗАПОЛНЕННО
	.input--filled &, &:focus
		cursor: text

// селект выбора разделов
.search-form__select
	width: nth($search-form--select-size, 1)
	position: absolute
	top: 50%
	right: #{$search-form-popup-btn-width - 1}
	margin-top: -#{round(nth($search-form--select-size, 2)/2)}

	+media('<desk-ml')
		right: #{$search-form-popup-btn-width--mob-lg - 1}

	+media('<mob-md')
		position: relative
		top: auto
		right: auto
		width: 100%
		margin: 0 0 2rem

	&::before
		right: 13px

	&::after
		right: 8px

	select
		$select-space-v: round((nth($search-form--select-size, 2)-20-2)/2)
		//==============
		+font(14px, 20px)
		height: nth($search-form--select-size, 2)
		padding: $select-space-v 25px $select-space-v 12px

// кнопка поиска
.search-form__btn
	position: absolute
	right: 0
	top: 50%
	margin-top: -20px
	+size($search-form-popup-btn-width, $search-form-popup-btn-height)
	font-family: $font-alt
	+clear-spacing
	text-align: center
	color: white
	z-index: 5
	background-color: $text-color-alt
	transition-property: color
	transition-duration: $animation-speed

	+btn-hover
	+btn-active

	+media('<desk-ml')
		width: $search-form-popup-btn-width--mob-lg

	+media('<mob-md')
		position: relative
		right: auto
		top: 0
		margin-top: 0
		width: 100%

	&::before
		+vertical-align()

	input
		display: block
		+cover()
		padding: 0
		z-index: 99
		border: 0
		opacity: 0

	svg
		+display-inline-block-top
		position: relative
		top: 50%
		+size(16px)
		margin-top: -8px
		margin-right: 10px

		+media('<desk-ml')
			margin-right: 0

		+media('<mob-md')
			margin-right: 10px

	path
		fill: currentColor
		transition: fill $animation-speed

	span
		+display-inline-block-middle
		+font(16px, $search-form-popup-btn-height)
		letter-spacing: normal
		color: inherit
		transition-property: color
		transition-duration: $animation-speed
		+antialiased

		+media('<desk-ml')
			+hide-text

		+media('<mob-md')
			+show-text

	.input--filled &
		z-index: 999

/*search form end

.count-checked-filters
	+display-inline-block-middle
	+size(22px)
	background-color: $mark-color-alt
	text-align: center
	font-weight: bold
	font-style: normal
	+font(16px, 24px)
	color: white
	margin-right: 10px

	.extended-search-reset &
		margin-right: 0
		margin-left: 10px

.extended-search-reset
	&, .popup-label__options &
		+display-inline-block-middle
		margin-right: 10px
		color: $text-color-light