@import ../utils/variables
@import ../utils/mixins
@import ../../libs/include-media/dist/include-media

/*SIDE*/
.side
	position: absolute
	margin-top: $grid-layout-space - 9px
	margin-left: -#{$side-width}
	left: 100%
	width: $side-width
	z-index: 50

	+media('<desk-hd')
		margin-top: $grid-layout-space--desk-hd - 9px

	+media('<desk-md')
		display: none

	&.is_stuck
		left: $main-layout-width

		&.is_bottom[style*="absolute"]
			left: $main-layout-width - $sidebar-left-width

		+media('<desk-hd')
			.no-touchevents &
				left: 100%

		+media('<desk-hd')
			.touchevents &
				left: 100%

			.touchevents &.is_bottom
				margin-left: 0

		& + div
			z-index: -1

	+media('<desk-lg')
		margin-right: -#{$grid-layout-space--desk-hd + $side-width}

.side__list
	width: $side-width
	position: relative
	z-index: 10

.side__item
	position: relative

	&::before
		content: ""
		display: block
		padding-top: calc(100% + 1px)

.side__link
	position: absolute
	top: 0
	left: 0
	+size(100%)
	color: $text-color
	white-space: nowrap
	text-decoration: none

.side__inner
	background: none
	position: absolute
	top: 0
	left: 100%
	height: 100%
	+clear-spacing
	white-space: nowrap
	pointer-events: none
	background: white
	+antialiased
	transform: translate(-#{$side-width}, 0)
	transition-property: background-color, transform, box-shadow, border-color, opacity
	transition-duration: $animation-speed-mouseleave
	transition-timing-function: $side-transition-timing-function

	.no-touchevents a:hover &
		transform: translate(-100%, 0)
		transition-duration: $animation-speed
		pointer-events: auto

.side__depict
	display: inline-block
	vertical-align: middle
	position: relative
	padding-right:
	height: 100%
	width: $side-width
	background-color: $text-color-alt
	border-bottom: 1px solid rgba(0, 0, 0, 0.25)
	transition-property: background-color, transform, box-shadow, border-color, opacity
	transition-duration: $animation-speed-mouseleave
	transition-timing-function: $side-transition-timing-function

	.no-touchevents a:hover &
		border-color: transparent
		transition-duration: $animation-speed

	svg
		width: 30px
		height: 30px
		position: absolute
		left: 50%
		top: 50%
		-webkit-backface-visibility: hidden
		backface-visibility: hidden
		transform: translate(-50%, -50%)

	path
		fill: #fff

.side__text
	display: inline-block
	vertical-align: middle
	padding: 0 20px
	max-height: 100%
	font: 400 #{$side-font-size}/#{$side-line-height} $font-alt
	letter-spacing: normal

	span
		display: block
		overflow: hidden
		max-height: $side-line-height*2
		opacity: 0
		transform: translate(20px, 0)
		transition-property: background-color, transform, box-shadow, border-color, opacity
		transition-duration: $animation-speed-mouseleave
		transition-timing-function: $side-transition-timing-function

		.no-touchevents a:hover &
			transform: translate(0, 0)
			opacity: 1
			transition-duration: 0.5s

/*SIDE end*/