/*site map menu*/
.site-map
	display: block

	&__container
		+grid-parent()

	&__box
		+grid-item(3, $grid-space, $space-bottom)
		font-size: $font-size
		line-height: $line-height
		letter-spacing: normal

		.site-map__heading
			display: block
			margin-bottom: $space-bottom
			font-size: 14px
			line-height: 24px
			font-weight: bold
			text-transform: uppercase

		a
			color: $color-text
			text-decoration: none

			.no-touchevents &:hover,
			.no-touchevents .current > &,
			.current > &
				color: $color-text-alt

/*site map menu end*/