/*site map menu*/
.site-map
	display: block

	&__container
		+grid-parent($grid-space)
		+clear-spacing

	&__box
		+grid-item(3, $grid-space, $bottom-space)
		font-size: $font-size
		line-height: $line-height
		letter-spacing: normal

		.site-map__heading
			display: block
			margin-bottom: $bottom-space
			font-size: 14px
			line-height: 24px
			font-weight: bold
			text-transform: uppercase

		a
			color: $text-color
			text-decoration: none

			.no-touchevents &:hover,
			.no-touchevents .current > &,
			.current > &
				color: $text-color-alt

/*site map menu end*/