/*site map menu*/
.site-map
	display: block

	a
		color: $text-color
		text-decoration: none

		.no-touchevents &:hover, .no-touchevents .current > &, .current > &
			color: $text-color-alt

.site-map__container
	+grid-parent($grid-space)
	+clear-spacing

.site-map__box
	+grid-item(3, $grid-space, $bottom-space)
	font-size: $font-size
	line-height: $line-height
	letter-spacing: normal

	+media('<mob-lg')
		+grid-item(1, $grid-space, $bottom-space)

.site-map__heading
	display: block
	margin-bottom: $bottom-space
	font-size: 14px
	line-height: 24px
	font-weight: bold
	text-transform: uppercase

/*site map menu end*/