/*swiper slider*/
.swiper-button-next, .swiper-button-prev
	position: absolute
	top: 50%
	width: 50px
	height: 50px
	margin-top: -25px
	background: none

	&.swiper-button--alt
		border: 2px solid #000
		border-radius: 50%
		transition-property: border-color
		transition-duration: $animation-speed

		.no-touchevents &:hover
			border-color: $text-color-alt

	&.swiper-button-disabled
		opacity: .35
		cursor: auto
		pointer-events: none

	span
		+hide-text

	i
		position: absolute
		left: 50%
		top: 50%
		width: 10px
		height: 16px
		//background-color: chocolate
		z-index: 2
		pointer-events: none
		transform: translate(-50%, -50%)

		&:before, &:after
			content: ''
			position: absolute
			height: 12px
			width: 2px
			border-radius: 2px
			backface-visibility: hidden
			background-color: $text-color
			transform-origin: center center
			transition-property: background-color
			transition-duration: 0.2s

	.no-touchevents &:hover i
		&:before, &:after
			background-color: $text-color-alt

.swiper-button-prev
	i
		&:before, &:after
			left: 0

		&:before
			bottom: 50%
			transform-origin: left bottom
			transform: rotate(45deg)

		&:after
			top: 50%
			transform-origin: left top
			transform: rotate(-45deg)

.swiper-button-next
	i
		&:before, &:after
			right: 0

		&:before
			bottom: 50%
			transform-origin: right bottom
			transform: rotate(-45deg)

		&:after
			top: 50%
			transform-origin: right top
			transform: rotate(45deg)

.slider
	&__toolbar
		min-height: 44px
		position: relative
		margin-bottom: 1rem

		.swiper-pagination
			&-fraction
				position: relative
				bottom: auto
				left: auto
				width: auto
				text-align: left
				font-size: 1.4rem
				line-height: 1.5
				font-weight: bold
				color: $text-color
				text-transform: uppercase
				letter-spacing: 0.1em
				padding: 13px 0

			&-current
				color: $text-color-alt

		.swiper-button

			&-prev
				left: auto
				right: 30px

			&-next
				right: -20px

		&--bottom
			min-height: 44px
			position: relative

			.swiper-button

				&-prev
					left: -20px

					&.swiper-button--alt
						left: 0

				&-next
					right: auto
					left: 30px

					&.swiper-button--alt
						left: 70px
/*swiper slider end*/

/*slider*/
// arrows
.slick-arrow
	width: 40px
	height: 40px
	display: block
	position: absolute
	border: none
	border-radius: 0
	background: none
	outline: none
	box-shadow: 0
	opacity: 1
	z-index: 6
	-webkit-transition-property: background, opacity, visibility
	transition-property: background, opacity, visibility
	-webkit-transition-duration: 0.2s
	transition-duration: 0.2s

	.no-touchevents &:hover
		opacity: 1
		background: #e6e6e6

	&.slick-disabled,
	.no-touchevents &.slick-disabled
		opacity: 0.25
		-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=25)
		filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=25)
		cursor: default

		&:before
			opacity: 1

	&:before
		content: none

	&:after
		top: 50%
		content: ""
		position: absolute
		opacity: 1
		pointer-events: none
		width: 12px
		height: 12px
		-webkit-transform: rotate(45deg)
		-ms-transform: rotate(45deg)
		transform: rotate(45deg)
		border: 0 solid #000

.slick-prev
	left: 0

	&:after
		left: 50%
		border-width: 0 0 2px 2px
		margin: -5px 0 0 -4px

.slick-next
	right: 0

	&:after
		right: 50%
		border-width: 2px 2px 0 0
		margin: -5px -4px 0 0

// dots
.slick-dots
	margin: 0
	line-height: 0

	.content &
		margin: 0
		max-width: none

	li
		vertical-align: top
		width: auto
		height: auto
		margin: 0

		&,
		.content &
			padding: 4px 10px
			margin: 0

			&:before
				content: none

		button
			width: 12px
			height: 12px
			padding: 0
			border-radius: 50%
			background: $text-color-alt
			position: relative
			-webkit-transition-property: background, border, box-shadow, -webkit-transform
			transition-property: background, border, box-shadow, transform
			-webkit-transition-duration: 0.6s
			transition-duration: 0.6s

			&:before
				content: ''
				position: absolute
				left: 2px
				top: 2px
				height: 8px
				width: 8px
				background: #fff
				border-radius: 50%
				opacity: 1
				box-shadow: 0 2px 3px rgba(0, 0, 0, 0.20)
				-webkit-transition-property: -webkit-transform, opacity
				transition-property: transform, opacity
				-webkit-transition-duration: 0.6s
				transition-duration: 0.6s

		//.no-touchevents &:hover button:before

		//&.slick-active button:before,
		//.no-touchevents &.slick-active:hover button:before
/*slider end*/

/*images slider*/
.images-slider
	position: relative
	margin-bottom: $bottom-space

.images-slider__list
	padding-bottom: $bottom-space
	position: relative
	z-index: 2

.images-slider__item
	float: none
	display: inline-block
	vertical-align: top
	opacity: 0
	white-space: normal
	overflow: hidden
	position: relative
	background: #494949

	.slick-initialized &
		display: block
		float: left
		opacity: 1

	.no-js &
		display: block
		width: 100%
		opacity: 1

	&:before
		content: ''
		display: block
		height: 0
		padding-top: 62.5%

	img
		position: absolute
		top: -2px
		left: 50%
		text-align: center
		max-width: none
		height: calc(100% + 4px)
		-webkit-transform: translate(-50%, 0)
		-ms-transform: translate(-50%, 0)
		transform: translate(-50%, 0)

.images-slider

	.slick-arrow
		right: 0
		left: auto
		top: 100%
		-webkit-transform: translate(0, 0)
		-ms-transform: translate(0, 0)
		transform: translate(0, 0)

	.slick-prev
		right: 40px

	// slider counter
	.slider-counter
		position: absolute
		left: 0
		top: 100%
		color: $text-color-light

		.slide-curr
			color: $text-color

/*images slider end*/

/*flashes*/
.flashes
	padding: 0 80px

.flashes__item
	overflow: hidden
	display: none

	&:first-child
		display: block

.flashes__content
	box-sizing: border-box

	& > p:last-child,
	& > ul:last-child,
	& > ol:last-child
		margin-bottom: 0
		padding-bottom: 0

/*flashes end*/

/*promo slider*/
.promo
	margin-bottom: $bottom-space

	.breadcrumbs + &
		float: left
		width: 100%

.promo-slider
	// before slide load
	white-space: nowrap
	overflow: hidden
	// before slide load end
	margin-bottom: 0

	&.slick-initialized, .no-js &
		// after slide load
		white-space: normal
		overflow: visible
		// after slide load end

	&.slick-dotted
		margin-bottom: 0

	.slick-dots, .#{$user-content} & .slick-dots
		position: absolute
		bottom: 20px

		li
			+padding-horizontal(7px)

			button
				width: 6px
				height: 6px
				border-radius: 50%
				background-color: white
				opacity: 0.5
				transition-property: opacity, transform
				transition-duration: $animation-speed

				&::before
					content: none

		li
			&.slick-active button
				opacity: 1

			.no-touchevents &:hover button
				opacity: 1
				transform: scale(2)

.promo-slider__img
	// before slide load
	float: none
	display: inline-block
	vertical-align: top
	// before slide load end
	height: 300px
	width: 100%
	background-position: center center
	background-repeat: no-repeat
	-webkit-background-size: cover
	background-size: cover

	.slick-initialized &
		// after slide load
		float: left
		display: block
		// after slide load end

	span
		+hide-text

/*promo slider end*/

/*promo slider*/
.news-grid-slider
	// before slide load
	white-space: nowrap
	// before slide load end
	margin-bottom: 0
	position: relative
	overflow: hidden // обрезает стрелки при увеличении на ховер

	.slick-initialized &, .no-js
		// before slide load
		white-space: normal
		// before slide load end

	&::after
		+pseudo()
		bottom: 0
		width: 100%
		height: 120px
		max-height: 100%
		+linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.12) 17%,rgba(0,0,0,0.58) 61%,rgba(0,0,0,0.69) 73%,rgba(0,0,0,0.75) 83%,rgba(0,0,0,0.75) 100%)
		z-index: 4


	&.slick-dotted
		margin-bottom: 0

	.slick-dots, .#{$user-content} & .slick-dots
		position: absolute
		bottom: 20px
		z-index: 5

		li
			+padding-horizontal(7px)

			button
				width: 6px
				height: 6px
				border-radius: 50%
				background-color: white
				opacity: 0.5
				transition-property: opacity, transform
				transition-duration: $animation-speed

				&::before
					content: none

		li
			&.slick-active button
				opacity: 1

			.no-touchevents &:hover button
				opacity: 1
				transform: scale(2)

	.slick-arrow
		top: auto
		bottom: 0
		transform: none
		width: 60px
		height: 60px
		z-index: 6
		transition-property: transfrom
		-webkit-transition-duration: $animation-speed
		transition-duration: $animation-speed

		.no-touchevents &:hover
			transform: scale(1.2)

		.no-touchevents &:active
			transform: scale(1)

		&:hover
			background: none

		&::after
			border-color: white

.news-grid-slider__img
	// before slide load
	float: none
	display: inline-block
	vertical-align: top
	// before slide load end
	height: 350px
	width: 100%
	background-position: center center
	background-repeat: no-repeat
	-webkit-background-size: cover
	background-size: cover

	.slick-initialized &
		// after slide load
		float: left
		display: block
		// after slide load end

	span
		+hide-text

/*promo slider end*/

/*tape slider*/
.tape-slider
	margin-bottom: $grid-space
	border: 1px solid #b3b3b3
	padding: 0 50px
	position: relative
	background-color: $bg-color

	.tape-slider__list, .#{$user-content} .tape-slider__list
		margin: 0

		li
			padding: 0
			margin: 0

			&:before
				content: none

	.tape-slider__list
		li
			display: inline-block
			vertical-align: top

			&.swiper-slide
				width: auto

.tape-slider__anchor
	display: inline-block
	vertical-align: top
	padding: 20px 15px
	text-decoration: none
	font-family: $font-alt
	font-weight: normal
	font-size: 1.2rem
	line-height: 1.4
	color: $text-color
	cursor: pointer
	text-transform: uppercase
	transition-property: color
	transition-duration: $animation-speed

	.no-touchevents &:hover, .no-touchevents .slick-current &, .slick-current &
		color: $text-color-alt

.tape-slider__list
	position: relative

	&:before, &:after
		content: ''
		position: absolute
		top: 0
		height: 100%
		width: 15px
		z-index: 2
		pointer-events: none

	&:before
		left: 0
		+linear-gradient(to right, $bg-color 0%, transparentize($bg-color, 0.4) 50%, transparentize($bg-color, 0.9) 100%)

	&:after
		right: 0
		+linear-gradient(to left, $bg-color 0%, transparentize($bg-color, 0.4) 50%, transparentize($bg-color, 0.9) 100%)

.tape-slider
	.slick-prev
		left: -35px

	.slick-next
		right: -35px

/*tape slider end*/