@import ../utils/variables
@import ../utils/mixins
@import ../../libs/include-media/dist/include-media

/*sliders*/
// slider arrows
.slick-arrow, .swiper-arrow
	+size(40px)
	display: block
	margin-top: 0
	position: absolute
	border: none
	border-radius: 0
	background: none
	outline: none
	box-shadow: 0
	opacity: 1
	z-index: 6
	transform: translate(0, -50%)
	transition-property: background, opacity, visibility
	transition-duration: 0.2s
	+font(0, 0)
	color: transparent

	.no-touchevents &:hover
		opacity: 1
		background: #e6e6e6

	&.slick-disabled, &.swiper-button-disabled, .no-touchevents &.slick-disabled, .no-touchevents &.swiper-button-disabled
		opacity: 0.25
		filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=25)
		cursor: default

		&::before
			opacity: 1

	&::before
		content: none

	&::after
		top: 50%
		content: ""
		position: absolute
		opacity: 1
		pointer-events: none
		+size(12px)
		transform: rotate(45deg)
		border: 0 solid #000

.slick-prev, .swiper-button-prev
	left: 0

	&::after
		left: 50%
		border-width: 0 0 2px 2px
		margin: -6px 0 0 -4px

.slick-next, .swiper-button-next
	right: 0

	&::after
		right: 50%
		border-width: 2px 2px 0 0
		margin: -6px -4px 0 0

.swiper-button-disabled
	pointer-events: auto

// arrows outside
.slick-arrow-outside, .slick-arrow-outside:hover, .slick-arrow-outside:focus
	background-color: $btn-bg-color

// переопределяем стили для ховера и фокуса на стрелки слайдера
.slick-arrow-outside
	left: auto
	+size(30px)

	.no-touchevents &:hover, .no-touchevents &:focus
		background-color: $btn-bg-color-hover

		&.slick-disabled
			background-color: $btn-bg-color

	&::after
		border-color: white

.slick-prev-outside
	right: (30px + 10)

.slick-next-outside
	right: 0


// dots
.slick-dots
	margin: 0
	line-height: 0

	.content &
		margin: 0
		max-width: none

	li
		vertical-align: top
		width: auto
		height: auto
		margin: 0

		&,
		.content &
			padding: 4px 10px
			margin: 0

			&::before
				content: none

		button
			width: 12px
			height: 12px
			padding: 0
			border-radius: 50%
			background: $text-color-alt
			position: relative
			transition-property: background, border, box-shadow, transform
			transition-duration: 0.6s

			&::before
				content: ''
				position: absolute
				left: 2px
				top: 2px
				height: 8px
				width: 8px
				background: #fff
				border-radius: 50%
				opacity: 1
				box-shadow: 0 2px 3px rgba(0, 0, 0, 0.20)
				transition-property: transform, opacity
				transition-duration: 0.6s

		//.no-touchevents &:hover button::before

		//&.slick-active button::before,
		//.no-touchevents &.slick-active:hover button::before
/*sliders end*/

/*images slider*/
.images-slider
	position: relative
	margin-bottom: $bottom-space

	+media('<tab-lg')
		margin-bottom: $bottom-space-lg

.images-slider__list
	padding-bottom: $bottom-space
	position: relative
	z-index: 2

.images-slider__item
	float: none
	display: inline-block
	vertical-align: top
	opacity: 0
	white-space: normal
	overflow: hidden
	position: relative
	background: #494949

	.slick-initialized &
		display: block
		float: left
		opacity: 1

	.no-js &
		display: block
		width: 100%
		opacity: 1

	&::before
		content: ''
		display: block
		height: 0
		padding-top: 62.5%

	img
		position: absolute
		top: -2px
		left: 50%
		text-align: center
		max-width: none
		height: calc(100% + 4px)
		transform: translate(-50%, 0)

.images-slider

	.slick-arrow
		right: 0
		left: auto
		top: 100%
		transform: translate(0, 0)

	.slick-prev
		right: 40px

	// slider counter
	.slider-counter
		position: absolute
		left: 0
		top: 100%
		color: $text-color-light

		.slide-curr
			color: $text-color

/*images slider end*/

/*flashes*/
.flashes
	padding: 0 90px

	+media('<tab-lg')
		display: none

.flashes__item
	overflow: hidden
	display: none

	&:first-child
		display: block

.flashes__content
	box-sizing: border-box

	& > p:last-child,
	& > ul:last-child,
	& > ol:last-child
		margin-bottom: 0
		padding-bottom: 0

/*flashes end*/

/*promo slider*/
.promo
	margin-bottom: $bottom-space-md
	+push-auto

	//.breadcrumbs + &
		float: left
		width: 100%

.promo-slider
	// before slide load
	white-space: nowrap
	overflow: hidden
	// before slide load end
	+push-auto
	margin-bottom: 0

	+media('<desk-hd')
		//max-width: $section-layout-width-desk-hd

	+media('<desk-lg')
		//max-width: $section-layout-width-desk-lg

	+media('<tab-lg')
		//max-width: $section-layout-width-tab-lg

	&.slick-initialized, .no-js &
		// after slide load
		white-space: normal
		overflow: visible
		// after slide load end

	&.slick-dotted
		margin-bottom: 0

	.slick-dots, .#{$user-content} & .slick-dots
		position: absolute
		bottom: 20px

		li
			+padding-horizontal(7px)

			button
				+size(6px)
				border-radius: 50%
				background-color: white
				opacity: 0.5
				transition-property: opacity, transform
				transition-duration: $animation-speed

				&::before
					content: none

			&.slick-active button
				opacity: 1

			.no-touchevents &:hover button
				opacity: 1
				transform: scale(2)

.promo-slider__img
	// before slide load
	float: none
	display: inline-block
	vertical-align: top
	// before slide load end
	height: 300px
	width: 100%
	padding: $article-layout-space-vertical $article-layout-space-horizontal
	text-decoration: none
	color: white
	background-position: center center
	background-repeat: no-repeat
	background-size: cover

	+media('<desk-hd')
		padding: $article-layout-space-vertical--desk-hd $article-layout-space-horizontal--desk-hd

	+media('<tab-lg')
		padding: $article-layout-space-vertical--tab-lg $article-layout-space-horizontal--tab-lg

	+media('<mob-lg')
		padding: $article-layout-space-vertical--mob-lg $article-layout-space-horizontal--mob-lg
		height: 240px

	.slick-initialized &
		// after slide load
		float: left
		display: block
		// after slide load end

.promo-slider__text
	overflow: hidden
	height: calc(3 * #{$font-size-h1} * #{$line-height-h1})
	font-family: $font-alt
	font-weight: 700
	+font($font-size-h1, $line-height-h1)
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.51)
	width: 930px
	max-width: 100%

	+media('<desk-hd')
		$fz-kef: 0.8
		$lh-kef: 1.2

		height: calc(3 * #{round-float($font-size-h1*$fz-kef, 1)} * #{round-float($line-height-h1*$lh-kef, 1)})
		+font(round-float($font-size-h1*$fz-kef, 1), round-float($line-height-h1*$lh-kef, 1))

	+media('<desk-lg')
		$fz-kef: 0.6
		$lh-kef: 1.3

		height: calc(4 * #{round-float($font-size-h1*$fz-kef, 1)} * #{round-float($line-height-h1*$lh-kef, 1)})
		+font(round-float($font-size-h1*$fz-kef, 1), round-float($line-height-h1*$lh-kef, 1))

	+media('<mob-lg')
		$fz-kef: 0.5
		$lh-kef: 1.3

		height: calc(4 * #{round-float($font-size-h1*$fz-kef, 1)} * #{round-float($line-height-h1*$lh-kef, 1)})
		+font(round-float($font-size-h1*$fz-kef, 1), round-float($line-height-h1*$lh-kef, 1))

.promo-slider__footer
	.promo-slider__text ~ &
		padding-top: $bottom-space

		+media('<tab-lg')
			padding-top: $bottom-space-sm

/*promo slider end*/

/*news slider*/
.news-grid-slider
	// before slide load
	white-space: nowrap
	// before slide load end
	margin-bottom: 0
	position: relative
	overflow: hidden // обрезает стрелки при увеличении на ховер

	&.slick-initialized, .no-js &
		// before slide load
		white-space: normal
		// before slide load end

	&::after
		+pseudo()
		width: 100%
		height: 120px
		max-height: 100%
		+linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.12) 17%,rgba(0,0,0,0.58) 61%,rgba(0,0,0,0.69) 73%,rgba(0,0,0,0.75) 83%,rgba(0,0,0,0.75) 100%)
		top: $news-item-lg-img-height
		transform: translate(0, -100%)
		pointer-events: none
		z-index: 4

		+media('<mob-lg')
			top: $news-item-lg-img-height-mob-lg

	&.slick-dotted
		margin-bottom: 0

	.slick-dots, .#{$user-content} & .slick-dots
		position: absolute
		bottom: auto
		top: $news-item-lg-img-height
		margin-top: -20px
		transform: translate(0, -100%)
		z-index: 5

		+media('<mob-lg')
			top: $news-item-lg-img-height-mob-lg

		li
			+padding-horizontal(7px)

			button
				width: 6px
				height: 6px
				border-radius: 50%
				background-color: white
				opacity: 0.5
				transition-property: opacity, transform
				transition-duration: $animation-speed

				&::before
					content: none

		li
			&.slick-active button
				opacity: 1

			.no-touchevents &:hover button
				opacity: 1
				transform: scale(2)

	.slick-arrow
		top: $news-item-lg-img-height
		transform: none
		margin-top: -60px
		width: 60px
		height: 60px
		z-index: 6
		transition-property: transfrom
		transition-duration: $animation-speed

		+media('<mob-lg')
			top: $news-item-lg-img-height-mob-lg

		.no-touchevents &:hover
			transform: scale(1.2)

		.no-touchevents &:active
			transform: scale(1)

		&:hover
			background: none

		&::after
			border-color: white

.news-grid-slider__slide
	// before slide load
	float: none
	display: inline-block
	vertical-align: top
	// before slide load end
	height: $news-item-lg-img-height
	width: 100%
	background-position: center center
	background-repeat: no-repeat
	background-size: cover

	+media('<mob-lg')
		height: $news-item-lg-img-height-mob-lg

	.slick-initialized &
		// after slide load
		float: left
		display: block
		// after slide load end

	span
		+hide-text

/*news slider end*/

/*tape slider*/
.tape-slider
	margin-bottom: $grid-space
	border: 1px solid #b3b3b3
	padding: 0 50px
	position: relative
	background-color: $bg-color

	.tape-slider__list, .#{$user-content} .tape-slider__list
		margin: 0

		li
			padding: 0
			margin: 0

			&::before
				content: none

	.tape-slider__list
		li
			display: inline-block
			vertical-align: top

			&.swiper-slide
				width: auto
				float: left

.tape-slider__anchor
	+display-inline-block-top
	padding: 14px 15px
	text-decoration: none
	font-family: $font-alt
	font-weight: normal
	+font(1.2rem, 30px)
	color: $text-color
	cursor: pointer
	text-transform: uppercase
	transition-property: color
	transition-duration: $animation-speed

	.no-touchevents &:hover, .no-touchevents .current &, .current &
		color: $text-color-alt

// swiper slider
.swiper-container
	position: relative
	transition-property: opacity, visibility
	transition-duration: $animation-speed

	.tape-slider &
		&::before, &::after
			content: ''
			position: absolute
			top: 0
			height: 100%
			width: 15px
			z-index: 2
			pointer-events: none

	&::before
		left: 0
		+linear-gradient(to right, $bg-color 0%, transparentize($bg-color, 0.4) 50%, transparentize($bg-color, 0.9) 100%)

	&::after
		right: 0
		+linear-gradient(to left, $bg-color 0%, transparentize($bg-color, 0.4) 50%, transparentize($bg-color, 0.9) 100%)

//.tape-slider
	.slick-prev
		left: -35px

	.slick-next
		right: -35px

.tape-slider
	.swiper-button-prev
		left: 0

	.swiper-button-next
		right: 0


/*tape slider end*/

/*others news slider
.others-news
	.news-grid
		overflow: hidden

	.news-grid__list:last-child
		margin-bottom: -#{$grid-space}

	.section__footer
		display: none

/*others news slider end

/*tape gallery
.tape-gallery
	overflow: hidden
	background-color: black
	margin-bottom: $bottom-space

	&:last-child
		margin-bottom: 0

	.swiper-container
		position: relative
		width: 100%
		height: auto
		margin-left: auto
		margin-right: auto

.tape-gallery__list
	font-size: 0
	letter-spacing: -4px
	white-space: nowrap

	.swiper-slide
		display: inline-block
		vertical-align: top
		padding: 0
		font-size: 14px
		line-height: 1.5
		letter-spacing: normal
		white-space: normal
		box-sizing: border-box
		width: auto
		height: auto

		a
			display: block
			color: black
			text-decoration: none
			box-sizing: border-box
			height: 100%

			&:hover
				text-decoration: none
				cursor: url(../../img/cursor-zoom.png), zoom-out

.tape-gallery__img
	display: block
	position: relative
	overflow: hidden
	background-color: #000
	height: 214px

	img
		+object-fit()
		transition-property: opacity
		transition-duration: $animation-speed

.tape-gallery__list a:hover .tape-gallery__img img
	opacity: 0.55

.tape-gallery
	.swiper-button-prev, .swiper-button-next
		position: absolute
		top: 0
		bottom: 0
		+size(50px, auto)
		margin: 0

		&::before
			+pseudo()
			+centering()

		&.swiper-button-disabled
			pointer-events: auto

	.swiper-button-prev
		+linear-gradient(to right, white 0, rgba(255, 255, 255, 0) 100%)

		&::before
			+triangle(left, black, 20px, 1)

		.no-touchevents &:not(.swiper-button-disabled):hover
			+linear-gradient(to right, white 0, rgba(255, 255, 255, 0.5) 80%, rgba(255, 255, 255, 0) 100%)

	.swiper-button-next
		+linear-gradient(to left, white 0, rgba(255, 255, 255, 0) 100%)

		&::before
			+triangle(right, black, 20px, 1)

		.no-touchevents &:not(.swiper-button-disabled):hover
			+linear-gradient(to left, white 0, rgba(255, 255, 255, 0.5) 80%, rgba(255, 255, 255, 0) 100%)

/*tape gallery end