/*social networks*/
.social-networks
	=transition
		-webkit-transition-property: -webkit-transform, box-shadow, fill
		transition-property: transform, box-shadow, fill
		-webkit-transition-duration: 0.2s
		transition-duration: 0.2s
		-webkit-transition-timing-function: ease-in-out
		transition-timing-function: ease-in-out

	&__list
		font-size: 0
		line-height: 0
		letter-spacing: -4px
		margin: 0 -5px

	&__item
		display: inline-block
		vertical-align: top
		margin: 0 5px 10px
		font-size: 14px
		line-height: 1.4
		letter-spacing: normal

	a
		display: block
		position: relative
		width: 40px
		height: 40px
		background: #fff
		+transition

		.no-touchevents &:hover
			box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2)
			-webkit-transform: translate(0, -4px)
			-ms-transform: translate(0, -4px)
			transform: translate(0, -4px)

		&:active, .no-touchevents &:active
			box-shadow: 0 0 0 rgba(0, 0, 0, 0)
			-webkit-transform: translate(0, 0)
			-ms-transform: translate(0, 0)
			transform: translate(0, 0)
			-webkit-transition-duration: 0.1s
			transition-duration: 0.1s

		span
			+hide-text

		svg
			position: absolute
			left: 50%
			top: 50%
			display: block
			width: 24px
			height: 24px
			-webkit-transform: translate(-50%, -50%)
			-ms-transform: translate(-50%, -50%)
			transform: translate(-50%, -50%)

		path
			fill: #fff
			+transition

		&.fb
			background-color: $facebook-color

		&.vk
			background-color: $vkontakte-color

		&.twitter
			background-color: $twitter-color

		&.ok
			background-color: $odnoklassniki-color

		&.instagram
			+linear-gradient(to right, #{$instagram-color-start} 0%, #{$instagram-color-end} 100%)

/*social networks end*/