@import ../utils/variables
@import ../utils/mixins
@import ../../libs/include-media/dist/include-media

/*social networks*/
.social-networks
	margin-bottom: $bottom-space
	+clear

	&:last-child
		margin-bottom: 0

.social-networks__list
	position: relative
	float: left
	width: calc(100% + 5px*2)
	font-size: 0
	line-height: 0
	margin: 0 -5px -10px

.social-networks__item
	display: inline-block
	vertical-align: top
	margin: 0 5px 10px
	font-size: 14px
	line-height: 1.4

	a
		display: block
		position: relative
		width: 40px
		height: 40px
		background: #fff
		transition-property: transform, box-shadow, fill
		transition-duration: $animation-speed

		.no-touchevents &:hover
			box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2)
			transform: translate(0, -4px)

		&:active, .no-touchevents &:active
			box-shadow: 0 0 0 rgba(0, 0, 0, 0)
			transform: translate(0, 0)
			transition-duration: 0.1s

		span
			+hide-text

		svg
			position: absolute
			left: 50%
			top: 50%
			display: block
			width: 24px
			height: 24px
			transform: translate(-50%, -50%)

		path
			fill: #fff
			transition-property: transform, box-shadow, fill
			transition-duration: $animation-speed

		&.fb
			background-color: $facebook-color

		&.vk
			background-color: $vkontakte-color

		&.twitter
			background-color: $twitter-color

		&.ok
			background-color: $odnoklassniki-color

		&.instagram
			+linear-gradient(to right, #{$instagram-color-start} 0%, #{$instagram-color-end} 100%)

/*social networks end*/

/*share link list*/
//.user-options
	.share-link__list
		position: absolute
		top: 100%
		right: 0
		margin: 0
		padding: 0
		width: 100%
		text-align: center
		box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1)
		opacity: 0
		visibility: hidden
		transition-property: opacity, visibility
		transition-duration: $animation-speed

		.choice-opened &
			opacity: 1
			visibility: visible

		.social-networks__list
			margin: 0

		.social-networks__item
			display: block
			width: auto
			margin: 0
			padding: 0

		a
			+size($header-top-height)

			.no-touchevents &:hover
				box-shadow: none
				transform: none

			&:active, .no-touchevents &:active
				box-shadow: none
				transform: none

/*share link list end*/