@import ../utils/variables
@import ../utils/mixins
@import ../../libs/include-media/dist/include-media

/*sorting
.sorting-options
	+font($font-size-small, $line-height-small)
	font-weight: normal
	color: $text-color-light

	.popup-title &
		padding-top: 13px

.sorting-select
	//perspective: 1500px
	position: relative
	z-index: 10

	a
		display: block
		position: relative
		color: $text-color
		text-decoration: none

	& > a
		z-index: 10

		& > span
			display: inline-block
			position: relative
			border-bottom: 1px dotted $text-color
			z-index: 1

	.sorting-label + &
		+display-inline-block-top

.sorting-label
	+display-inline-block-top
	margin-right: 6px

.sorting-select-drop
	&
		width: calc(100% + 40px)

	&, .#{$user-content} &
		padding: 10px 0
		margin: 0 0 0 -20px

		li
			padding: 0
			margin: 0

			&::before
				content: none

.sorting-select-drop
	position: absolute
	top: 100%
	left: 0
	min-width: 100%
	background: white
	box-shadow: 0 15px 25px rgba(0, 0, 0, 0.15)
	box-sizing: border-box
	opacity: 0
	visibility: hidden
	white-space: nowrap
	transform-origin: center top
	transform: rotateX(-30deg)
	transition-property: opacity, visibility, transform
	transition-duration: $animation-speed
	transition-timing-function: cubic-bezier(0.25, 1, 0.25, 1)
	z-index: 5

	.choice-opened &
		opacity: 1
		visibility: visible
		-webkit-transform: rotateX(0deg)
		transform: rotateX(0deg)

	a
		white-space: normal
		display: block
		padding: 5px 20px
		position: relative
		transition-property: color
		transition-duration: $animation-speed

		.no-touchevents &:hover, &.active
			color: $text-color-alt


.news-date, .result-date
	position: relative
	font-size: inherit
	+display-inline-block-top
	border-color: $text-color

	.sorting-options &
		font-size: 14px
		border-color: $text-color-light

	a
		+display-inline-block-top
		text-decoration: none
		color: inherit
		cursor: pointer
		top: auto
		border-color: inherit

		& > span
			//+display-inline-block-middle
			display: inline-block
			line-height: 1
			position: relative
			border-bottom: 1px dotted
			border-color: inherit
			z-index: 1

	.touchevents & > a
		display: none

.home-page
	.section__title, .section__subtitle
		.news-date, .result-date
			font-weight: bold
			color: $text-color-alt
			border-color: $text-color-alt

/*sorting end*/