@import ../utils/variables
@import ../utils/mixins
@import ../../libs/include-media/dist/include-media

/*sorting
.sorting-select
	//perspective: 1500px
	position: relative
	z-index: 10

	a
		display: block
		position: relative
		color: $text-color
		text-decoration: none

	& > a
		height: 100%
		transition-property: background, border
		transition-duration: $animation-speed
		z-index: 10

		& > span
			display: inline-block
			position: relative
			border-bottom: 1px dotted $text-color
			z-index: 1

	.sorting-label + &
		+display-inline-block-top

.sorting-label
	+display-inline-block-top
	margin-right: 6px

.sorting-select-drop, .#{$user-content} .sorting-select-drop
	padding: 10px 0
	margin: 0 0 0 -#{$grid-inside-horizontal-space}

	li
		padding: 0
		margin: 0

		&::before
			content: none

.sorting-select-drop
	position: absolute
	top: 100%
	left: 0
	min-width: 100%
	background: white
	box-shadow: 0 15px 25px rgba(0, 0, 0, 0.15)
	box-sizing: border-box
	opacity: 0
	visibility: hidden
	white-space: nowrap
	transform-origin: center top
	transform: rotateX(-30deg)
	transition-property: opacity, visibility, transform
	transition-duration: $animation-speed
	transition-timing-function: cubic-bezier(0.25, 1, 0.25, 1)
	z-index: 5

	.choice-opened &
		opacity: 1
		visibility: visible
		-webkit-transform: rotateX(0deg)
		transform: rotateX(0deg)

	a
		display: block
		padding: 5px $grid-inside-horizontal-space
		position: relative
		transition-property: color
		transition-duration: $animation-speed

		.no-touchevents &:hover, &.active
			color: $text-color-alt

/*sorting end*/