@import ../utils/variables
@import ../utils/mixins
@import ../../libs/include-media/dist/include-media

/*tags*/
.tags
	.article-layout &
		border-top: 1px solid $border-color

		&:last-child
			margin-bottom: -#{$article-layout-space-vertical}

			+media('<desk-hd')
				margin-bottom: -#{$article-layout-space-vertical--desk-hd }

			+media('<tab-lg')
				margin-bottom: -#{$article-layout-space-vertical--tab-lg}

			+media('<mob-lg')
				margin-bottom: -#{$article-layout-space-vertical--mob-lg}

	h3
		margin-bottom: $bottom-space

.tags-wrap
	overflow: hidden

.tags__list, .#{$user-content} .tags__list
	font-size: 0
	letter-spacing: -4px
	margin: 0 #{-(round($grid-space*0.5))}

	.tags-wrap &:last-child
		margin-bottom: -#{$grid-space}

	.article-layout &
		max-width: none

	li
		display: inline-block
		vertical-align: top
		white-space: nowrap
		font-family: $font-alt
		font-weight: 400
		font-size: 1.4rem
		line-height: 2.1
		letter-spacing: normal
		text-transform: uppercase
		margin-top: 0
		margin-bottom: $grid-space
		padding: 0 round($grid-space*0.5)

		&::before
			content: none

		a
			position: relative
			display: inline-block
			vertical-align: top
			overflow: hidden
			padding: 0 16px
			color: $text-color
			text-decoration: none
			text-transform: uppercase
			border: solid $mark-color-alt
			border-width: 1px 1px 4px
			background: white
			transition-property: transform
			transition-duration: $animation-speed-mouseleave
			+antialiased

			&::before
				+pseudo('#', inline-block, relative)
				z-index: 5

			&::after
				+pseudo()
				+cover($position: null, $height: 102%)
				background-color: $mark-color-alt
				transform: translate(0, 100%)
				transition-property: transform
				transition-duration: $animation-speed-mouseleave

			.no-touchevents &:hover::after
				transform: translate(0)

			&:active
				transform: scale(0.95)

			& > span
				display: inline-block
				position: relative
				z-index: 5

.tags .tags__list
	margin-bottom: -($bottom-space/2)

/*tags end*/