@import ../utils/variables
@import ../utils/mixins
@import ../../libs/include-media/dist/include-media

/*years*/
.years
	+display-inline-block-top
	position: relative
	top: 2px
	perspective: 1500px
	//width: 82px
	//height: 48px
	z-index: 10

	a
		display: block
		position: relative
		line-height: 24px
		color: $text-color
		text-align: center
		text-decoration: none

	& > a
		height: 100%
		font-family: inherit
		font-weight: 700
		transition-property: background, border
		transition-duration: $animation-speed
		color: $text-color-alt
		z-index: 40

		+clear-spacing

		//&::before
			content: ''
			display: inline-block
			height: 100%
			vertical-align: middle

		& > span, & > i
			+display-inline-block-middle
			position: relative
			margin-right: 6px
			font-family: inherit
			font-style: normal
			font-weight: inherit
			line-height: 1
			transition-property: border
			transition-duration: $animation-speed
			z-index: 1

			color: inherit
			font-size: 2rem
			letter-spacing: normal

		& > span
			border-bottom: 1px dotted $text-color-alt

		.no-touchevents &:hover

			& > span
				border-color: transparent

.years-drop, .#{$user-content} .years-drop
	padding: 10px 0
	margin: 0 0 0 -4px

	li
		padding: 0
		margin: 0

		&::before
			content: none

.years-drop
	position: absolute
	top: 100%
	left: 0
	width: calc(100% + 4px*2)
	text-align: center
	background: white
	box-shadow: 0 15px 25px rgba(0, 0, 0, 0.15)
	box-sizing: border-box
	opacity: 0
	visibility: hidden
	transform-origin: center top
	transform: rotateX(-30deg)
	transition-property: opacity, visibility, transform
	transition-duration: $animation-speed
	transition-timing-function: cubic-bezier(0.25, 1, 0.25, 1)
	z-index: 35

	&::before
		+pseudo()
		left: 0
		bottom: 100%
		height: 34px
		width: 100%
		background: white
		z-index: -1

	.choice-opened &
		opacity: 1
		visibility: visible
		-webkit-transform: rotateX(0deg)
		transform: rotateX(0deg)

	a
		display: block
		padding: 5px 10px
		text-align: center
		position: relative
		transition-property: color
		transition-duration: $animation-speed
		top: auto

		.no-touchevents &:hover, &.active
			color: $text-color-alt

		& > span
			border-bottom: none

/*years end*/