@import ../utils/variables
@import ../utils/mixins
@import ../../libs/include-media/dist/include-media

/*FORM STYLES DEFAULT
/*form layout
.form-row,
.input-wrap
	padding-bottom: $space-bottom-form

.form-row
	margin: 0 -15px
	font-size: 0
	letter-spacing: -4px

.form-row .input-wrap
	display: inline-block
	vertical-align: top
	width: 49.98%
	padding: 0 15px
	box-sizing: border-box

	font-size: $font-size
	letter-spacing: normal

	+media('<mob-lg')

		display: block
		width: auto
		margin-bottom: $space-bottom-form

.label-holder
	padding: 0 0 2px

.label-holder, label
	@include font-bold
	font-size: inherit
	line-height: inherit
	color: $text-color

.form-mark
	display: inline-block
	vertical-align: top
	color: $mark-color

/*form layout end*/

/*form common*/
input[type="text"], input[type="password"], input[type="email"], input[type="search"], textarea
	display: block
	color: $color-form-text
	+font(16px, 24px)
	letter-spacing: normal
	height: 50px
	width: 100%
	padding: 12px 18px
	background: $color-form-bg
	box-shadow: inset 0 0 0 1px transparent
	border: 1px solid $color-form-border
	transition-property: border-color, background-color, box-shadow
	transition-duration: $animation-speed
	box-sizing: border-box
	margin: 0 0 $space-bottom-form

	.input-wrap &
		margin: 0

	//form hover
	.no-touchevents &:hover
		border-color: $color-form-border-focus

	//form focus
	&:focus
		border-color: $color-form-border-focus
		box-shadow: inset 0 0 0 1px $color-form-border-focus

	//form error
	&.error, .error > &, .no-touchevents &.error, .no-touchevents .error > &
		color: $color-form-error
		border-color: $color-form-error
		box-shadow: inset 0 0 0 1px $color-form-error

textarea
	padding: 12px 18px
	min-height: 114px
	height: 114px
	resize: vertical

.error-note
	display: block
	position: relative
	float: left
	+font(12px, 1.8)
	color: $color-form-error
	+size(100%, 1.8em)
	margin-bottom: -1.8em
	overflow: hidden
	text-overflow: ellipsis
	white-space: nowrap

	.user-form &
		display: none

	form .error &
		display: block

.success-text
	font-weight: bold
	color: $color-form-success
	padding: 0 0 20px
	text-align: center

/*form common end*/

/*form placeholder*/
input, textarea
	&::-webkit-input-placeholder
		color: $color-form-placeholder
		transition: 0.2s

	&:-moz-placeholder
		color: $color-form-placeholder
		transition: 0.2s

	&::-moz-placeholder
		color: $color-form-placeholder
		transition: 0.2s
		opacity: 1

	&:-ms-input-placeholder
		color: $color-form-placeholder
		transition: 0.2s
		opacity: 1

	&.placeholder
		color: $color-form-placeholder
		transition: 0.2s
		opacity: 1

	//form placeholder hide
	&:focus
		&::-webkit-input-placeholder
			color: transparent !important

		&:-moz-placeholder
			color: transparent !important

		&::-moz-placeholder
			color: transparent !important

		&:-ms-input-placeholder
			color: transparent !important

	&.placeholder:focus
		color: transparent !important

	//form error placeholder
	&.error
		&::-webkit-input-placeholder
			color: $color-form-error

		&:-moz-placeholder
			color: $color-form-error

		&::-moz-placeholder
			color: $color-form-error
			opacity: 1

		&:-ms-input-placeholder
			color: $color-form-error
			opacity: 1

		&.placeholder
			color: $color-form-error
			opacity: 1

/*form placeholder end*/

/*form checkbox and radiobutton*/
input[type="checkbox"] + label,
input[type="radio"] + label,
.check-label,
.radio-label
	position: relative
	display: inline-block
	vertical-align: top
	+font-normal
	+font($font-size, 22px)
	text-transform: none
	cursor: pointer

input[type="checkbox"],
input[type="radio"]
	& + span
		&::before
			display: inline-block
			position: relative

		i
			font-size: 0
			line-height: 0
			position: absolute
			left: 0
			top: 0

input[type="checkbox"],
input[type="radio"]
	& + label,
	& + span i
		&::before
			+pseudo()
			+size(26px)
			left: 0
			top: 0
			border-radius: 0
			border: 2px solid $text-color

	& + label span,
	& + span
		display: inline-block
		vertical-align: top
		position: relative
		padding: 2px 0 2px 45px
		z-index: 2

//checkbox
input[type="checkbox"]
	+size(16px)
	padding: 0
	margin: 0
	display: none

	& + label span,
	& + span
		&::before,
		&::after
			content: ''
			position: absolute
			+size(0, 4px)
			left: 0
			top: 13px
			border-radius: 0
			background: $text-color-alt
			transition: opacity $animation-speed linear // prop dur tfunct del

		&::before
			transform: rotate(45deg)
			transform-origin: 0 7px
			z-index: 1

		&::after
			transform: rotate(-50deg)
			transform-origin: 0 10px
			left: 22px

	// checkbox checked
	&:checked
		& + label,
		& + span i
			&::before
				border-color: $text-color-alt
				background-color: $text-color-alt

		& + label span,
		& + span
			&::before, &::after
				background-color: white

			&::before
				width: 10px
				margin: -5px 0 0 2px
				transition: width 0.1s // prop dur tfunct del
				backface-visibility: hidden

			&::after
				width: 14px
				margin: 1px 0 0 -5px
				transition: width 0.1s 0.1s // prop dur tfunct del
				backface-visibility: hidden

	// checkbox disabled
	&:disabled
		& + label,
		& + span i
			&::before
				border-color: $text-color
				background-color: white
				opacity: 0.4

		& + label,
		& + span
			cursor: default
			opacity: 0.4

		& + label span,
		& + span
			&::before, &::after
				background: lighten($text-color, 40%)
				//opacity: 0.4

// radio
input[type="radio"]
	float: left
	+size(16px)
	margin: 0
	padding: 0
	display: none

	& + label,
	& + span
		&::before
			border-radius: 50%

	& + label span,
	& + span i
		&::before
			border-radius: 50%

		&::after
			content: ''
			+size(14px)
			position: absolute
			top: 6px
			left: 6px
			border-radius: 50%
			overflow: hidden
			background: white
			animation: bounceout 0s
			animation-iteration-count: 1
			animation-fill-mode: forwards
			opacity: 0

	// radio checked
	&:checked
		& + label,
		& + span i
			&::before
				border-color: $text-color-alt
				background-color: $text-color-alt

		& + label span,
		& + span i
			&::after
				animation: bounce 0.3s
				animation-iteration-count: 1
				opacity: 1

		@keyframes bounce
			0%
				transform: scale(0.8)
				opacity: 0.4

			50%
				transform: scale(1.4)
				opacity: 1

			100%
				transform: scale(1)
				opacity: 1

		@keyframes bounceout
			0%
				transform: scale(0)
				opacity: 1

			50%
				transform: scale(1.4)
				opacity: 1

			100%
				transform: scale(0)
				opacity: 0.4

	// radio disabled
	&:disabled
		& + label,
		& + span
			color: $text-color
			opacity: 0.4
			cursor: default

			&::before
				border-color: $text-color
				background-color: white
				opacity: 0.4

		& + label span,
		& + span i
			&::after
				background-color: $text-color
				opacity: 0.4

		& + span i
			&::before
				border-color: $text-color
				background-color: white
				opacity: 0.4

/*form checkbox and radiobutton end*/

/*select*/
// select overall
.select
	position: relative
	margin: 0 0 $space-bottom-form
	width: 100%

	.input-wrap &
		margin-bottom: 0

	.cselect
		width: 100%

	select,
	.select2-container--default .select2-selection--single,
	.select2-container--default .select2-selection--multiple
		display: block
		position: relative
		overflow: hidden
		height: 50px
		text-overflow: ''
		cursor: pointer
		padding: 13px 50px 13px 18px
		white-space: nowrap
		text-indent: 0
		width: 100%
		border: 1px solid $color-form-border
		border-radius: 0
		background: $color-form-bg
		box-shadow: none
		transition-property: background, border, color, box-shadow
		transition-duration: 0.2s
		box-sizing: border-box
		outline: none

	.select2-container--default .select2-selection--multiple
		height: auto

	select,
	.select2-container--default .select2-selection--single .select2-selection__rendered,
	.select2-container--default .select2-selection--multiple .select2-selection__rendered
		+font-normal
		+font(16px, 22px)
		text-transform: none
		color: $color-form-text

	select
		padding-right: 50px

	select:focus
		color: $color-form-text
		border-color: $color-form-border-focus

	.select2-container--default
		.select2-selection--single
			.select2-selection__rendered
				padding-left: 0
				padding-right: 0

			.select2-selection__arrow
				position: absolute
				right: 1px
				top: 1px
				height: calc(100% - 2px)
				width: 46px
				background-color: white
				z-index: 2

				b
					border: none
					position: absolute
					left: 0
					top: 0
					+size(100%)
					margin: 0

	&::before,
	&::after,
	.select2-container--default .select2-selection--single .select2-selection__arrow b::before,
	.select2-container--default .select2-selection--single .select2-selection__arrow b::after
		content: ''
		position: absolute
		right: 21px
		top: 50%
		+size(8px, 2px)
		background-color: $title-color
		margin-top: -1px
		box-sizing: border-box
		z-index: 1

	&::before,
	.select2-container--default .select2-selection--single .select2-selection__arrow b::before
		transform: rotate(45deg)

	&::after,
	.select2-container--default .select2-selection--single .select2-selection__arrow b::after
		transform: rotate(-45deg)
		right: 16px

	.select2-container--default .select2-search--inline .select2-search__field
		height: auto
		margin: 0
		box-shadow: none !important

	// multiple
	.select2-container--default .select2-selection--multiple
		padding: 9px 50px 9px 18px

		.select2-selection__rendered
			padding-left: 0
			padding-right: 0
			margin: 0
			vertical-align: top
			max-width: none

			li
				padding: 0 4px
				margin: 4px 8px 4px 0

				&::before
					content: none

		.select2-selection__choice__remove
			margin-right: 6px

/*multiselect menu*/
.select2-dropdown
	border-color: $color-form-border
	border-radius: 0

.select2-container--default
	.select2-search--dropdown
		.select2-search__field
			border-color: $color-form-border
			margin: 0
			padding: 9px 8px
			height: 44px

			&:focus
				border-color: $color-form-border
				box-shadow: inset 0 0 0 1px $color-form-border

	.select2-results>.select2-results__options
		max-height: 210px

/*multiselect menu end*/
/*select end*/

.add-function-link
	+display-inline-block-top
	+font($font-size-small, $line-height-small)
	font-weight: normal
	color: $text-color-light

	.form-buttons &
		float: right
		padding-top: 28px

	& > a
		color: inherit
		text-decoration: none
		position: relative
		padding-right: 16px

		& > span
			border-bottom: 1px dotted $text-color-light
			transition-property: border-color
			transition-duration: $animation-speed

		// arrow or close icon

		& > i
			$this-icon-lines-width: 10px
			$this-icon-lines-height: 2px
			$this-icon-lines-color: $text-color-light

			$this-icon-position: rc // tl, tc, tr, rc, bl, bc, br, lc
			// if $this-icon-position !== null, add position: "relative" and padding: "some" to parent

			@if $this-icon-position == null
				+display-inline-block-top
				position: relative

			@if $this-icon-position
				position: absolute
				right: 0
				top: 50%
				margin-top: -#{round($this-icon-lines-height*0.5)}

			backface-visibility: hidden
			+size($this-icon-lines-width, $this-icon-lines-height)

			&::before, &::after
				+pseudo()
				left: 0
				backface-visibility: hidden
				+size($this-icon-lines-width, $this-icon-lines-height)
				background-color: $this-icon-lines-color
				transition-property: background-color
				transition-duration: $animation-speed

			&::before
				top: 0
				transform: rotate(-45deg)

			&::after
				top: 0
				transform: rotate(45deg)

		//.no-touchevents &:hover
			& > i
				&::before, &::after
					background-color: tomato

		// arrow or close icon end

		.no-touchevents &:hover
			& > span
				border-color: transparent

/*FORM STYLE DEFAULT end*/