@import ../utils/variables
@import ../utils/placeholders
@import ../utils/mixins
@import ../utils/functions
@import ../../libs/include-media/dist/include-media

/*HEADER*/
.header__holder
	position: relative
	background: $color-header-bg
	padding-left: $header-left-space
	min-height: $header-left-space-desk-sm
	+clear

	+media('<desk-sm')
		padding-left: 140px

	+media('<tab-lg')
		padding-left: $header-top-height

	+media('<tab-sm')
		min-height: 0

	+media('<mob-lg')
		padding-left: $header-top-height-sm

.header__frame
	position: relative
	padding-top: $header-top-height
	+clear

	+media('<mob-lg')
		padding-top: $header-top-height-sm

.header__top
	height: $header-top-height
	position: absolute
	top: 0
	width: 100%
	z-index: 10
	overflow: hidden
	+linear-gradient(to right, #006ab8 0%, #00487c 100%)
	+clear

	+media('<mob-lg')
		height: $header-top-height-sm

	.no-js &, .page-loaded &
		overflow: visible

	.window-is-resize &
		overflow: hidden

	.header-fixed &
		position: fixed
		width: calc(100% - #{$header-left-space})
		max-width: calc(#{$main-layout-width - $header-left-space})

		+media('<desk-sm')
			width: calc(100% - #{$header-left-space-desk-sm})
			max-width: none

		+media('<tab-lg')
			width: calc(100% - #{$header-top-height})

		+media('<mob-lg')
			width: calc(100% - #{$header-top-height-sm})

.header__content
	padding: 0 $grid-layout-space
	height: $header-content-height

	+media('<desk-lg')
		padding: 0 $grid-layout-space--desk-hd

	+media('<desk-md')
		padding: 0 $grid-layout-space--desk-md

	+media('<tab-lg')
		margin-left: -#{$header-top-height}
		height: $header-content-height--tab-lg

	+media('<tab-sm')
		text-align: center
		padding: 0

	+media('<mob-lg')
		padding: 0
		margin-left: -#{$header-top-height-sm}
		height: auto

	.holder
		overflow: hidden
		height: 100%
		font-size: 0
		line-height: 0
		letter-spacing: -4px

		+media('<tab-sm')
			display: none

		&::before
			content: ''
			display: inline-block
			vertical-align: middle
			height: 100%

		.frame
			display: inline-block
			vertical-align: middle
			max-width: calc(100% - 2px)
			font-size: $font-size
			line-height: $line-height
			letter-spacing: normal

.header__contacts
	float: right
	height: 100%
	margin-left: #{$grid-space}

	+media('<tab-sm')
		float: none
		margin-left: 0

	+media('<mob-lg')
		overflow: visible

	ul
		height: 100%
		margin-right: -#{$grid-space}
		+font(0, 0)
		letter-spacing: -4px

		+media('<mob-lg')
			+margin-horizontal(0)

		&::before
			+pseudo('', inline-block, relative)
			vertical-align: middle
			height: 100%

			+media('<tab-sm')
				min-height: 0

			+media('<mob-lg')
				content: none

		li
			display: inline-block
			vertical-align: middle
			position: relative
			height: 100%
			width: 230px

			+media('<tab-sm')
				width: calc(50% - 2px)
				text-align: center

			+media('<mob-lg')
				display: block
				width: auto
				border-bottom: 1px solid $border-color

				&:last-child
					border: none

			&::before
				content: ''
				position: absolute
				left: 0
				top: 50%
				$height: 18px
				height: $height
				width: 0
				margin-top: -($height/2)
				border-left: 1px solid $border-color

				+media('<mob-lg')
					content: none
					
			&:first-child::before
				content: none

			a
				display: table
				width: 100%
				height: 100%
				padding: 0 $grid-space
				text-decoration: none
				color: $text-color
				text-align: left
				transition-property: background-color
				transition-duration: $animation-speed

				.no-touchevents &:hover
					background-color: white

				+media('<mob-lg')
					display: block
					+padding-vertical(#{round($grid-space/2)})

				& > div
					display: table-cell
					vertical-align: middle

					+media('<mob-lg')
						display: inline-block
						min-width: 57px
						text-align: center

						img
							width: 34px

					&:first-child
						width: 78px
						padding-right: #{$grid-space}

					& > em
						font: normal bold 30px/1.2 $font-alt
						color: $mark-color
						letter-spacing: normal

					& > span
						display: block
						max-width: 120px
						font-size: $font-size-small
						line-height: $line-height-small
						letter-spacing: normal

						+media('<mob-lg')
							max-width: 190px

.header__title
	font: 700 1.8rem/1.2 $font-alt
	text-transform: uppercase
	color: $text-color

	+media('<desk-md')
		+font(1.4rem, 1.2)

	a
		display: inline-block
		vertical-align: top
		color: inherit
		text-decoration: none

.header__info
	font-size: $font-size-small
	line-height: $line-height-small
	margin: 8px 0 0

	+media('<desk-md')
		display: none

	li
		display: inline-block
		vertical-align: top
		margin-top: 10px
		margin-right: 30px
		color: $text-color-light

		a
			text-decoration: none
			color: $text-color-light

			& > span
				display: inline-block
				border-bottom: 1px solid transparent
				transition-property: border-color
				transition-duration: $animation-speed

			.no-touchevents &:hover > span
				border-color: lighten($text-color-light, 25%)

			.no-touchevents &[href^="tel:"]:hover > span
				border-color: transparent

		svg
			width: 24px
			height: 24px
			display: inline-block
			vertical-align: middle
			margin-right: 5px

			path
				fill: lighten($text-color-light, 20%)
/*logo*/
.logo-wrap
	position: absolute
	left: 0
	top: 0
	height: $header-height
	width: $header-left-space
	background-color: white
	z-index: 20
	border-bottom: 1px solid $bg-color

	.touchevents &
		transition-property: height
		transition-duration: 0.1s

	.header-fixed &
		position: fixed

	.header-fixed.touchevents &
		height: $header-top-height

	+media('<desk-sm')
		width: $header-left-space-desk-sm

	+media('<tab-lg')
		width: $header-top-height
		height: $header-top-height !important

	+media('<mob-lg')
		width: $header-top-height-sm
		height: $header-top-height-sm !important

.logo
	display: block
	height: 100%
	margin: 0

	a
		display: block
		position: relative
		height: 100%

		img
			position: absolute
			top: 50%
			left: 50%
			backface-visibility: hidden
			transform: translate(-50%, -50%)
			height: 100px
			max-height: 90%
			+push-auto

/*logo end*/

/*user options*/
.user-options
	float: right
	position: relative
	font-size: 0
	line-height: 0
	letter-spacing: -4px
	z-index: 100

	$color-border: rgba(255, 255, 255, 0.3)
	$color-text: #80a7c4

	=transition()
		transition-property: background-color, color, fill
		transition-duration: $animation-speed
		transition-timing-function: ease-in-out

	&__item
		display: inline-block
		vertical-align: top
		position: relative
		width: $header-top-height

		+media('<mob-lg')
			width: $header-top-height-sm

		&::before
			content: ''
			display: block
			height: 0
			padding-top: 100%

		& > a
			position: absolute
			left: 0
			top: 0
			width: 100%
			height: 100%
			background-color: transparent
			box-shadow: -1px 0 0 $color-border
			text-decoration: none
			text-align: center
			color: $color-text
			+transition

			&:hover
				background-color: $color-border

			& > *
				display: inline-block
				vertical-align: middle
				font-size: $font-size
				line-height: $line-height
				letter-spacing: normal

			&::before
				+vertical-align

			& > div
				display: inline-block
				vertical-align: middle
				color: $color-text
				+transition

			svg
				width: 22px
				height: 22px
				display: inline-block
				+transition

				+media('<mob-lg')
					width: 18px
					height: 18px

			.no-touchevents &:hover
				color: $text-color-alt

			path
				fill: $color-text
				+transition

			.no-touchevents &:hover path
				fill: lighten($color-text, 30%)

			& > span
				display: inline-block

			& > svg ~ span
				+hide-text

/*user options end*/

/*lang*/
.lang
	position: relative

	$color-border: #035b9a
	$color-text: #80a7c4
	$color-bg: #00497d

	=transition()
		transition-property: background-color, color, opacity, visibility
		transition-duration: $animation-speed
		transition-timing-function: ease-in-out

	& > a
		+transition

		& > span
			display: inline-block
			font-family: $font-alt
			font-weight: 700
			font-size: 16px
			line-height: 24px
			letter-spacing: normal

			+media('<mob-lg')
				font-size: 14px

	.no-touchevents &:hover > a,
	.no-touchevents & > a:hover,
	&.choice-opened > a
		color: lighten($color-text, 30%)
		background-color: $color-border

	@at-root
	&__list
		list-style: none
		position: absolute
		top: 100%
		right: 0
		margin: 0
		padding: 0
		font-size: 16px
		letter-spacing: 0.05em
		width: 100%
		opacity: 0
		visibility: hidden
		box-shadow: -1px 0 0 $color-border
		+transition

		.choice-opened &
			opacity: 1
			visibility: visible

		li
			padding: 0

		a
			display: block
			text-decoration: none
			text-align: center
			color: $color-text
			background: $color-bg
			padding: 12px 6px
			font-size: 16px
			line-height: 24px
			letter-spacing: normal
			border-top: 1px solid $color-border
			+transition

			.no-touchevents &:hover
				background-color: $color-border
				color: lighten($color-text, 30%)

		li:first-child a
			border-top: none

/*lang end*/
/*HEADER end*/