@import ../utils/variables
@import ../utils/placeholders
@import ../utils/mixins
@import ../utils/functions
@import ../../libs/include-media/dist/include-media

/*HEADER*/
/*header layout*/
.header__holder
	position: relative
	background-color: $header-bg
	padding-left: $header-left-space
	min-height: $header-left-space-desk-sm
	+clear

	//&::before
		+pseudo()
		left: 0
		top: 0
		+size($sidebar-left-width, 100%)
		background-color: white

	+media('<desk-sm')
		padding-left: 0

.header__frame
	position: relative
	padding-top: $header-top-height
	box-shadow: 0 10px 15px rgba(0, 0, 0, 0.05)
	+clear

	.no-js &
		padding-top: 0

	+media('<desk-lg')
		padding-top: $header-top-height--md

	+media('<mob-lg')
		padding-top: $header-top-height--sm

/*header layout end*/

/*logo*/
.logo-wrap
	position: fixed
	left: 0
	top: 0
	height: $header-height
	width: $header-left-space
	background-color: white
	border-bottom: 1px solid $bg-color
	z-index: 20

	+media('<desk-lg')
		height: $header-height--md

	+media('<desk-sm')
		display: none

	// no-js
	.no-js &
		position: relative
		left: auto
		top: auto
		float: left
		margin: 0 0 0 -#{$header-left-space}

	.touchevents &
		transition-property: height
		transition-duration: 0.1s

	.elements-is-transform &
		height: $header-top-height

		+media('<desk-lg')
			height: $header-top-height--md

	+media('<desk-sm')
		width: $header-left-space-desk-sm

	+media('<tab-lg')
		//width: $header-top-height
		//height: $header-top-height !important
		width: $header-top-height--md
		height: $header-top-height--md !important

	+media('<mob-lg')
		width: $header-top-height--sm
		height: $header-top-height--sm !important

.logo
	$logo-size: 120px 120px // width height
	$logo-size--md: 60px 60px // width height
	$logo-size--sm: 50px 50px // width height

	display: block
	height: 100%
	margin: 0

	a
		display: block
		position: relative
		text-decoration: none
		color: $text-color
		height: 100%
		padding: round($sidebar-inner-space-horizontal*0.5) $sidebar-inner-space-horizontal
		white-space: nowrap
		text-align: center
		+clear-spacing

		//.logo-is-transform &
		.elements-is-transform &
			text-align: left
			+padding-vertical(5px)

		& > strong
			position: relative
			display: inline-block
			overflow: hidden
			vertical-align: middle
			font-family: $font-alt
			font-size: 1.6rem
			line-height: 1.3
			letter-spacing: normal
			color: inherit
			+antialiased
			opacity: 0
			visibility: hidden
			max-width: 0
			transition-property: opacity, visibility
			transition-duration: $animation-speed

			//.logo-is-transform &
			.elements-is-transform &
				opacity: 1
				visibility: visible
				max-width: 200px
				padding-left: $grid-space

	img
		display: inline-block
		vertical-align: middle
		position: relative
		top: 50%
		transform: translate(0, -50%)
		height: nth($logo-size, 2)
		max-height: 100%
		font-size: $font-size-small
		letter-spacing: normal

	.header__content &
		display: none
		float: left
		width: nth($logo-size--md, 1)
		height: 100%
		position: relative
		margin-right: $grid-layout-space--desk-md

		+media('<desk-sm')
			display: block
			margin-right: 15px

		+media('<tab-lg')
			float: none
			width: auto
			height: auto
			margin: 0
			padding: 5px $grid-layout-space--desk-md
			border-bottom: 1px solid $border-color

		+media('<mob-lg')
			padding: 4px $grid-layout-space--mob-lg
			height: 60px

			[class*="department-"] &
				height: auto

		a
			height: auto
			position: relative
			top: 50%
			transform: translate(0, -50%)
			color: inherit
			text-decoration: none
			padding: 0
			white-space: normal
			text-align: left
			+clear

			.no-touchevents &:hover
				text-decoration: none

			+media('<tab-lg')
				top: auto
				transform: none

			& > strong
				font: 700 1.6rem/1.2 $font-alt
				letter-spacing: normal
				text-transform: uppercase
				visibility: visible
				opacity: 1
				max-width: none
				padding: 0
				color: inherit
				// скрыть на десктопе
				display: none
				width: calc(100% - 60px - #{$grid-layout-space--mob-lg} - 5px)

				+media('<tab-lg')
					display: inline-block
					vertical-align: middle
					font-size: 1.5rem

				+media('<mob-lg')
					+font(1.4rem, 1.429)

				body[class*="department-"] &
					+media('<mob-lg')
						+font(1.4rem, 1.429)

					+media('<mob-md')
						+font(1.2rem, 1.5)

			img
				float: left
				position: relative
				left: auto
				top: auto
				max-width: 100%
				transform: none

				+media('<desk-sm')
					+size(nth($logo-size--md, 1), nth($logo-size--md, 2))

				+media('<tab-lg')
					float: none
					display: inline-block
					vertical-align: middle
					margin-right: $grid-layout-space--mob-lg
					+size(nth($logo-size--sm, 1), nth($logo-size--sm, 2))

				+media('<mob-lg')
					margin-right: #{round($grid-layout-space--mob-lg/2)}

/*logo end*/

/*header top
.header__top
	height: $header-top-height
	position: absolute
	top: 0
	width: 100%
	min-width: 320px
	z-index: 30
	//overflow: hidden
	+linear-gradient(to right, #006ab8 0%, #00487c 100%)
	+clear

	+media('<desk-lg')
		height: $header-top-height--md

	.window-is-resize &
		overflow: hidden

	//.no-js &
	.no-js &
		overflow: visible
		height: auto
		position: relative
		top: auto

	.header-fixed &
		position: fixed
		width: calc(100% - #{$header-left-space})
		max-width: calc(#{$main-layout-width - $header-left-space})

		+media('<desk-sm')
			width: 100%
			max-width: none

	+media('<mob-lg')
		height: $header-top-height--sm

/*header top end

/*header content
.header__content
	padding: 0 #{$grid-layout-space - 9px}
	height: $header-content-height
	position: relative

	+media('<desk-hd')
		+padding-horizontal(#{$grid-layout-space--desk-hd - 9px})

	+media('<desk-lg')
		padding: 0 10px 0 30px
		height: $header-content-height--md

	//+media('<desk-md')
		padding: 0 $grid-layout-space--desk-md

	+media('<tab-lg')
		float: none
		padding: 0
		height: auto
		display: table
		width: 100%

	+media('<mob-lg')
		display: block

	.holder
		overflow: hidden
		position: relative
		height: 100%
		+clear-spacing

		+media('<tab-lg')
			border-bottom: 1px solid $border-color

		&::before
			content: ''
			display: inline-block
			vertical-align: middle
			height: 100%

		.frame
			+display-inline-block-middle
			//max-width: calc(100% - 92px)
			width: calc(100% - 5px)
			+font($font-size, $line-height)
			letter-spacing: normal
			//margin-right: 20px

			+media('<desk-md')
				max-width: calc(100% - 5px)
				margin-right: 0

			+media('<desk-sm')
				border-right: 1px solid $border-color

			+media('<tab-lg')
				display: block
				position: relative
				border: none
				max-width: none
				width: auto
				padding: 10px 30px

			+media('<mob-lg')
				padding: 7px 20px

		.gerb
			//display: inline-block
			display: none
			vertical-align: middle
			width: 62px
			backface-visibility: hidden

			+media('<desk-lg')
				width: 40px

			+media('<desk-md')
				display: none

/*header content end

/*header contacts
.header__contacts
	float: right
	height: 100%
	margin-left: 20px

	+media('<desk-lg')
		margin-left: 10px

	+media('<desk-md')
		&::before
			+pseudo('', inline-block, relative)
			vertical-align: middle
			height: 100%

			+media('<tab-lg')
				content: none

	+media('<tab-lg')
		float: none
		padding: 0
		margin-left: 0
		display: table-footer-group

	.header &
		+media('<mob-lg')
			overflow: visible
			display: block
			position: absolute
			right: 0
			top: 0
			z-index: 2
			height: 60px

			[class*="department-"] &
				position: relative
				right: auto
				top: auto
				z-index: auto

.header__contacts__list
	height: 100%
	margin-right: -#{$grid-space}
	+clear-spacing

	+media('<desk-md')
		+display-inline-block-middle
		height: auto
		max-width: calc(100% - 6px)

	+media('<tab-lg')
		display: block
		max-width: none
		+margin-horizontal(0)

	+media('<mob-lg')
		height: 100%

		[class*="department-"] &
			height: auto

	&::before
		+pseudo('', inline-block, relative)
		vertical-align: middle
		height: 100%

		+media('<desk-md')
			content: none

.header__contacts__item
	+display-inline-block-middle
	position: relative
	+size(230px, 100%)

	+media('<desk-lg')
		width: 180px

	+media('<desk-md')
		display: block
		height: auto
		width: auto

	+media('<tab-lg')
		float: left
		display: block
		//+size(50%, 100%)
		+size(100%, 100%)
		text-align: center

	+media('<mob-lg')
		float: none
		display: block
		width: auto
		text-align: center
		border-bottom: 1px solid $border-color

		&:last-child
			border: none

	&::before
		content: ''
		position: absolute
		left: 0
		top: 50%
		$height: 18px
		+size(0, $height)
		margin-top: -(round($height/2))
		border: solid $border-color
		border-width: 0 0 0 1px
		transition-property: border-color
		transition-duration: $animation-speed

		+media('<desk-md')
			content: none

		+media('<mob-lg')
			content: none

	&:first-child::before
		content: none

	&.hover, &.hover_pref, &.hover_next
		&::before
			border-color: transparent

.header__contacts__inner
	display: block
	+size(100%)
	padding: 0 $grid-space
	text-decoration: none
	color: $text-color
	text-align: left
	transition-property: background-color
	transition-duration: $animation-speed

	+media('<desk-lg')
		padding: 0 #{round($grid-space/2)}

	+media('<desk-md')
		padding: 4px #{round($grid-space/2)}

	.no-touchevents &:hover
		background-color: white

	&::after
		+vertical-align()

	+media('<tab-lg')
		+padding-horizontal(30px)

	+media('<mob-lg')
		text-align: center
		display: block
		padding: 0

		[class*="department-"] &
			padding: 6px 20px

	& > div
		$width-icon: 78px
		$width-icon--md: 54px
		$width-icon--sm: 50px

		+display-inline-block-middle
		max-width: calc(100% - #{$width-icon})
		text-align: left

		+media('<desk-lg')
			max-width: calc(100% - #{$width-icon--md})

		+media('<desk-sm')
			max-width: calc(100% - #{$width-icon--sm})

		+media('<tab-lg')
			text-align: center
			max-width: none

			img
				width: 34px

		&:first-child
			width: $width-icon
			padding-right: #{$grid-space}
			text-align: center

			+media('<desk-lg')
				width: $width-icon--md
				padding-right: #{round($grid-space*0.5)}

			+media('<desk-md')
				width: $width-icon--sm

			+media('<tab-lg')
				padding-right: 0
				width: auto

			//+media('<mob-lg')
				width: 70px

			& + div
				+media('<mob-lg')
					display: none

					[class*="department-"] &
						display: inline-block

		& > em, & > a
			+display-inline-block-middle
			font: normal bold 30px/1.2 $font-alt
			letter-spacing: normal

			+media('<desk-lg')
				font-size: 22px

			+media('<desk-md')
				display: block
				font-size: 16px
				line-height: 1

			+media('<tab-lg')
				display: inline-block
				font-size: 20px
				margin-right: 15px
				padding-bottom: 3px

			+media('<mob-lg')
				width: 60px
				height: 60px
				font-size: 24px
				line-height: 60px
				border: 1px solid $border-color
				text-align: center
				padding: 0
				margin: 0 -1px 0 0

				[class*="department-"] &
					position: relative
					width: auto
					height: auto
					font-size: 20px
					margin: 0 15px 0 0
					padding-bottom: 3px
					text-align: left
					border: none

		& > a, & > a:hover, .no-touchevents > a:hover, & > a[href^="tel"], & > a[href^="tel"]:hover, .no-touchevents > a[href^="tel"]:hover
			color: $mark-color
			cursor: pointer

			&.color--orange
				color: $mark-color-alt

		& > span
			display: block
			+font($font-size-small, $line-height-small)
			letter-spacing: normal

			+media('<desk-lg')
				font-size: 1.2rem

			+media('<tab-lg')
				font-size: 1.4rem

.get-minister
	display: block
	background: #fff

	ul
		margin: 0
		padding: 0
		+clear

		li
			padding: 0!important
			margin: 0!important

			a
				+padding-horizontal(5px)

				& > div
					&:first-child
						padding-right: 10px

					img
						width: 48px

					& > span
						font-size: 1.6rem

/*header contacts end

/*header hot line
.header__hot-line
	float: right
	height: 100%
	margin-left: #{$grid-space}
	text-align: right
	cursor: default
	+font(0, 0)
	letter-spacing: -4px

	&::before
		+vertical-align()

	+media('<tab-lg')
		float: none
		height: auto
		padding: 5px $grid-layout-space--desk-md
		margin-left: 0
		text-align: left

		&::before
			content: none

	+media('<mob-lg')
		overflow: visible
		+padding-horizontal($grid-layout-space--mob-lg)

		display: none

		.h-contacts-js.is-show &
			display: block

.header__hot-line--align
	display: inline-block
	vertical-align: middle
	+font($font-size-small, 1.5)
	letter-spacing: normal

	+media('<tab-lg')
		display: block

.header__hot-line
	+media('<tab-lg')
		border-bottom: 1px solid $border-color
	
	ul
		position: relative

		+media('<tab-lg')
			+margin-horizontal(0)
			//height: 60px

			&::before
				content: none

		+media('<mob-lg')
			height: auto

	li
		position: relative
		+margin-vertical(#{$bottom-space-sm})

		+media('<desk-lg')
			+margin-vertical(5px)

		+media('<tab-lg')
			+margin-vertical(3px)

		&:first-child
			font-family: $font-alt
			font-weight: 700
			+font(1.8rem, 1.4)
			color: $text-color-light
			margin-top: 0

			a
				&, .no-touchevents &:hover
					display: inline-block
					color: $text-color-alt

		&:last-child
			margin-bottom: 0

/*header hot line end

/*header title
.header__title
	font: 700 1.8rem/1.2 $font-alt
	text-transform: uppercase
	color: $text-color

	+media('<desk-lg')
		+font(1.3rem, 1.2)
		margin-bottom: 2px

	+media('<tab-lg')
		display: none

	a
		$size: 38px
		$size--md: 30px
		//==============
		position: relative
		+display-inline-block-top
		color: inherit
		text-decoration: none
		width: 100%
		padding-left: $size + 12

		+media('<desk-lg')
			padding-left: $size--md + 10

		&::before
			+pseudo()
			left: 0
			top: 50%
			+size($size)
			margin-top: -#{round($size/2)}
			backface-visibility: hidden
			background: url(../../img/gerb.png) no-repeat
			background-size: contain

			+media('<desk-lg')
				+size($size--md)
				margin-top: -#{round($size--md/2)}

		&::after
			+pseudo($display: null, $pos: relative)
			+display-inline-block-middle
			min-height: $size

			+media('<desk-lg')
				min-height: $size--md

			+media('<desk-md')
				+pseudo($display: inline-block, $pos: relative)
				vertical-align: middle

		& > span
			display: inline-block
			vertical-align: middle
			max-width: calc(100% - 6px)

/*header title end

/*header info
.header__info__list
	position: relative
	margin: 8px 0 0
	+font(1.4rem, 1.2)
	cursor: default

	+media('<desk-lg')
		font-size: 1.2rem
		margin-top: 0

	+media('<tab-lg')
		font-size: 1.4rem
		padding: 2px 0 2px 65px
		position: relative

	+media('<mob-lg')
		padding-left: 52px
		padding-right: 10px

	&::before
		+pseudo()
		left: 5px
		top: 50%
		+size(40px)
		margin-top: -20px
		backface-visibility: hidden
		background: url(../../img/gerb.png) no-repeat
		background-size: contain
		display: none

		+media('<tab-lg')
			display: block
			left: 0

	li
		display: inline-block
		vertical-align: top
		margin-top: 10px
		margin-right: 30px
		color: $text-color-light

		+media('<desk-hd')
			margin-top: 4px

		+media('<desk-lg')
			margin-right: 20px

		+media('<tab-lg')
			margin-bottom: 4px

		+media('<mob-lg')
			display: none

			.h-contacts-js.is-show &
				display: inline-block

		&.header__info__label
			display: none
			+margin-vertical(0)
			+padding-vertical(10px)
			color: #595959

			+media('<mob-lg')
				display: block

				.h-contacts-js.is-show &
					display: none

		a
			text-decoration: none
			color: inherit
			cursor: pointer

			& > span
				display: inline-block
				border-bottom: 1px solid transparent
				transition-property: border-color
				transition-duration: $animation-speed

			.no-touchevents &:hover > span
				border-color: lighten($text-color-light, 25%)

			.no-touchevents &[href^="tel:"]:hover > span
				border-color: transparent

		svg
			+size(24px)
			+display-inline-block-middle
			margin-right: 5px

			+media('<desk-lg')
				+size(16px)
				margin-right: 3px

		path
			fill: lighten($text-color-light, 20%)

/*header info end

/*contacts-opener
.h-contacts-opener
	display: none
	+size(40px, 40px)
	cursor: pointer
	position: absolute
	right: 15px
	top: 50%
	margin-top: -20px

	+media('<mob-lg')
		display: block

	& > i
		$this-icon-lines-width: 10px
		$this-icon-lines-height: 2px
		$this-icon-lines-color: $text-color-light

		display: block
		position: absolute
		left: 50%
		top: 50%
		+size(12px, 10px)
		margin: -6px 0 0 -5px
		backface-visibility: hidden

		&::before, &::after
			+pseudo()
			bottom: 0
			backface-visibility: hidden
			+size($this-icon-lines-width, $this-icon-lines-height)
			background-color: $this-icon-lines-color
			transition-property: background-color
			transition-duration: $animation-speed

		&::before
			right: 50%
			transform-origin: right bottom
			transform: rotate(45deg)

		&::after
			left: 50%
			transform-origin: left bottom
			transform: rotate(-45deg)

	.no-touchevents &:hover
		& > i
			&::before, &::after
				background-color: tomato

	.h-contacts-js.is-show &
		transform: rotate(0.5turn)

/*contacts-opener end

/*user options*/
.user-options
	float: right
	position: relative
	font-size: 0
	line-height: 0
	letter-spacing: -4px
	z-index: 100

	// no-js
	.no-js &
		display: none

.user-options__item
	display: inline-block
	vertical-align: top
	position: relative
	width: $header-top-height

	+media('<desk-lg')
		width: $header-top-height--md

	+media('<mob-lg')
		width: $header-top-height--sm

	&::before
		content: ''
		display: block
		height: 0
		padding-top: 100%

	& > a
		+cover()
		background-color: transparent
		box-shadow: -1px 0 0 rgba(255, 255, 255, 0.15)
		text-decoration: none
		text-align: center
		color: rgba(255, 255, 255, 0.50)
		transition-property: background-color, color
		transition-duration: $animation-speed

		& > *
			+display-inline-block-middle
			+font($font-size, $line-height)
			letter-spacing: normal

		&::before
			+vertical-align

		& > div
			+display-inline-block-middle
			color: rgba(255, 255, 255, 0.5)
			transition-property: background-color, color
			transition-duration: $animation-speed

		svg
			+size(30px)
			display: inline-block
			transform: scale(0.8)
			transition-property: background-color, color
			transition-duration: $animation-speed

			&.svg-search
				+size(24px)

			&.svg-visually-impaired
				+size(32px)

			&.svg-share
				+size(25px)

		path
			fill: rgba(255, 255, 255, 0.5)
			transition-property: fill
			transition-duration: $animation-speed

		.no-touchevents &:hover
			background-color: rgba(255, 255, 255, 0.15)
			color: $text-color-alt

			path
				fill: rgba(255, 255, 255, 1)

		& > span
			display: inline-block

		& > svg ~ span
			+hide-text

.user-options:first-child
	float: left
	display: none // прячем пока не понадобиться

	+media('<desk-sm')
		display: block

	a
		box-shadow: 1px 0 0 rgba(255, 255, 255, 0.15)

		path
			fill: white

/*user options end*/

/*lang*/
.lang
	position: relative

	& > a
		transition-property: background-color, color
		transition-duration: $animation-speed

		& > span
			width: 30px
			max-width: 90%
			vertical-align: middle
			position: relative
			+font(16px, 24px)
			font-weight: normal
			letter-spacing: normal
			display: none

			+media('<mob-lg')
				font-size: 14px

			&.current
				display: inline-block

	.no-touchevents &:hover > a, .no-touchevents & > a:hover, &.choice-opened > a
		color: rgba(255, 255, 255, 1)
		background-color: rgba(255, 255, 255, 0.15)

/*lang end*/
/*HEADER end*/