@import ../utils/variables
@import ../utils/placeholders
@import ../utils/mixins
@import ../utils/functions
@import ../../libs/include-media/dist/include-media

/*HEADER*/
/*header layout*/
.header__holder
	position: relative
	background-color: $header-bg
	padding-left: $header-left-space
	min-height: $header-left-space-desk-sm
	+clear

	+media('<desk-sm')
		padding-left: 0

.header__frame
	position: relative
	padding-top: $header-top-height
	box-shadow: 0 10px 15px rgba(0, 0, 0, 0.05)
	+clear

	+media('<mob-lg')
		padding-top: $header-top-height--sm

/*header layout end*/

/*logo*/
.logo-wrap
	position: fixed
	left: 0
	top: 0
	height: $header-height
	width: $header-left-space
	background-color: white
	//transition-property: height
	//transition-duration: $animation-speed
	//transition-timing-function: linear
	border-bottom: 1px solid $bg-color
	z-index: 20

	+media('<desk-sm')
		display: none

	.touchevents &
		transition-property: height
		transition-duration: 0.1s

	//.header-fixed &
		position: fixed

	.elements-is-transform &
		height: $header-top-height

		//img
			backface-visibility: hidden

	//.header-fixed.touchevents &
		height: $header-top-height

	+media('<desk-sm')
		width: $header-left-space-desk-sm

	+media('<tab-lg')
		width: $header-top-height
		height: $header-top-height !important

	+media('<mob-lg')
		width: $header-top-height--sm
		height: $header-top-height--sm !important

.logo
	display: block
	height: 100%
	margin: 0

	a
		display: block
		position: relative
		text-decoration: none
		color: $text-color
		height: 100%
		padding: round($sidebar-inner-space-horizontal*0.8) $sidebar-inner-space-horizontal
		white-space: nowrap
		text-align: center
		+clear-spacing

		.elements-is-transform &
			text-align: left
			+padding-vertical(5px)

		& > strong
			position: relative
			display: inline-block
			overflow: hidden
			vertical-align: middle
			font-family: $font-alt
			font-size: 1.6rem
			line-height: 1.3
			letter-spacing: normal
			color: inherit
			+antialiased
			opacity: 0
			visibility: hidden
			max-width: 0
			transition-property: opacity, visibility
			transition-duration: $animation-speed

			.elements-is-transform &
				opacity: 1
				visibility: visible
				max-width: 200px
				padding-left: $grid-space

	img
		display: inline-block
		vertical-align: middle
		position: relative
		top: 50%
		transform: translate(0, -50%)
		height: 120px
		max-height: 100%
		font-size: $font-size-small
		letter-spacing: normal

	.header__content &
		display: none

		+media('<desk-sm')
			display: block
			float: left
			width: 80px
			height: 100%
			position: relative
			margin-right: $grid-layout-space--desk-md

		+media('<tab-lg')
			float: none
			width: auto
			height: auto
			margin: 0
			padding: 10px 20px
			border-bottom: 1px solid $border-color

		+media('<mob-lg')
			+padding-vertical(round($grid-layout-space--mob-lg/2))

		a
			height: auto
			position: relative
			top: 50%
			transform: translate(0, -50%)
			color: inherit
			text-decoration: none
			padding: 0
			white-space: normal
			text-align: left
			+clear

			.no-touchevents &:hover
				text-decoration: none

			+media('<tab-lg')
				top: auto
				transform: none

			& > strong
				font: 700 1.6rem/1.875 $font-alt
				letter-spacing: normal
				text-transform: uppercase
				visibility: visible
				opacity: 1
				max-width: none
				padding: 0
				color: inherit
				// скрыть на десктопе
				display: none
				width: calc(100% - 60px - #{$grid-layout-space--mob-lg} - 5px)

				+media('<tab-lg')
					display: inline-block
					vertical-align: middle

				+media('<mob-lg')
					+font(1.4rem, 1.429)

				+media('<mob-md')
					+font(1.2rem, 1.5)

			img
				float: left
				position: relative
				left: auto
				top: auto
				+size(60px)
				max-width: 100%
				transform: none

				+media('<desk-sm')
					+size(80px)

				+media('<tab-lg')
					float: none
					display: inline-block
					vertical-align: middle
					+size(60px)
					margin-right: $grid-layout-space--mob-lg

				+media('<mob-lg')
					margin-right: #{round($grid-layout-space--mob-lg/2)}

				+media('<mob-md')
					width: 60px

/*logo end*/

/*header top
.header__top
	height: $header-top-height
	position: absolute
	top: 0
	width: 100%
	min-width: 320px
	z-index: 30
	overflow: hidden
	+linear-gradient(to right, #006ab8 0%, #00487c 100%)
	+clear

	.window-is-resize &
		overflow: hidden

	.no-js &, .page-loaded &
		overflow: visible

	.header-fixed &
		position: fixed
		width: calc(100% - #{$header-left-space})
		max-width: calc(#{$main-layout-width - $header-left-space})

		+media('<desk-sm')
			width: 100%
			max-width: none

	+media('<mob-lg')
		height: $header-top-height--sm

/*header top end

/*header content
.header__content
	padding: 0 $grid-layout-space
	height: $header-content-height

	+media('<desk-lg')
		padding: 0 $grid-layout-space--desk-md

	//+media('<desk-md')
		padding: 0 $grid-layout-space--desk-md

	+media('<tab-lg')
		float: none
		padding: 0
		height: auto
		display: table
		width: 100%

	.holder
		overflow: hidden
		position: relative
		height: 100%
		+clear-spacing

		+media('<tab-lg')
			border-bottom: 1px solid $border-color

		&::before
			content: ''
			display: inline-block
			vertical-align: middle
			height: 100%

		.frame
			+display-inline-block-middle
			//max-width: calc(100% - 92px)
			width: calc(100% - 5px)
			+font($font-size, $line-height)
			letter-spacing: normal
			//margin-right: 20px

			+media('<desk-md')
				max-width: calc(100% - 5px)
				margin-right: 0

			+media('<desk-sm')
				border-right: 1px solid $border-color

			+media('<tab-lg')
				display: block
				border: none
				max-width: none
				width: auto
				padding: 10px 20px

		.gerb
			//display: inline-block
			display: none
			vertical-align: middle
			width: 62px
			backface-visibility: hidden

			+media('<desk-lg')
				width: 50px

			+media('<desk-md')
				display: none

/*header content end

/*header contacts
.header__contacts
	float: right
	height: 100%
	margin-left: #{$grid-space}

	+media('<desk-md')
		&::before
			+pseudo('', inline-block, relative)
			vertical-align: middle
			height: 100%

			+media('<tab-lg')
				content: none

	+media('<tab-lg')
		float: none
		padding: 0
		margin-left: 0
		display: table-footer-group

	+media('<mob-lg')
		overflow: visible

	ul
		height: 100%
		margin-right: -#{$grid-space}
		+clear-spacing

		+media('<desk-md')
			+display-inline-block-middle
			height: auto
			max-width: calc(100% - 6px)

		+media('<tab-lg')
			display: block
			max-width: none
			+margin-horizontal(0)
			//height: 60px
			//height: 89px
			height: 85px

		+media('<mob-lg')
			height: auto

		&::before
			+pseudo('', inline-block, relative)
			vertical-align: middle
			height: 100%

			+media('<desk-md')
				content: none

		li.hover, li.hover_pref, li.hover_next
			&::before
				border-color: transparent

		li
			+display-inline-block-middle
			position: relative
			+size(230px, 100%)

			+media('<desk-lg')
				width: 180px

			+media('<desk-md')
				display: block
				height: auto
				width: auto

			+media('<tab-lg')
				float: left
				display: block
				//+size(50%, 100%)
				+size(100%, 100%)
				text-align: center

			+media('<mob-lg')
				float: none
				display: block
				width: auto
				border-bottom: 1px solid $border-color

				&:last-child
					border: none

			&::before
				content: ''
				position: absolute
				left: 0
				top: 50%
				$height: 18px
				+size(0, $height)
				margin-top: -(round($height/2))
				border: solid $border-color
				border-width: 0 0 0 1px
				transition-property: border-color
				transition-duration: $animation-speed

				+media('<desk-md')
					content: none

				+media('<tab-lg')
					content: ""
					height: 100%
					top: 0
					border-width: 0 0 0 1px
					margin-top: 0

				+media('<mob-lg')
					content: none
					
			&:first-child::before
				content: none

			a
				display: block
				+size(100%)
				padding: 0 $grid-space
				text-decoration: none
				color: $text-color
				text-align: left
				transition-property: background-color
				transition-duration: $animation-speed
				cursor: pointer !important

				+media('<desk-lg')
					padding: 0 #{round($grid-space/2)}

				+media('<desk-md')
					padding: 5px #{round($grid-space/2)}

				.no-touchevents &:hover
					background-color: white

				&::after
					+vertical-align()

				+media('<tab-lg')
					text-align: center

				+media('<mob-lg')
					display: block
					text-align: left
					padding: 10px 20px

				& > div
					$width-icon: 78px
					$width-icon-sm: 60px

					+display-inline-block-middle
					max-width: calc(100% - #{$width-icon})
					text-align: left

					+media('<tab-lg')
						text-align: center

						img
							width: 34px

					&:first-child
						width: $width-icon
						padding-right: #{$grid-space}

						+media('<desk-lg')
							width: $width-icon-sm
							padding-right: #{round($grid-space*0.5)}

						+media('<tab-lg')
							padding-right: #{$grid-layout-space--mob-lg}

						+media('<mob-lg')
							width: 70px

					& > em
						+display-inline-block-middle
						font: normal bold 30px/1.2 $font-alt
						color: $mark-color
						letter-spacing: normal

						&.color--orange
							color: $mark-color-alt

					& > span
						display: block
						+font($font-size-small, $line-height-small)
						letter-spacing: normal

						+media('<desk-lg')
							font-size: 1.2rem

						+media('<tab-lg')
							font-size: 1.4rem

.get-minister
	display: block
	background: #fff

.get-minister ul
	margin: 0
	padding: 0

.get-minister li
	padding: 0!important
	margin: 0!important

+media('>=tab-lg')
	.show-960
		display: none!important

+media('<tab-lg')
	.hide-960
		display: none!important

/*header contacts end

/*header hot line
.header__hot-line
	float: right
	height: 100%
	margin-left: #{$grid-space}
	text-align: right
	cursor: default
	+font(0, 0)
	letter-spacing: -4px

	&::before
		+vertical-align()

	+media('<tab-lg')
		float: none
		height: auto
		padding: $grid-layout-space--mob-lg
		margin-left: 0
		text-align: left

		&::before
			content: none

	+media('<mob-lg')
		overflow: visible

.header__hot-line--align
	display: inline-block
	vertical-align: middle
	+font($font-size-small, 1.5)
	letter-spacing: normal

	+media('<tab-lg')
		display: block

.header__hot-line
	ul
		position: relative

		+media('<tab-lg')
			+margin-horizontal(0)
			height: 60px

			&::before
				content: none

		+media('<mob-lg')
			height: auto

	li
		position: relative
		+margin-vertical(#{$bottom-space-sm})

		&:first-child
			font-family: $font-alt
			font-weight: 700
			+font(1.8rem, 1.4)
			color: $text-color-light
			margin-top: 0

			a
				&, .no-touchevents &:hover
					display: inline-block
					color: $text-color-alt

		&:last-child
			margin-bottom: 0

/*header hot line end

/*header title
.header__title
	font: 700 1.8rem/1.2 $font-alt
	text-transform: uppercase
	color: $text-color

	+media('<desk-lg')
		+font(1.4rem, 1.2)

	+media('<tab-lg')
		display: none

	a
		position: relative
		+display-inline-block-top
		color: inherit
		text-decoration: none
		width: 100%
		padding-left: 50px

		&::before
			+pseudo()
			left: 0
			top: 50%
			+size(38px)
			margin-top: -19px
			backface-visibility: hidden
			background: url(../../img/gerb.png) no-repeat
			background-size: contain

		&::after
			+pseudo($display: null, $pos: relative)
			+display-inline-block-middle
			min-height: 38px

		+media('<desk-md')
			&::after
				+pseudo($display: inline-block, $pos: relative)
				vertical-align: middle
				min-height: 40px

		& > span
			display: inline-block
			vertical-align: middle
			max-width: calc(100% - 6px)

/*header title end

/*header info
.header__info
	position: relative
	margin: 8px 0 0
	+font($font-size-small, $line-height-small)
	cursor: default

	+media('<desk-lg')
		font-size: 1.2rem
		margin-top: 0

	+media('<tab-lg')
		font-size: 1.4rem
		padding-left: 80px
		position: relative
		min-height: 50px

		&::before
			+pseudo()
			left: 5px
			top: 50%
			+size(50px)
			margin-top: -25px
			backface-visibility: hidden
			background: url(../../img/gerb.png) no-repeat
			background-size: contain

	+media('<mob-lg')
		padding-left: 70px
		padding-right: 10px

	li
		+media('<mob-lg')
			&:nth-child(n + 3)
				display: none

	&.is-show
		li
			display: inline-block

	li
		display: inline-block
		vertical-align: top
		margin-top: 10px
		margin-right: 30px
		color: $text-color-light

		+media('<desk-hd')
			margin-top: 4px

		+media('<desk-lg')
			margin-top: 8px

		+media('<tab-lg')
			margin-top: 4px
			margin-bottom: 4px

		a
			text-decoration: none
			color: inherit
			cursor: pointer

			& > span
				display: inline-block
				border-bottom: 1px solid transparent
				transition-property: border-color
				transition-duration: $animation-speed

			.no-touchevents &:hover > span
				border-color: lighten($text-color-light, 25%)

			.no-touchevents &[href^="tel:"]:hover > span
				border-color: transparent

		svg
			+size(24px)
			+display-inline-block-middle
			margin-right: 5px

			+media('<desk-lg')
				+size(18px)

		path
			fill: lighten($text-color-light, 20%)

/*header info end

/*contacts-opener
.h-contacts-opener
	display: none
	+size(40px, 40px)
	cursor: pointer

	+media('<mob-lg')
		display: block

	.header__info &
		position: absolute
		right: -5px
		top: 50%
		margin-top: -20px

	& > i
		$this-icon-lines-width: 12px
		$this-icon-lines-height: 3px
		$this-icon-lines-color: $text-color-light

		display: block
		position: absolute
		left: 50%
		top: 50%
		+size(12px, 10px)
		margin: -6px 0 0 -5px
		backface-visibility: hidden

		&::before, &::after
			+pseudo()
			bottom: 0
			backface-visibility: hidden
			+size($this-icon-lines-width, $this-icon-lines-height)
			background-color: $this-icon-lines-color
			transition-property: background-color
			transition-duration: $animation-speed

		&::before
			right: 50%
			transform-origin: right bottom
			transform: rotate(45deg)

		&::after
			left: 50%
			transform-origin: left bottom
			transform: rotate(-45deg)

	.no-touchevents &:hover
		& > i
			&::before, &::after
				background-color: tomato

	.is-show &
		transform: rotate(0.5turn)


/*contacts-opener end

/*user options*/
.user-options
	float: right
	position: relative
	font-size: 0
	line-height: 0
	letter-spacing: -4px
	z-index: 100

.user-options__item
	display: inline-block
	vertical-align: top
	position: relative
	width: $header-top-height

	+media('<mob-lg')
		width: $header-top-height--sm

	&::before
		content: ''
		display: block
		height: 0
		padding-top: 100%

	& > a
		+cover()
		background-color: transparent
		box-shadow: -1px 0 0 rgba(255, 255, 255, 0.15)
		text-decoration: none
		text-align: center
		color: rgba(255, 255, 255, 0.50)
		transition-property: background-color, color
		transition-duration: $animation-speed

		& > *
			+display-inline-block-middle
			+font($font-size, $line-height)
			letter-spacing: normal

		&::before
			+vertical-align

		& > div
			+display-inline-block-middle
			color: rgba(255, 255, 255, 0.5)
			transition-property: background-color, color
			transition-duration: $animation-speed

		svg
			+size(30px)
			display: inline-block
			transform: scale(0.8)
			transition-property: background-color, color
			transition-duration: $animation-speed

			&.svg-search
				+size(24px)

			&.svg-visually-impaired
				+size(32px)

			&.svg-share
				+size(25px)

		path
			fill: rgba(255, 255, 255, 0.5)
			transition-property: fill
			transition-duration: $animation-speed

		.no-touchevents &:hover
			background-color: rgba(255, 255, 255, 0.15)
			color: $text-color-alt

			path
				fill: rgba(255, 255, 255, 1)

		& > span
			display: inline-block

		& > svg ~ span
			+hide-text

.user-options:first-child
	float: left
	display: none // прячем пока не понадобиться

	+media('<desk-sm')
		display: block

	a
		box-shadow: 1px 0 0 rgba(255, 255, 255, 0.15)

		path
			fill: white

/*user options end*/

/*go to site mchs
.go-to-mchs, .go-to-mchs--mob
	float: left
	position: relative
	width: $go-to-mchs-width
	text-align: center
	font-size: 1.4rem
	line-height: 1.4
	text-decoration: none
	color: white
	height: $header-top-height
	+linear-gradient(to right, #006ab8 0%, #00487c 100%)
	+padding-horizontal(52px, 12px)

	+media('<mob-lg')
		height: $header-top-height--sm

	+media('<mob-md')
		display: none

	&::before
		+vertical-align()

	&::after
		+pseudo()
		left: 10px
		top: 50%
		+size(40px)
		transform: translate(0, -50%)
		background: url(../../img/logo.png) no-repeat center
		background-size: contain

	span
		display: inline-block
		vertical-align: middle
		width: 98%

.go-to-mchs--mob
	float: none
	width: 100%
	clear: both
	padding-left: 60px
	text-align: left
	display: none

	+media('<mob-md')
		display: block

/*go to site mchs end

/*lang*/
.lang
	position: relative

	& > a
		transition-property: background-color, color
		transition-duration: $animation-speed

		& > span
			width: 30px
			max-width: 90%
			vertical-align: middle
			position: relative
			+font(16px, 24px)
			font-weight: normal
			letter-spacing: normal
			display: none

			+media('<mob-lg')
				font-size: 14px

			&.current
				display: inline-block

	.no-touchevents &:hover > a, .no-touchevents & > a:hover, &.choice-opened > a
		color: rgba(255, 255, 255, 1)
		background-color: rgba(255, 255, 255, 0.15)

//.user-options

	.lang__list
		list-style: none
		position: absolute
		top: 100%
		right: 0
		left: -1px
		margin: -1px 0 0
		padding: 0
		font-size: 16px
		letter-spacing: 0.05em
		box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1)
		opacity: 0
		visibility: hidden
		transition-property: opacity, visibility
		transition-duration: $animation-speed

		.choice-opened &
			opacity: 1
			visibility: visible

		li
			padding: 0
			background: shade($text-color-alt, 70%)

		a
			display: block
			text-decoration: none
			text-align: center
			color: rgba(255, 255, 255, 0.50)
			padding: 18px 4px
			font-size: 16px
			line-height: 24px
			letter-spacing: normal
			box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15)
			transition-property: background-color, color
			transition-duration: $animation-speed

			.no-touchevents &:hover
				background-color: rgba(255, 255, 255, 0.15)
				color: rgba(255, 255, 255, 1)

/*lang end*/
/*HEADER end*/