@import ../utils/variables
@import ../utils/mixins

/*LAYOUT*/
body
	&::before
		+pseudo($pos: fixed)
		+size(100%, 400px, $layout-width)
		left: 0
		top: 50%
		transform: translate(0, -50%)
		background: url(../../img/logo-light-lg.png) no-repeat center center
		background-size: 220px
		opacity: 0.5
		transition-property: opacity, visibility, background-size
		transition-duration: $animation-speed

		+media('<desk-sm')
			background-size: 180px

		+media('<tab-sm')
			background-size: 120px

		.page-loaded &, .no-js &
			opacity: 0
			visibility: hidden
			background-size: 200px

.header, .main, .footer
	.layout
		opacity: 0
		visibility: hidden
		transition-property: opacity, visibility
		transition-duration: 0.35s

		.page-loaded &, .no-js &
			opacity: 1
			visibility: visible

.wrapper
	margin: 0 auto
	//min-height: 100%
	//height: auto !important
	//height: 100%
	min-height: 100vh
	overflow: hidden
	position: relative

	&:after
		content: ''
		position: absolute
		left: $layout-width
		top: 0
		height: 100%
		width: 9999px
		background: #004d85
		z-index: 200

.main
	position: relative
	clear: both
	z-index: 50

.main-holder
	width: 100%
	padding-right: 60px // width .side menu
	+clear

.main-frame
	float: left
	width: 100%
	//position: relative // нельзя задавать position, кроме static. нужно для работы sticky-kit

.main-inside
	margin: 0 0 0 $sidebar-left-width
	padding: $layout-grid-space #{$layout-grid-space - 10px}
	min-height: 50px
	position: relative
	+clear

	+media('<desk-lg')
		padding: $layout-grid-space--desk-md

.content-wrap
	@extend .main-frame

.content
	margin: 0 $sidebar-right-width 0 0
	padding-right: $layout-grid-space
	min-height: 50px

	+media('<desk-lg')
		//padding-right: $layout-grid-space--desk-md
		//margin: 0 $sidebar-right-width--desk-md 0 0
		margin-right: 0
		padding-right: 0

.sheet
	background: $bg-color-alt
	margin-bottom: $bottom-space-md

	&:last-child
		margin-bottom: 0

.header
	position: relative
	z-index: 150

.sidebar
	float: left
	//position: relative // нельзя задавать position, кроме static. нужно для работы sticky-kit
	margin: 0 0 0 -100%
	width: $sidebar-left-width
	background: $bg-color-alt
	z-index: 20

.aside
	float: right
	margin: 0 0 0 -#{$sidebar-right-width}
	width: $sidebar-right-width
	//position: relative // нельзя задавать position, кроме static. нужно для работы sticky-kit

	.home-page &
		padding-top: calc(2rem * 1.2 + 1.5rem) // Костыль. Высота однострочного заголовка секций

	+media('<desk-lg')
		display: none
		//margin: 0 0 0 -#{$sidebar-right-width--desk-md}
		//width: $sidebar-right-width--desk-md

.footer
	height: 0
	position: relative
	clear: both
	z-index: 100

%layout-space
	padding-left: $layout-space-horizontal
	padding-right: $layout-space-horizontal

%article-layout-space
	padding: $article-layout-space-vertical $article-layout-space-horizontal

%article-layout-full-width
	margin-left: -$article-layout-space-horizontal
	margin-right: -$article-layout-space-horizontal

%text-layout-space
	padding-left: $text-layout-space-horizontal
	padding-right: $text-layout-space-horizontal

.layout
	@extend %layout-space
	max-width: $layout-width

	.main > &
		overflow-x: hidden

.article-layout
	@extend %article-layout-space
	max-width: $article-layout-width
	margin: 0 auto

	.full-width
		@extend %article-layout-full-width

	p, ul, ol
		@extend .text-layout

.text-layout
	@extend %text-layout-space
	max-width: $text-layout-width
	margin-left: auto
	margin-right: auto

/*section*/
.section
	margin-bottom: $bottom-space-md

	&:last-child
		margin-bottom: 0

	* ~ &
		margin-top: $bottom-space-md

	& > *:last-child
		margin-bottom: 0

.section__title
	position: relative
	margin-bottom: $bottom-space-sm

	h2, h3
		color: $text-color-alt
		font-size: 2rem
		margin: 0

		a
			text-decoration: underline
			color: inherit

			.no-touchevents a:hover
				text-decoration: none

.section__subtitle
	margin-bottom: $bottom-space-sm
	font-family: $font-alt
	font-weight: normal
	font-size: 1.2rem
	line-height: 1.6
	text-transform: uppercase
	color: $text-color

	h2, h3, h4
		display: inline-block
		vertical-align: top
		font-family: inherit
		font-weight: inherit
		font-size: inherit
		line-height: inherit
		text-transform: inherit
		color: inherit
		margin-bottom: 0

	a
		text-decoration: underline
		color: inherit

		.no-touchevents a:hover
			text-decoration: none

.v-separator
	display: inline-block
	vertical-align: top
	+margin-horizontal(10px)

.section__box
	background-color: white
	padding: $grid-inside-horizontal-space

/*section end*/
/*LAYOUT end*/