@import ../utils/variables
@import ../utils/mixins
@import ../../libs/include-media/dist/include-media

/*NAVIGATION*/
/*nav layout
.main-nav
	position: relative
	z-index: 95
	margin-right: 240px
	padding: 0 0 0 $grid-layout-space

	+media('<desk-lg')
		padding: 0 0 0 $grid-layout-space--desk-hd

	+media('<desk-md')
		padding: 0 0 0 $grid-layout-space--desk-md

	+media('<desk-sm')
		display: none

	//+media('<mob-lg')
		padding: 0
		margin-right: 0

/*nav layout end

/*nav common
.nav
	margin: 0 0 0 -#{$nav-item-space}

.nav__list
	position: relative
	+clear-spacing
	//for priority nav
	vertical-align: top

	//temporarily 2016.04.05
	overflow: hidden
	white-space: nowrap

	&::after
		+pseudo()
		top: 0
		right: 0
		height: 100%
		width: 80px
		+linear-gradient(to left, #00487c 0, #00487c 20%, rgba(0, 72, 124, 0) 100%)
		z-index: 5

	li
		position: relative
		// for 3d animation
		perspective: 1500px

		//temporarily 2016.04.05
		display: inline-block
		vertical-align: top

		&.hover, .no-js &:hover, &.active
			z-index: 2

	a
		display: block
		position: relative
		padding: 18px $nav-item-space
		font-weight: 400
		+font($font-size-small, 24px)
		letter-spacing: normal
		color: white
		text-decoration: none
		// for animation
		transition-property: color, background-color
		transition-duration: $animation-speed

/*nav common end

/*nav item arrow
.nav__angle
	position: absolute
	right: 30px
	top: 50%
	width: 7px
	height: 13px
	margin-top: -6px
	// all arrow are hide
	display: none

	&:before, &:after
		+pseudo()
		left: 0
		top: 50%
		height: 2px
		width: 9px
		border-radius: 4px
		background: $text-color
		//for animation
		transition-property: background
		transition-duration: $animation-speed

	&:before
		transform: rotate(45deg)
		margin: -4px 0 0 -1px

	&:after
		transform: rotate(-45deg)
		margin: 1px 0 0 -1px

// if has drop
.nav__drop .has-drop > a
	padding-right: 45px

	// show arrow if has drop
	.nav__angle
		display: block

/*nav item arrow end

/*nav drop common
[class*="nav__drop"]
	display: block
	position: absolute
	left: 0
	top: 100%
	width: 320px
	background: #f2f2f2
	border: 1px solid $border-color
	box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15)
	z-index: 100
	//hide drop
	opacity: 0
	visibility: hidden
	//for animation
	transform-origin: center top
	transform: rotateX(-30deg)
	transition-property: opacity, visibility, transform
	transition-duration: $animation-speed
	transition-timing-function: cubic-bezier(0.25, 1, 0.25, 1)

	li.align-right > &
		left: auto
		right: 100%
		margin-left: auto
		margin-right: -10px

	li.hover > &, .no-js li:hover > &, li.active > &
		opacity: 1
		visibility: visible
		transform: rotateX(0deg)

	a
		color: $text-color
		text-transform: none
		background: white
		border-top: 1px solid #e0e0e0

	li
		&:first-child > a
			border: none

		//&.has-drop > a
			padding-right: 60px

		&.hover > a, .no-js &:hover > a
			background: #f3f3f3

div[class*="-nav__drop"]
	top: 0
	left: 100%
	z-index: auto
	+margin($t: 5px, $l: -5px)

/*nav drop common end

/*main items
.nav__list > li //, .priority-nav__dropdown > li
		display: inline-block
		vertical-align: top
		position: relative

		&.active
			z-index: 1

		& > a
			display: block
			padding: 17px $nav-item-space
			+font($font-size-small, 26px)
			color: #fff
			text-align: center
			background: none
			z-index: 95

			+media('<mob-lg')
				+padding-vertical(12px)

		&.hover > a, &.active > a, &.current > a, .no-js &:hover > a
			background: $color-nav-bg-hover
			color: $text-color

/*main items end

/*nav drop level 1
.nav__drop
	min-width: 100%
	border-top: none
	white-space: normal
	margin-left: -1px

	li.align-right > &
		left: auto
		right: -1px

//.priority-nav__dropdown > li > a span
	display: inline-block
	vertical-align: top
	+truncate(50px)

	+media('<desk-md')
		+truncate-reset

/*nav drop level 1 end

/*nav drop level 2
//.sub1-nav__list

//.sub1-nav__list > li

//.sub1-nav__list > li > a

//.sub1-nav__drop
/*nav drop level 2 end

/*nav drop level 3
//.sub2-nav__list

//.sub2-nav__list > li

//.sub2-nav__list > li > a

//.sub2-nav__drop
/*nav drop 3 end

/*priority nav
.nav
	.priority-nav__wrapper, .priority-nav__dropdown-toggle
		position: relative
		display: inline-block
		vertical-align: top
		width: auto
		height: auto
		padding: 0
		margin: 0
		border: none
		box-shadow: none
		opacity: 1
		visibility: visible
		transform: none
		background: none

	.priority-nav__dropdown-toggle
		height: $header-top-height
		+padding-horizontal(#{$nav-item-space})
		color: white
		// for animation
		transition-property: background-color
		transition-duration: $animation-speed

		.no-touchevents &:hover
			background-color: $mark-color

/*priority nav end

/*NAVIGATION end*/