@import ../utils/variables
@import ../utils/mixins
@import ../../libs/include-media/dist/include-media

/*NAVIGATION*/
/*nav layout
.nav-wrap
	position: relative
	z-index: 95
	margin-right: 240px
	padding: 0
	//padding: 0 0 0 $grid-layout-space

	//+media('<desk-lg')
		padding: 0 0 0 $grid-layout-space--desk-hd

	//+media('<desk-md')
		padding: 0 0 0 $grid-layout-space--desk-md

	+media('<desk-sm')
		display: none

	.go-to-mchs ~ &
		margin-left: $go-to-mchs-width

//+media('<mob-lg')
	padding: 0
	margin-right: 0

/*nav layout end

/*nav common
.nav
	//margin: 0 0 0 -#{$nav-item-space}

	.nav__list
		position: relative
		+clear-spacing
		//for priority nav
		vertical-align: top
		z-index: 10

		//temporarily 2016.04.05
		//overflow: hidden
		//white-space: nowrap

		// ГРАДИЕНТНАЯ МАСКА вконце списка для плавного скрытия лишних пунктов
		//&::after
			+pseudo()
			top: 0
			right: 0
			height: 100%
			width: 80px
			+linear-gradient(to left, #00487c 0, #00487c 20%, rgba(0, 72, 124, 0) 100%)
			z-index: 5

	li
		position: relative
		// для 3d анимации
		//perspective: 1500px

		&.hover, .no-js &:hover, &.active
			z-index: 2

	a
		display: block
		position: relative
		padding: 12px $nav-item-space
		font-weight: 400
		+font($font-size-small, 24px)
		letter-spacing: normal
		color: white
		text-decoration: none
		// for animation
		transition-property: color, background-color
		transition-duration: $animation-speed

/*nav common end

/*nav item arrow
.nav__angle
	position: absolute
	right: 30px
	top: 50%
	width: 7px
	height: 13px
	margin-top: -6px
	// all arrow are hide
	display: none
	// если не нужен клик
	cursor: default
	pointer-events: none

	&::before, &::after
		+pseudo()
		left: 0
		top: 50%
		height: 2px
		width: 8px
		border-radius: 4px
		background: $text-color
		//for animation
		transition-property: background
		transition-duration: $animation-speed

	&::before
		transform: rotate(45deg)
		margin: -4px 0 0 -1px

	&::after
		transform: rotate(-45deg)
		margin: 1px 0 0 -1px

/*nav item arrow end

/*nav drop common
// общие стили для всех ПОДМЕНЮ
.nav__drop
	display: block
	position: absolute
	left: 0
	top: 100%
	width: 320px
	background: #f2f2f2
	border: 1px solid $border-color
	box-shadow: 0 8px 25px rgba(0, 0, 0, 0.25)
	z-index: 100
	//hide drop
	opacity: 0
	visibility: hidden
	//for animation
	transform-origin: center top
	transform: rotateX(-30deg)
	transition-property: opacity, visibility, transform
	transition-duration: $animation-speed
	transition-timing-function: cubic-bezier(0.25, 1, 0.25, 1)

	li.align-right > &
		left: auto
		right: 100%
		margin-left: 0
		margin-right: -10px

	li.align-bottom > &
		top: auto
		bottom: 0
		margin-top: 0
		margin-bottom: 5px

	li.hover > &, .no-js li:hover > &, li.active > &
		opacity: 1
		visibility: visible
		transform: rotateX(0deg)

	a
		color: $text-color
		text-transform: none
		background: white
		border-top: 1px solid #e0e0e0

	li
		&:first-child > .nav__tab > a
			border-top: none

		//&.has-drop > a
			padding-right: 60px

		&.hover, .no-js &:hover
			& > .nav__tab > a
				background: #f3f3f3

	.nav__drop
		top: 0
		left: 100%
		z-index: auto
		+margin($t: 5px, $l: -5px)

// если у пунктов подменю есть свои подменю
.nav__drop .has-drop > .nav__tab
	& > a
		padding-right: 45px

	// показываем стрелку, если есть подменю
	& > .nav__angle
		display: block

/*nav drop common end

/*nav drop level 1
// подменю первого уровня и подменю первого уровня для "priority-nav"
.nav__list, .priority-nav__dropdown
	& > li
		& > .nav__drop
			min-width: 100%
			border-top: none
			white-space: normal
			margin-left: -1px

		&.align-right > .nav__drop
			left: auto
			right: 0
			margin: 0 -1px 0 0

/*main items
// пункты меню ПЕРВОГО уровня
.nav__list > li, .priority-nav__dropdown > li
	display: inline-block
	vertical-align: top
	position: relative

	&.active
		z-index: 1

	& > a, & > .nav__tab > a
		display: block
		padding: 17px $nav-item-space
		+font($font-size-small, 26px)
		color: #fff
		text-align: center
		background: none
		box-shadow: inset -1px 0 0 rgba(255, 255, 255, 0.15)
		//z-index: 95

		+media('<mob-lg')
			+padding-vertical(12px)

	&.hover, &.active, &.current, .no-js &:hover
		& > .nav__tab > a
			background: $color-nav-bg-hover
			color: $text-color
			box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.15)

.priority-nav__dropdown > li
	& > a, & > .nav__tab > a
		box-shadow: inset -1px -1px 0 rgba(255, 255, 255, 0.15), 0 -1px 0 rgba(255, 255, 255, 0.15)

/*main items end

//.priority-nav__dropdown > li > a span
	display: inline-block
	vertical-align: top
	+truncate(50px)

	+media('<desk-md')
		+truncate-reset

/*nav drop level 1 end

/*nav drop level 2
//.sub1-nav__list

//.sub1-nav__list > li

//.sub1-nav__list > li > a

//.sub1-nav__drop
/*nav drop level 2 end

/*nav drop level 3
//.sub2-nav__list

//.sub2-nav__list > li

//.sub2-nav__list > li > a

//.sub2-nav__drop
/*nav drop 3 end

/*priority nav
.nav
	.priority-nav__wrapper, .priority-nav__dropdown-toggle
		position: relative
		display: inline-block
		vertical-align: top
		width: auto
		height: auto
		padding: 0
		margin: 0
		border: none
		opacity: 1
		visibility: visible
		transform: none
		background: none
		z-index: auto
		box-shadow: none

	.priority-nav__dropdown-toggle
		height: $header-top-height
		+padding-horizontal(#{$nav-item-space})
		color: white
		// for animation
		transition-property: background-color, color
		transition-duration: $animation-speed
		box-shadow: inset -1px 0 0 rgba(255, 255, 255, 0.15)

		.no-touchevents &:hover, &.is-open
			background-color: white
			color: $text-color

	.priority-nav__dropdown
		position: fixed
		top: $header-top-height
		left: $sidebar-left-width
		width: calc(100% - #{$sidebar-left-width})
		max-width: $main-layout-width
		+linear-gradient(to right, #006ab8 0%, #00487c 100%)
		box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.15)

	&.is-open.priority-nav
		white-space: normal

/*priority nav end

/*button navigation open*/
.btn-nav
	//<a href="#" class="btn-map-site"><i></i><span>Текс кнопки</span></a>
	$btn-nav-bg: white
	$btn-nav-color: white
	$btn-nav-min-height: $header-top-height
	$btn-nav-space: 12px
	$btn-nav-lines-width: 22px
	$btn-nav-lines-height: 3px
	$btn-nav-lines-space: 5px
	$btn-nav-lines-color: $btn-nav-color

	=line-style()
		+size($btn-nav-lines-width, $btn-nav-lines-height)
		background: $btn-nav-lines-color

	=transition()
		transition-property: transform, box-shadow, background-color
		transition-duration: $animation-speed

	text-decoration: none
	color: $text-color
	background: $btn-nav-bg
	+clear-spacing
	white-space: nowrap
	display: none // прячем, пока не понадобится

	+media('<desk-sm')
		display: inline-block

	&::before
		+pseudo($pos: relative)
		+ratio(1, 1)

	> span
		+hide-text

	> i
		//display: inline-block
		//vertical-align: middle
		//position: relative
		position: absolute
		left: 50%
		top: 50%
		backface-visibility: hidden
		+margin($t: -#{round($btn-nav-lines-height/2)}, $l: -#{round($btn-nav-lines-width/2)})
		+line-style

		&::before, &::after
			+pseudo()
			left: 0
			+line-style
			backface-visibility: hidden

		//first line menu
		&::before
			top: -#{$btn-nav-lines-height + $btn-nav-lines-space}

		//third line menu
		&::after
			top: #{$btn-nav-lines-height + $btn-nav-lines-space}

	.no-touchevents &:hover > i
		&::before
			transform: translate(0, -2px)

		&::after
			transform: translate(0, 2px)


/*button navigation open end*/
/*NAVIGATION end*/

/*NAVIGATION MOBILE*/
/*MENU REGION
$nav-mobile-text-color: rgba(255, 255, 255, 0.50) !default
$nav-mobile-bg-color: white !default
$nav-mobile-bg-color-s: $text-color-alt !default
$nav-mobile-bg-color-ss: shade($nav-mobile-bg-color-s, 86%) !default
$nav-mobile-bg-color-sss: shade($nav-mobile-bg-color-s, 72%) !default
$nav-mobile-bg-color-ssss: shade($nav-mobile-bg-color-s, 58%) !default
$nav-mobile-bg-color-sssss: shade($nav-mobile-bg-color-s, 44%) !default
$nav-mobile-border-color: rgba(0, 0, 0, 0.15) !default
$nav-mobile-tab-height: 70px !default

// ==================== ОБЩИЕ стили для пунктов навигации =====================
.nav-mobile__list
	position: relative

	li
		position: relative
		overflow: hidden

	.nav-mobile__tab
		position: relative

	a
		display: block
		position: relative
		color: $nav-mobile-text-color
		text-decoration: none
		transition-property: color, background-color
		transition-duration: $animation-speed
		padding: 21px $grid-inside-horizontal-space 22px
		border-bottom: 1px solid $nav-mobile-border-color
		font-size: 1.4rem
		line-height: 1.429
		letter-spacing: 0.02em

// стили для пунктов навигации, у которых ЕСТЬ ПОДМЕНЮ
.nav-mobile__list li.has-drop > .nav-mobile__tab > a
	padding-right: (round($grid-inside-horizontal-space*2.5))

// ==================== СТРЕЛКИ навигации =====================
.nav-mobile__angle
	position: absolute
	right: 0
	top: 0
	width: round($grid-inside-horizontal-space*2)
	height: 100%
	background-color: $nav-mobile-bg-color
	border: solid $nav-mobile-border-color
	border-width: 0 0 1px 1px
	transition-property: transform, color, background-color
	transition-duration: $animation-speed
	z-index: 2
	cursor: pointer
	display: none

	li.has-drop > .nav-mobile__tab > &
		display: block

	i
		position: absolute
		left: 50%
		top: 50%
		width: 12px
		height: 8px
		pointer-events: none
		margin: -4px 0 0 -6px
		transition-property: transform
		transition-duration: $animation-speed
		font-size: 0
		line-height: 0

		&::before, &::after
			content: ''
			position: absolute
			bottom: 0
			height: 10px
			width: 2px
			border-radius: 2px
			backface-visibility: hidden
			background-color: $nav-mobile-text-color
			transform-origin: center center
			transition-property: background-color
			transition-duration: $animation-speed

		&::before
			right: 50%
			transform-origin: right bottom
			transform: rotate(45deg)

		&::after
			left: 50%
			transform-origin: left bottom
			transform: rotate(-45deg)

	// ховер
	.no-touchevents &:hover i
		&::before, &::after
			background-color: white

// стили стрелок навигации для разных состояний
.nav-mobile__angle

	// активное (подменю открыто)
	li.is-open > .nav-mobile__tab & i
		transform: rotate(-0.5turn)

// ==================== ОБЩИЕ стили для ПОДМЕНЮ навигации ==================
.nav-mobile__drop
	position: relative
	background-color: $nav-mobile-bg-color
	display: none

// ==================== стили для пункта навигации ТЕКУЩЕЙ страницы =================
.nav-mobile__list li.current > .nav-mobile__tab

	&, .no-touchevents &

		a, a:hover
			color: white
			box-shadow: inset 5px 0 0 white

// ===================== стили для АКТИВНОГО пункта навигации (С ОТКРЫТЫМ ПОДМЕНЮ) =================
.nav-mobile__list li
	&.is-open > .nav-mobile__tab a
		&::before
			opacity: 1
			transform: translate(0, 0)

// ===================== особые стили для пунктов навигации ПЕРВОГО урованя ====================
.nav-mobile__list > li

	& > .nav-mobile__tab
		a
			font-family: $font-alt
			font-weight: 400
			font-size: 1.6rem
			line-height: 1.5
			color: $text-color
			background-color: $nav-mobile-bg-color
			+padding-vertical(18px, 17px)

			// стили для ховера (список ПЕРВОГО урованя)
			.no-touchevents &:hover
				color: $text-color-alt

		.nav-mobile__angle
			i
				&::before, &::after
					background-color: $text-color

			// ховер
			.no-touchevents &:hover i
				&::before, &::after
					background-color: $text-color-alt

	// стили для пункта ТЕКУЩЕЙ страницы (список ПЕРВОГО урованя)
	&.current > .nav-mobile__tab

		&, .no-touchevents &

			a, a:hover
				color: $text-color-alt
				box-shadow: inset 5px 0 0 $text-color-alt

// ================= особые стили для пунктов ПОДМЕНЮ ===================
.nav-mobile__drop

	// особые стили для пунктов навигации ВТОРОГО урованя
	ul, a, .nav-mobile__angle
		background-color: $nav-mobile-bg-color-s

		.no-touchevents &:hover
			color: white

	.nav-mobile__drop
		// особые стили для пунктов навигации ТРЕТЬЕГО урованя
		ul, a, .nav-mobile__angle
			background-color: $nav-mobile-bg-color-ss

		.nav-mobile__drop
			// особые стили для пунктов навигации ЧЕТВЕРТОГО урованя
			ul, a, .nav-mobile__angle
				background-color: $nav-mobile-bg-color-sss

			.nav-mobile__drop
				// особые стили для пунктов навигации ПЯТОГО урованя
				ul, a, .nav-mobile__angle
					background-color: $nav-mobile-bg-color-ssss

/*NAVIGATION MOBILE end*/