@import ../utils/variables
@import ../utils/mixins
@import ../../libs/include-media/dist/include-media

/*SIDEBAR*/
/*sidebar top*/
.sidebar-top
	z-index: 30

.sidebar-top__holder
	position: relative
	padding: 16px 0
	border-bottom: 1px solid $bg-color
	background: white

/*sidebar top end*/

/*sidebar menu*/
.sidebar-menu-wrap
	overflow: hidden
	position: relative

.sidebar-menu
	background: white
	position: relative

	//border-top: 1px solid $bg-color

	a
		display: block
		position: relative
		padding: 8px #{$sidebar-inner-space-horizontal}
		text-decoration: none
		font-weight: 400
		font-size: $font-size-small
		line-height: $line-height-small
		color: $text-color
		transition-property: color, opacity, visibility
		transition-duration: $animation-speed-mouseleave

		.no-touchevents &:hover, .no-touchevents &.active-section, &.active-section
			color: $text-color-alt
			transition-duration: $animation-speed

		&::before
			content: ''
			position: absolute
			left: 0
			top: 0
			height: 100%
			width: 4px
			background: $text-color-alt
			opacity: 0
			visibility: hidden
			transition-property: color, opacity, visibility
			transition-duration: $animation-speed-mouseleave

		&.active-section::before
			opacity: 1
			visibility: visible

.nav-menu-opener
	position: absolute
	top: 0
	right: 0
	+size(70px, 36px)
	cursor: pointer
	z-index: 99

	&::before
		+pseudo()
		top: 0
		right: 0
		+size(70px, 100%)
		+linear-gradient(to left, white 0%, white 80%, rgba(255, 255, 255, 0) 100%)

	i
		$menu-opener-icon-height: 8px

		position: absolute
		right: #{$grid-inside-horizontal-space + 6}
		top: 50%
		+size(10px, $menu-opener-icon-height)
		margin-top: -#{round($menu-opener-icon-height*0.5)}
		+font(0, 0)

		&::after
			+pseudo()
			bottom: 0
			left: 0
			+triangle(top, $text-color-light, 5px, 1.5)
			transition-property: border-color
			transition-duration: $animation-speed

	.no-touchevents &:hover i::after
		border-bottom-color: $text-color-alt

	.short-view &
		+size(100%)

		i::after
			transform: rotate(0.5turn)

/*sidebar-menu end*/

/*sidebar bottom*/
.sidebar-bottom
	width: 100%
	background-color: white
	//position: relative  // нельзя задавать position, кроме static. нужно для работы sticky-kit

.sidebar-bottom__holder
	height: 100%

.sidebar-bottom__frame
	overflow-x: hidden
	overflow-y: auto
	max-height: 100%
	padding: 0 0 36px

	& > *:last-child
		margin-bottom: 0

.sidebar-bottom__heading
	position: relative
	padding: round($sidebar-inner-space-horizontal*0.8) $sidebar-inner-space-horizontal
	background-color: white
	//border-top: 1px solid $bg-color
	z-index: 15

	&::after
		+pseudo()
		left: 0
		top: 100%
		width: 100%
		height: 30px
		pointer-events: none
		opacity: 0
		visibility: hidden
		+linear-gradient(to bottom, white 0, rgba(255, 255, 255, 0) 100%)

	.sidebar-top.is_stuck &::after
		opacity: 1
		visibility: visible

	h4, h3, h2
		margin-bottom: 0

		.btn-filters-open + &
			padding-right: 30px


.sidebar-bottom__heading, .popup-news__heading
	.btn-filters-open
		position: absolute
		top: 50%
		right: $sidebar-inner-space-horizontal
		transform: translate(0, -50%)
		z-index: 1

		& > span
			+hide-text

		svg
			display: block
			+size(24px)

		path
			fill: $text-color-light
			transition: fill $animation-speed

		.no-touchevents &:hover
			path
				fill: $text-color-alt

.sidebar-bottom__content
	position: relative
	background-color: white
	padding: round($sidebar-inner-space-horizontal*0.8) $sidebar-inner-space-horizontal
	z-index: 10

	//&:last-child
		padding-bottom: 0

/*sidebar bottom end*/
/*SIDEBAR end*/