/*SIDEBAR*/
/*sidebar top*/
.sidebar-top
	z-index: 30

/*sidebar top end*/

/*sidebar-menu*/
.sidebar-menu
	background: #001e33
	padding: 28px 0

	=transition()
		-webkit-transition-property: color, opacity, visibility
		transition-property: color, opacity, visibility
		-webkit-transition-duration: $animation-speed-mouseleave
		transition-duration: $animation-speed-mouseleave

	=transition-duration()
		-webkit-transition-duration: $animation-speed
		transition-duration: $animation-speed

	a
		display: block
		position: relative
		padding: 8px 40px
		text-decoration: none
		font-size: $font-size-small
		line-height: $line-height-small
		color: #7d9cb2
		+transition

		.no-touchevents &:hover, .no-touchevents &.active-section, &.active-section
			color: #fff
			+transition-duration

		&:before
			content: ''
			position: absolute
			left: 0
			top: 0
			height: 100%
			width: 4px
			background: $mark-color
			opacity: 0
			visibility: hidden
			+transition

		&.active-section:before
			opacity: 1
			visibility: visible

/*sidebar-menu end*/

/*sidebar bottom*/
.sidebar-bottom
	width: 100%
	background-color: white
	//position: relative  // нельзя задавать position, кроме static. нужно для работы sticky-kit

.sidebar-bottom__holder
	height: 100%

.sidebar-bottom__frame
	overflow-x: hidden
	overflow-y: auto
	max-height: 100%
	-webkit-overflow-scrolling: touch
	padding: 0 0 36px

	& > *:last-child
		margin-bottom: 0

.sidebar-bottom__heading
	position: relative
	padding: 25px $sidebar-inner-space-horizontal
	background-color: white
	z-index: 15

	&::after
		+pseudo()
		left: 0
		top: 100%
		width: 100%
		height: 30px
		pointer-events: none
		opacity: 0
		visibility: hidden
		+linear-gradient(to bottom, white 0, rgba(255, 255, 255, 0) 100%)
		transition-property: opacity, visibility
		transition-duration: $animation-speed

	&.is_stuck::after
		opacity: 1
		visibility: visible

	h4, h3, h2
		margin-bottom: 0

.sidebar-bottom__content
	position: relative
	background-color: white
	padding: 18px $sidebar-inner-space-horizontal
	z-index: 10

/*sidebar bottom end*/
/*SIDEBAR end*/