@import ../utils/variables
@import ../utils/mixins
@import ../../libs/include-media/dist/include-media

/*SIDEBAR*/
/*sidebar top*/
.sidebar-top
	z-index: 30

/*sidebar top end*/

/*sidebar-menu*/
.sidebar-menu
	background: #001e33
	padding: 28px 0

	a
		display: block
		position: relative
		padding: 8px #{$sidebar-inner-space-horizontal}
		text-decoration: none
		font-size: $font-size-small
		line-height: $line-height-small
		color: white
		transition-property: color, opacity, visibility
		transition-duration: $animation-speed-mouseleave

		.no-touchevents &:hover, .no-touchevents &.active-section, &.active-section
			color: #7d9cb2
			transition-duration: $animation-speed

		&::before
			content: ''
			position: absolute
			left: 0
			top: 0
			height: 100%
			width: 4px
			background: $mark-color
			opacity: 0
			visibility: hidden
			transition-property: color, opacity, visibility
			transition-duration: $animation-speed-mouseleave

		&.active-section::before
			opacity: 1
			visibility: visible

/*sidebar-menu end*/

/*sidebar bottom*/
.sidebar-bottom
	width: 100%
	background-color: white
	//position: relative  // нельзя задавать position, кроме static. нужно для работы sticky-kit

.sidebar-bottom__holder
	height: 100%

.sidebar-bottom__frame
	overflow-x: hidden
	overflow-y: auto
	max-height: 100%
	padding: 0 0 36px

	& > *:last-child
		margin-bottom: 0

.sidebar-bottom__heading
	position: relative
	padding: round($sidebar-inner-space-horizontal*0.8) $sidebar-inner-space-horizontal
	background-color: white
	z-index: 15
	border-top: 1px solid $bg-color

	&::after
		+pseudo()
		left: 0
		top: 100%
		width: 100%
		height: 30px
		pointer-events: none
		opacity: 0
		visibility: hidden
		+linear-gradient(to bottom, white 0, rgba(255, 255, 255, 0) 100%)
		transition-property: opacity, visibility
		transition-duration: $animation-speed

	&.is_stuck::after
		opacity: 1
		visibility: visible

	h4, h3, h2
		margin-bottom: 0

.sidebar-bottom__content
	position: relative
	background-color: white
	padding: round($sidebar-inner-space-horizontal*0.8) $sidebar-inner-space-horizontal
	z-index: 10

/*sidebar bottom end*/
/*SIDEBAR end*/